Repository unicode-org/icu4x, pull requests merged in 2022-05, with the labels that each got.

#1842 Add `new_X_(date|datetime)_from_integers` examples
  components/calendar/src/buddhist.rs
  components/calendar/src/coptic.rs
  components/calendar/src/ethiopic.rs
  components/calendar/src/gregorian.rs
  components/calendar/src/indian.rs
  components/calendar/src/iso.rs
  components/calendar/src/julian.rs
Labels: T-docs-tests

#1841 Adding Date, DateTime, Calendar examples to components/calendar/src/lib.rs
  components/calendar/README.md
  components/calendar/src/date.rs
  components/calendar/src/lib.rs
Labels: T-docs-tests

#1689 Move language detection to language.rs
  experimental/segmenter/src/language.rs
  experimental/segmenter/src/lstm.rs
Labels: waiting-on-author

#1918 Add hsivonen and echeran as the owners of collator and normalizer
  CODEOWNERS
Labels: C-collator

#1917 Remove the unused postcard dependency from the collator
  Cargo.lock
  experimental/collator/Cargo.toml
Labels: C-collator

#1913 Document the bit layout of CollationElement32
  experimental/collator/src/elements.rs
Labels: S-small, C-collator

#1942 Use a higher numeric value for `Strength::Identical`
  experimental/collator/src/options.rs
Labels: C-collator

#1914 Tweak CollationMetadataV1 documentation and dead code
  experimental/collator/src/comparison.rs
  experimental/collator/src/provider.rs
Labels: S-small, C-collator

#1931 GIGO fix-ups for the normalizer and the collator
  experimental/collator/src/elements.rs
  experimental/collator/src/provider.rs
  experimental/normalizer/src/lib.rs
Labels: S-small, C-collator
