Repository unicode-org/icu4x, pull requests merged in 2025-06, with the labels that each got.

#6537 Port sort key code from ICU4C (#2689)
  Cargo.lock
  components/collator/Cargo.toml
  components/collator/src/comparison.rs
  components/collator/src/elements.rs
  components/collator/src/lib.rs
  components/collator/src/options.rs
  components/normalizer/src/lib.rs
  ffi/capi/tests/missing_apis.txt
Labels: discuss-priority, C-collator

#6657 Move more datagen-only structs from icu_datetime to icu_provider_source
  components/datetime/src/provider/calendar/mod.rs
  components/datetime/src/provider/calendar/symbols.rs
  components/datetime/src/provider/mod.rs
  components/datetime/src/provider/neo/mod.rs
  components/datetime/src/provider/pattern/hour_cycle.rs
  components/datetime/src/provider/skeleton/available_formats.rs
  components/datetime/src/provider/skeleton/error.rs
  components/datetime/src/provider/skeleton/generic_length_patterns.rs
  components/datetime/src/provider/skeleton/helpers.rs
  components/datetime/src/provider/skeleton/mod.rs
  components/datetime/src/provider/skeleton/plural.rs
  components/datetime/src/provider/skeleton/reference.rs
  components/datetime/src/provider/skeleton/runtime.rs
  components/datetime/src/provider/skeleton/serde.rs
  provider/source/src/datetime/legacy.rs
  provider/source/src/datetime/mod.rs
  provider/source/src/datetime/names.rs
  provider/source/src/datetime/neo_skeleton.rs
  provider/source/src/datetime/patterns.rs
  provider/source/src/datetime/skeletons.rs
  provider/source/src/datetime/symbols.rs
Labels: discuss-priority

#6674 Add Latin1 comparisons to the collator
  components/collator/Cargo.toml
  components/collator/src/comparison.rs
  components/collator/tests/tests.rs
  ffi/capi/tests/missing_apis.txt
Labels: C-collator, U-gecko
