Repository unicode-org/icu4x, changes with the owners that CODEOWNERS names for each.
All owners: @unicode-org/icu4x-sc, @zbraniecki, @sffc, @nciric, @echeran, @filmil

CODEOWNERS:

# See https://github.blog/2017-07-06-introducing-code-owners/ for details
# Format of the file follows: https://git-scm.com/docs/gitattributes

# Fallback to core group for crates or folders without specific owners, like docs/.

* @unicode-org/icu4x-sc

# List of components with at least two owners as specified in docs/crate-ownership.

components/datetime/            @zbraniecki @sffc
components/locid/               @zbraniecki @nciric
components/plurals/             @zbraniecki @sffc
components/uniset/              @echeran
ffi/ecma402/             @filmil
provider/cldr/       @sffc
provider/core/            @sffc
provider/fs/         @sffc
provider/testdata/             @sffc
utils/fixed_decimal/            @sffc

add Heap – macos-latest (ndjson) benchmark result for 8d99c160c4581dc247127c328ced20eda809fc43
  benchmarks/memory/macos-latest/data.js
Owners: @unicode-org/icu4x-sc

add Heap – macos-latest (ndjson) benchmark result for cd5b0d278ce455c13dfbd29a4a84694aa9f026fc
  benchmarks/memory/macos-latest/data.js
Owners: @unicode-org/icu4x-sc

add Heap – windows-latest (ndjson) benchmark result for cd5b0d278ce455c13dfbd29a4a84694aa9f026fc
  benchmarks/memory/windows-latest/data.js
Owners: @unicode-org/icu4x-sc

Improve docs in PluralRules and FixedDecimal (#886)
  components/plurals/src/operands.rs
  utils/fixed_decimal/src/decimal.rs
Owners: @zbraniecki, @sffc

Bring back result types
  ffi/capi/diplomat_gen_all.sh
  ffi/capi/examples/fixeddecimal/test.c
  ffi/capi/examples/locale/test.c
  ffi/capi/include/api.h
  ffi/capi/src/decimal.rs
  ffi/capi/src/locale.rs
  ffi/cpp/examples/fixeddecimal/test.cpp
  ffi/cpp/examples/pluralrules/test.cpp
  ffi/cpp/include/api.h
  ffi/cpp/include/api.hpp
  ffi/cpp/include/diplomat_runtime.hpp
  ffi/wasm/docs.rst
  ffi/wasm/example/main.mjs
  ffi/wasm/lib/api.mjs
  ffi/wasm/test/fixed-decimal-format.mjs
Owners: @unicode-org/icu4x-sc

add Rust Benchmark (cargo) benchmark result for 871b9869064b1c056dd7ee13128a33158762bfaa
  benchmarks/perf/utils/fixed_decimal/data.js
Owners: @unicode-org/icu4x-sc

add Benchmark (ndjson) benchmark result for 871b9869064b1c056dd7ee13128a33158762bfaa
  benchmarks/binsize/data.js
Owners: @unicode-org/icu4x-sc

add Rust Benchmark (cargo) benchmark result for 871b9869064b1c056dd7ee13128a33158762bfaa
  benchmarks/perf/components/locid/data.js
Owners: @unicode-org/icu4x-sc

add Rust Benchmark (cargo) benchmark result for 871b9869064b1c056dd7ee13128a33158762bfaa
  benchmarks/perf/components/uniset/data.js
Owners: @unicode-org/icu4x-sc

add Rust Benchmark (cargo) benchmark result for 871b9869064b1c056dd7ee13128a33158762bfaa
  benchmarks/perf/components/datetime/data.js
Owners: @unicode-org/icu4x-sc

add Rust Benchmark (cargo) benchmark result for 871b9869064b1c056dd7ee13128a33158762bfaa
  benchmarks/perf/components/plurals/data.js
Owners: @unicode-org/icu4x-sc

add Heap – ubuntu-latest (ndjson) benchmark result for 871b9869064b1c056dd7ee13128a33158762bfaa
  benchmarks/memory/ubuntu-latest/data.js
Owners: @unicode-org/icu4x-sc

add Heap – windows-latest (ndjson) benchmark result for 871b9869064b1c056dd7ee13128a33158762bfaa
  benchmarks/memory/windows-latest/data.js
Owners: @unicode-org/icu4x-sc

add Heap – macos-latest (ndjson) benchmark result for 871b9869064b1c056dd7ee13128a33158762bfaa
  benchmarks/memory/macos-latest/data.js
Owners: @unicode-org/icu4x-sc

Rename data errors to MissingResource
  provider/blob/src/static_data_provider.rs
  provider/cldr/src/transform/aliases.rs
  provider/cldr/src/transform/dates/patterns.rs
  provider/cldr/src/transform/dates/symbols.rs
  provider/cldr/src/transform/likelysubtags.rs
  provider/cldr/src/transform/mod.rs
  provider/cldr/src/transform/numbers/mod.rs
  provider/cldr/src/transform/time_zones/mod.rs
  provider/core/src/data_provider/test.rs
  provider/core/src/dynutil.rs
  provider/core/src/error.rs
  provider/core/src/hello_world.rs
  provider/core/src/iter.rs
  provider/core/src/resource.rs
  provider/fs/src/fs_data_provider.rs
  provider/fs/tests/test_file_io.rs
Owners: @unicode-org/icu4x-sc, @sffc

Rename data errors to MissingResource (#893)
  provider/blob/src/static_data_provider.rs
  provider/cldr/src/transform/aliases.rs
  provider/cldr/src/transform/dates/patterns.rs
  provider/cldr/src/transform/dates/symbols.rs
  provider/cldr/src/transform/likelysubtags.rs
  provider/cldr/src/transform/mod.rs
  provider/cldr/src/transform/numbers/mod.rs
  provider/cldr/src/transform/time_zones/mod.rs
  provider/core/src/data_provider/test.rs
  provider/core/src/dynutil.rs
  provider/core/src/error.rs
  provider/core/src/hello_world.rs
  provider/core/src/iter.rs
  provider/core/src/resource.rs
  provider/fs/src/fs_data_provider.rs
  provider/fs/tests/test_file_io.rs
Owners: @unicode-org/icu4x-sc, @sffc

add Benchmark (ndjson) benchmark result for 0b38c6f03d4c182d6dd899e300b8e1b207b74895
  benchmarks/binsize/data.js
Owners: @unicode-org/icu4x-sc

add Rust Benchmark (cargo) benchmark result for 0b38c6f03d4c182d6dd899e300b8e1b207b74895
  benchmarks/perf/components/uniset/data.js
Owners: @unicode-org/icu4x-sc

add Rust Benchmark (cargo) benchmark result for 0b38c6f03d4c182d6dd899e300b8e1b207b74895
  benchmarks/perf/utils/fixed_decimal/data.js
Owners: @unicode-org/icu4x-sc

add Rust Benchmark (cargo) benchmark result for 0b38c6f03d4c182d6dd899e300b8e1b207b74895
  benchmarks/perf/components/locid/data.js
Owners: @unicode-org/icu4x-sc

add Rust Benchmark (cargo) benchmark result for 0b38c6f03d4c182d6dd899e300b8e1b207b74895
  benchmarks/perf/components/plurals/data.js
Owners: @unicode-org/icu4x-sc

add Rust Benchmark (cargo) benchmark result for 0b38c6f03d4c182d6dd899e300b8e1b207b74895
  benchmarks/perf/components/datetime/data.js
Owners: @unicode-org/icu4x-sc

add Heap – ubuntu-latest (ndjson) benchmark result for 0b38c6f03d4c182d6dd899e300b8e1b207b74895
  benchmarks/memory/ubuntu-latest/data.js
Owners: @unicode-org/icu4x-sc

add Heap – windows-latest (ndjson) benchmark result for 0b38c6f03d4c182d6dd899e300b8e1b207b74895
  benchmarks/memory/windows-latest/data.js
Owners: @unicode-org/icu4x-sc

add Heap – macos-latest (ndjson) benchmark result for 0b38c6f03d4c182d6dd899e300b8e1b207b74895
  benchmarks/memory/macos-latest/data.js
Owners: @unicode-org/icu4x-sc

Update CHANGELOG for 0.3
  CHANGELOG.md
Owners: @unicode-org/icu4x-sc

add Rust Benchmark (cargo) benchmark result for 288aab2ca18012798d51f0454b4ba36f178b815d
  benchmarks/perf/utils/fixed_decimal/data.js
Owners: @unicode-org/icu4x-sc

add Benchmark (ndjson) benchmark result for 288aab2ca18012798d51f0454b4ba36f178b815d
  benchmarks/binsize/data.js
Owners: @unicode-org/icu4x-sc

add Rust Benchmark (cargo) benchmark result for 288aab2ca18012798d51f0454b4ba36f178b815d
  benchmarks/perf/components/datetime/data.js
Owners: @unicode-org/icu4x-sc

add Rust Benchmark (cargo) benchmark result for 288aab2ca18012798d51f0454b4ba36f178b815d
  benchmarks/perf/components/locid/data.js
Owners: @unicode-org/icu4x-sc

add Rust Benchmark (cargo) benchmark result for 288aab2ca18012798d51f0454b4ba36f178b815d
  benchmarks/perf/components/uniset/data.js
Owners: @unicode-org/icu4x-sc

add Rust Benchmark (cargo) benchmark result for 288aab2ca18012798d51f0454b4ba36f178b815d
  benchmarks/perf/components/plurals/data.js
Owners: @unicode-org/icu4x-sc

add Heap – ubuntu-latest (ndjson) benchmark result for 288aab2ca18012798d51f0454b4ba36f178b815d
  benchmarks/memory/ubuntu-latest/data.js
Owners: @unicode-org/icu4x-sc

add Heap – macos-latest (ndjson) benchmark result for 288aab2ca18012798d51f0454b4ba36f178b815d
  benchmarks/memory/macos-latest/data.js
Owners: @unicode-org/icu4x-sc

add Heap – windows-latest (ndjson) benchmark result for 288aab2ca18012798d51f0454b4ba36f178b815d
  benchmarks/memory/windows-latest/data.js
Owners: @unicode-org/icu4x-sc

Bump version numbers to 0.3
  Cargo.lock
  components/datetime/Cargo.toml
  components/decimal/Cargo.toml
  components/icu/Cargo.toml
  components/locale_canonicalizer/Cargo.toml
  components/locid/Cargo.toml
  components/locid/macros/Cargo.toml
  components/plurals/Cargo.toml
  components/uniset/Cargo.toml
  experimental/calendar/Cargo.toml
  experimental/provider_ppucd/Cargo.toml
  ffi/capi/Cargo.toml
  ffi/ecma402/Cargo.toml
  provider/blob/Cargo.toml
  provider/cldr/Cargo.toml
  provider/core/Cargo.toml
  provider/fs/Cargo.toml
  provider/macros/Cargo.toml
  provider/testdata/Cargo.toml
  tools/benchmark/macros/Cargo.toml
  tools/datagen/Cargo.toml
  utils/fixed_decimal/Cargo.toml
  utils/litemap/Cargo.toml
  utils/writeable/Cargo.toml
  utils/zerovec/Cargo.toml
Owners: @unicode-org/icu4x-sc, @zbraniecki, @sffc, @nciric, @echeran, @filmil

Bump Rust version to 1.54.0
  rust-toolchain
Owners: @unicode-org/icu4x-sc

Bump Yoke to 0.2.3
  Cargo.lock
  utils/yoke/Cargo.toml
Owners: @unicode-org/icu4x-sc

add Benchmark (ndjson) benchmark result for d3a5153c6da23e434a05ddfae441d2ecc39f1d5c
  benchmarks/binsize/data.js
Owners: @unicode-org/icu4x-sc

add Rust Benchmark (cargo) benchmark result for d3a5153c6da23e434a05ddfae441d2ecc39f1d5c
  benchmarks/perf/utils/fixed_decimal/data.js
Owners: @unicode-org/icu4x-sc
