Repository unicode-org/icu4x, changes with the owners that CODEOWNERS names for each.
All owners: @unicode-org/icu4x-sc, @zbraniecki, @sffc, @nciric, @echeran, @filmil

add no_std to fixeddecimal
  components/decimal/Cargo.toml
  components/decimal/src/lib.rs
Owners: @unicode-org/icu4x-sc

add Heap – ubuntu-latest (ndjson) benchmark result for 77e8269d25798b7a4963bee1a0b639659bfe2d57
  benchmarks/memory/ubuntu-latest/data.js
Owners: @unicode-org/icu4x-sc

add Heap – windows-latest (ndjson) benchmark result for 77e8269d25798b7a4963bee1a0b639659bfe2d57
  benchmarks/memory/windows-latest/data.js
Owners: @unicode-org/icu4x-sc

autoreplace
  components/decimal/src/error.rs
  components/decimal/src/format.rs
  components/decimal/src/provider.rs
Owners: @unicode-org/icu4x-sc

fmt
  components/decimal/src/provider.rs
Owners: @unicode-org/icu4x-sc

fix error
  components/decimal/src/error.rs
Owners: @unicode-org/icu4x-sc

add Heap – macos-latest (ndjson) benchmark result for 77e8269d25798b7a4963bee1a0b639659bfe2d57
  benchmarks/memory/macos-latest/data.js
Owners: @unicode-org/icu4x-sc

require std feature for pluralrules test
  components/plurals/Cargo.toml
Owners: @zbraniecki, @sffc

Add iterator of inversion list ranges to UnicodeSet (#839)
  components/uniset/benches/inv_list.rs
  components/uniset/src/builder.rs
  components/uniset/src/conversions.rs
  components/uniset/src/uniset.rs
  components/uniset/src/utils.rs
Owners: @echeran

add Rust Benchmark (cargo) benchmark result for ed677ed1baf0e2181edb8dc2a58ac10e3da8387b
  benchmarks/perf/utils/fixed_decimal/data.js
Owners: @unicode-org/icu4x-sc

add Rust Benchmark (cargo) benchmark result for ed677ed1baf0e2181edb8dc2a58ac10e3da8387b
  benchmarks/perf/components/datetime/data.js
Owners: @unicode-org/icu4x-sc

add Rust Benchmark (cargo) benchmark result for ed677ed1baf0e2181edb8dc2a58ac10e3da8387b
  benchmarks/perf/components/locid/data.js
Owners: @unicode-org/icu4x-sc

add Rust Benchmark (cargo) benchmark result for ed677ed1baf0e2181edb8dc2a58ac10e3da8387b
  benchmarks/perf/components/uniset/data.js
Owners: @unicode-org/icu4x-sc

add Rust Benchmark (cargo) benchmark result for ed677ed1baf0e2181edb8dc2a58ac10e3da8387b
  benchmarks/perf/components/plurals/data.js
Owners: @unicode-org/icu4x-sc

Move icu_plurals and icu_decimal to no_std (#888)
  Cargo.lock
  components/decimal/Cargo.toml
  components/decimal/src/error.rs
  components/decimal/src/format.rs
  components/decimal/src/lib.rs
  components/decimal/src/provider.rs
  components/plurals/Cargo.toml
  components/plurals/src/data.rs
  components/plurals/src/error.rs
  components/plurals/src/lib.rs
  components/plurals/src/operands.rs
  components/plurals/src/provider.rs
  components/plurals/src/rules/ast.rs
  components/plurals/src/rules/lexer.rs
  components/plurals/src/rules/parser.rs
  components/plurals/src/rules/serializer.rs
  ffi/ecma402/Cargo.toml
Owners: @unicode-org/icu4x-sc, @zbraniecki, @sffc, @filmil

add Heap – ubuntu-latest (ndjson) benchmark result for ed677ed1baf0e2181edb8dc2a58ac10e3da8387b
  benchmarks/memory/ubuntu-latest/data.js
Owners: @unicode-org/icu4x-sc

Fix name of Bidi_M (#884)
  components/uniset/src/provider.rs
  experimental/provider_ppucd/tests/testdata/ppucd-enum-props-test.txt
  experimental/provider_ppucd/tests/testdata/ppucd-inpc-topbotleft-test.txt
  experimental/provider_ppucd/tests/testdata/ppucd-sc-tglg-test.txt
  experimental/provider_ppucd/tests/testdata/ppucd-wspace-test.txt
Owners: @echeran, @unicode-org/icu4x-sc

add Heap – macos-latest (ndjson) benchmark result for ed677ed1baf0e2181edb8dc2a58ac10e3da8387b
  benchmarks/memory/macos-latest/data.js
Owners: @unicode-org/icu4x-sc

add Heap – windows-latest (ndjson) benchmark result for ed677ed1baf0e2181edb8dc2a58ac10e3da8387b
  benchmarks/memory/windows-latest/data.js
Owners: @unicode-org/icu4x-sc

add Rust Benchmark (cargo) benchmark result for 9acd1e99b12cc2c3eac2338fbe07f0059686b6e7
  benchmarks/perf/utils/fixed_decimal/data.js
Owners: @unicode-org/icu4x-sc

add Rust Benchmark (cargo) benchmark result for 9acd1e99b12cc2c3eac2338fbe07f0059686b6e7
  benchmarks/perf/components/uniset/data.js
Owners: @unicode-org/icu4x-sc

add Rust Benchmark (cargo) benchmark result for b76cb7961957945b2a1576d5c8f1ad25eb280279
  benchmarks/perf/components/uniset/data.js
Owners: @unicode-org/icu4x-sc

add Rust Benchmark (cargo) benchmark result for b76cb7961957945b2a1576d5c8f1ad25eb280279
  benchmarks/perf/utils/fixed_decimal/data.js
Owners: @unicode-org/icu4x-sc

add Rust Benchmark (cargo) benchmark result for 9acd1e99b12cc2c3eac2338fbe07f0059686b6e7
  benchmarks/perf/components/datetime/data.js
Owners: @unicode-org/icu4x-sc

add Rust Benchmark (cargo) benchmark result for 9acd1e99b12cc2c3eac2338fbe07f0059686b6e7
  benchmarks/perf/components/plurals/data.js
Owners: @unicode-org/icu4x-sc

add Rust Benchmark (cargo) benchmark result for b76cb7961957945b2a1576d5c8f1ad25eb280279
  benchmarks/perf/components/locid/data.js
Owners: @unicode-org/icu4x-sc

add Rust Benchmark (cargo) benchmark result for b76cb7961957945b2a1576d5c8f1ad25eb280279
  benchmarks/perf/components/datetime/data.js
Owners: @unicode-org/icu4x-sc

add Rust Benchmark (cargo) benchmark result for b76cb7961957945b2a1576d5c8f1ad25eb280279
  benchmarks/perf/components/plurals/data.js
Owners: @unicode-org/icu4x-sc

add Rust Benchmark (cargo) benchmark result for 9acd1e99b12cc2c3eac2338fbe07f0059686b6e7
  benchmarks/perf/components/locid/data.js
Owners: @unicode-org/icu4x-sc

add Heap – ubuntu-latest (ndjson) benchmark result for b76cb7961957945b2a1576d5c8f1ad25eb280279
  benchmarks/memory/ubuntu-latest/data.js
Owners: @unicode-org/icu4x-sc

add Heap – ubuntu-latest (ndjson) benchmark result for 9acd1e99b12cc2c3eac2338fbe07f0059686b6e7
  benchmarks/memory/ubuntu-latest/data.js
Owners: @unicode-org/icu4x-sc

add Heap – windows-latest (ndjson) benchmark result for b76cb7961957945b2a1576d5c8f1ad25eb280279
  benchmarks/memory/windows-latest/data.js
Owners: @unicode-org/icu4x-sc

add Heap – windows-latest (ndjson) benchmark result for 9acd1e99b12cc2c3eac2338fbe07f0059686b6e7
  benchmarks/memory/windows-latest/data.js
Owners: @unicode-org/icu4x-sc

add Heap – macos-latest (ndjson) benchmark result for b76cb7961957945b2a1576d5c8f1ad25eb280279
  benchmarks/memory/macos-latest/data.js
Owners: @unicode-org/icu4x-sc

add Heap – macos-latest (ndjson) benchmark result for 9acd1e99b12cc2c3eac2338fbe07f0059686b6e7
  benchmarks/memory/macos-latest/data.js
Owners: @unicode-org/icu4x-sc

Fix duckscript
  tools/scripts/tests.toml
Owners: @unicode-org/icu4x-sc

Fix return types for cpp locale
  ffi/capi/src/locale.rs
  ffi/cpp/include/locale.hpp
Owners: @unicode-org/icu4x-sc

Split out ffi job
  .github/workflows/build-test.yml
  Makefile.toml
Owners: @unicode-org/icu4x-sc

Remove print
  ffi/capi/src/locale.rs
Owners: @unicode-org/icu4x-sc

Add exit_on_error
  tools/scripts/tests.toml
Owners: @unicode-org/icu4x-sc

CODEOWNERS:

# See https://github.blog/2017-07-06-introducing-code-owners/ for details
# Format of the file follows: https://git-scm.com/docs/gitattributes

# Fallback to core group for crates or folders without specific owners, like docs/.

* @unicode-org/icu4x-sc

# List of components with at least two owners as specified in docs/crate-ownership.

components/datetime/            @zbraniecki @sffc
components/locid/               @zbraniecki @nciric
components/plurals/             @zbraniecki @sffc
components/uniset/              @echeran
ffi/ecma402/             @filmil
provider/cldr/       @sffc
provider/core/            @sffc
provider/fs/         @sffc
provider/testdata/             @sffc
utils/fixed_decimal/            @sffc
