Repository unicode-org/icu4x, changes with the owners that CODEOWNERS names for each.
All owners: @unicode-org/icu4x-owners, @zbraniecki, @gregtatum, @nordzilla, @sffc, @dminor, @nciric, @echeran, @iainireland, @Manishearth, @hsivonen, @aethanyc, @makotokato, @filmil, @robertbastian, @gnrunge

issue link
  provider/datagen/src/databake.rs
Owners: @sffc, @robertbastian, @Manishearth

update tag
  .github/workflows/build-test.yml
Owners: @unicode-org/icu4x-owners

windows fix
  provider/fs/src/export/fs_exporter.rs
  provider/fs/src/export/serializers/json.rs
  provider/fs/src/export/serializers/mod.rs
Owners: @sffc

update latest
  provider/datagen/src/source.rs
Owners: @sffc, @robertbastian, @Manishearth

latest
  Cargo.lock
  provider/datagen/Cargo.toml
  provider/datagen/src/bin/datagen.rs
  provider/datagen/src/source.rs
  tools/scripts/data.toml
Owners: @unicode-org/icu4x-owners, @sffc, @robertbastian, @Manishearth

databake const
  components/list/src/provider.rs
  components/list/src/string_matcher.rs
  components/locid/src/databake.rs
  utils/codepointtrie/src/codepointtrie.rs
  utils/databake/derive/src/lib.rs
  utils/databake/src/lib.rs
  utils/tinystr/src/databake.rs
  utils/uniset/src/uniset.rs
  utils/zerovec/src/flexzerovec/databake.rs
  utils/zerovec/src/map/borrowed.rs
  utils/zerovec/src/map/databake.rs
  utils/zerovec/src/map2d/borrowed.rs
  utils/zerovec/src/map2d/databake.rs
  utils/zerovec/src/varzerovec/databake.rs
  utils/zerovec/src/zerovec/databake.rs
  utils/zerovec/src/zerovec/slice.rs
Owners: @unicode-org/icu4x-owners, @zbraniecki, @nciric, @Manishearth, @sffc

list bench
  .github/workflows/build-test.yml
  components/list/Cargo.toml
Owners: @unicode-org/icu4x-owners

add Benchmark (ndjson) benchmark result for fdfe48e008f38285b76d9d1d467dacac7840a85f
  benchmarks/datasize/data.js
Owners: @unicode-org/icu4x-owners

add Benchmark (ndjson) benchmark result for fdfe48e008f38285b76d9d1d467dacac7840a85f
  benchmarks/binsize/gz/data.js
Owners: @unicode-org/icu4x-owners

add Benchmark (ndjson) benchmark result for fdfe48e008f38285b76d9d1d467dacac7840a85f
  benchmarks/binsize/wasm/data.js
Owners: @unicode-org/icu4x-owners

add Rust Benchmark (cargo) benchmark result for fdfe48e008f38285b76d9d1d467dacac7840a85f
  benchmarks/perf/utils/uniset/data.js
Owners: @unicode-org/icu4x-owners

add Rust Benchmark (cargo) benchmark result for fdfe48e008f38285b76d9d1d467dacac7840a85f
  benchmarks/perf/components/datetime/data.js
Owners: @unicode-org/icu4x-owners

add Rust Benchmark (cargo) benchmark result for fdfe48e008f38285b76d9d1d467dacac7840a85f
  benchmarks/perf/utils/fixed_decimal/data.js
Owners: @unicode-org/icu4x-owners

add Rust Benchmark (cargo) benchmark result for fdfe48e008f38285b76d9d1d467dacac7840a85f
  benchmarks/perf/components/plurals/data.js
Owners: @unicode-org/icu4x-owners

add Rust Benchmark (cargo) benchmark result for fdfe48e008f38285b76d9d1d467dacac7840a85f
  benchmarks/perf/components/locid/data.js
Owners: @unicode-org/icu4x-owners

Convert dates when feeding through AnyCalendar
  components/datetime/src/any.rs
  components/datetime/src/datetime.rs
  components/datetime/src/raw/datetime.rs
  components/datetime/src/raw/zoned_datetime.rs
  components/datetime/src/zoned_datetime.rs
Owners: @zbraniecki, @gregtatum, @nordzilla

Move AnyDTF to module
  components/datetime/src/any/datetime.rs
  components/datetime/src/any/mod.rs
Owners: @zbraniecki, @gregtatum, @nordzilla

Add DateInput::to_iso()
  components/datetime/src/any.rs
  components/datetime/src/date.rs
  components/datetime/src/mock/zoned_datetime.rs
Owners: @zbraniecki, @gregtatum, @nordzilla

Get rid of error cases for AnyDTF
  components/datetime/src/any/datetime.rs
  components/datetime/src/any/zoned_datetime.rs
  components/datetime/src/error.rs
  components/datetime/tests/datetime.rs
Owners: @zbraniecki, @gregtatum, @nordzilla

cleanup docs
  components/datetime/src/any/datetime.rs
Owners: @zbraniecki, @gregtatum, @nordzilla

Update DTF fixture tests to also test AnyDTF
  components/datetime/tests/datetime.rs
Owners: @zbraniecki, @gregtatum, @nordzilla

Add ZonedAnyDTF
  components/datetime/src/any/datetime.rs
  components/datetime/src/any/mod.rs
  components/datetime/src/any/zoned_datetime.rs
Owners: @zbraniecki, @gregtatum, @nordzilla

clippy
  components/datetime/src/any/zoned_datetime.rs
Owners: @zbraniecki, @gregtatum, @nordzilla

Add formatting
  components/datetime/src/any/zoned_datetime.rs
  components/datetime/src/date.rs
Owners: @zbraniecki, @gregtatum, @nordzilla

Fix issues with creating locales
  components/datetime/src/any/datetime.rs
  components/datetime/src/any/zoned_datetime.rs
Owners: @zbraniecki, @gregtatum, @nordzilla

update fixtures
  components/datetime/tests/fixtures/tests/components-width-differences.json
  components/datetime/tests/fixtures/tests/components.json
  components/datetime/tests/fixtures/tests/japanese.json
  components/datetime/tests/fixtures/tests/lengths.json
Owners: @zbraniecki, @gregtatum, @nordzilla

Update tests to use real locales
  components/calendar/src/any_calendar.rs
  components/datetime/tests/datetime.rs
Owners: @unicode-org/icu4x-owners, @zbraniecki, @gregtatum, @nordzilla

docs
  components/datetime/src/any/mod.rs
  components/datetime/src/any/zoned_datetime.rs
Owners: @zbraniecki, @gregtatum, @nordzilla

Making fingerprinting a flag on datagen (#2144)
  .gitignore
  Cargo.lock
  provider/blob/src/blob_data_provider.rs
  provider/datagen/Cargo.toml
  provider/datagen/src/bin/datagen.rs
  provider/datagen/src/bin/fingerprint-data.rs
  provider/datagen/src/lib.rs
  provider/fs/Cargo.toml
  provider/fs/src/export/fs_exporter.rs
  provider/fs/src/export/mod.rs
  provider/fs/src/export/serializers/bincode.rs
  provider/fs/src/export/serializers/json.rs
  provider/fs/src/export/serializers/mod.rs
  provider/testdata/data/blob.fingerprint
  provider/testdata/data/json.fingerprint
  provider/testdata/data/json/fingerprints.txt
  provider/testdata/data/postcard/fingerprints.txt
  provider/testdata/src/bin/datagen.rs
  tools/scripts/data.toml
Owners: @unicode-org/icu4x-owners, @sffc, @Manishearth, @robertbastian

add Benchmark (ndjson) benchmark result for f289ccd4205475725cda178c2bf30ac87d7470c2
  benchmarks/datasize/data.js
Owners: @unicode-org/icu4x-owners

add Benchmark (ndjson) benchmark result for f289ccd4205475725cda178c2bf30ac87d7470c2
  benchmarks/binsize/gz/data.js
Owners: @unicode-org/icu4x-owners

add Benchmark (ndjson) benchmark result for f289ccd4205475725cda178c2bf30ac87d7470c2
  benchmarks/binsize/wasm/data.js
Owners: @unicode-org/icu4x-owners

add Rust Benchmark (cargo) benchmark result for f289ccd4205475725cda178c2bf30ac87d7470c2
  benchmarks/perf/utils/uniset/data.js
Owners: @unicode-org/icu4x-owners

add Rust Benchmark (cargo) benchmark result for f289ccd4205475725cda178c2bf30ac87d7470c2
  benchmarks/perf/utils/fixed_decimal/data.js
Owners: @unicode-org/icu4x-owners

add Rust Benchmark (cargo) benchmark result for f289ccd4205475725cda178c2bf30ac87d7470c2
  benchmarks/perf/components/datetime/data.js
Owners: @unicode-org/icu4x-owners

add Rust Benchmark (cargo) benchmark result for f289ccd4205475725cda178c2bf30ac87d7470c2
  benchmarks/perf/components/locid/data.js
Owners: @unicode-org/icu4x-owners

add Rust Benchmark (cargo) benchmark result for f289ccd4205475725cda178c2bf30ac87d7470c2
  benchmarks/perf/components/plurals/data.js
Owners: @unicode-org/icu4x-owners

typo
  components/datetime/src/any/datetime.rs
Owners: @zbraniecki, @gregtatum, @nordzilla

fmt
  components/datetime/src/any/mod.rs
Owners: @zbraniecki, @gregtatum, @nordzilla

Revert "Get rid of error cases for AnyDTF"
  components/datetime/src/any/datetime.rs
  components/datetime/src/any/zoned_datetime.rs
  components/datetime/src/error.rs
  components/datetime/tests/datetime.rs
Owners: @zbraniecki, @gregtatum, @nordzilla

CODEOWNERS:

# See https://github.blog/2017-07-06-introducing-code-owners/ for details
# Format of the file follows: https://git-scm.com/docs/gitattributes

# Fallback to core group for crates or folders without specific owners, like docs/.

* @unicode-org/icu4x-owners

# List of components with at least two owners as specified in docs/crate-ownership.

components/datetime/              @zbraniecki @gregtatum @nordzilla
components/decimal/               @sffc
components/icu/                   @unicode-org/icu4x-owners
components/icu4x/                 @unicode-org/icu4x-owners
components/locale_canonicalizer/  @dminor @zbraniecki
components/locid/                 @zbraniecki @nciric
components/plurals/               @zbraniecki @sffc
components/uniset/                @echeran @iainireland
experimental/bies/                @sffc
experimental/calendar/            @Manishearth @sffc
experimental/codepointtrie/       @echeran
experimental/collator/            @hsivonen @echeran
experimental/normalizer/          @hsivonen @echeran
experimental/provider_ppucd/      @echeran
experimental/segmenter/           @aethanyc @makotokato @sffc
ffi/capi/                         @Manishearth
ffi/cpp/                          @Manishearth
ffi/ecma402/                      @filmil
ffi/wasm/                         @Manishearth
provider/blob/                    @sffc @Manishearth
provider/core/                    @sffc @Manishearth
provider/datagen/                 @sffc @robertbastian @Manishearth
provider/fs/                      @sffc
provider/macros/                  @Manishearth @sffc
provider/testdata/                @unicode-org/icu4x-owners
tools/benchmark/binsize/          @gnrunge
tools/benchmark/macros/           @gregtatum
tools/benchmark/memory/           @gregtatum
tools/scripts/                    @Manishearth @sffc
utils/fixed_decimal/              @sffc
utils/litemap/                    @Manishearth @sffc
utils/pattern/                    @zbraniecki
utils/writeable/                  @sffc
utils/yoke/                       @Manishearth @sffc
utils/zerovec/                    @Manishearth @sffc
