Repository unicode-org/icu4x, changes with the owners that CODEOWNERS names for each.
All owners: @unicode-org/icu4x-sc, @zbraniecki, @sffc, @nciric, @echeran, @filmil

CODEOWNERS:

# See https://github.blog/2017-07-06-introducing-code-owners/ for details
# Format of the file follows: https://git-scm.com/docs/gitattributes

# Fallback to core group for crates or folders without specific owners, like docs/.

* @unicode-org/icu4x-sc

# List of components with at least two owners as specified in docs/crate-ownership.

components/datetime/            @zbraniecki @sffc
components/locid/               @zbraniecki @nciric
components/plurals/             @zbraniecki @sffc
components/uniset/              @echeran
ffi/ecma402/             @filmil
provider/cldr/       @sffc
provider/core/            @sffc
provider/fs/         @sffc
provider/testdata/             @sffc
utils/fixed_decimal/            @sffc

add Heap – macos-latest (ndjson) benchmark result for 5970335819dd63caf5653ca76529bd9e9e90650e
  benchmarks/memory/macos-latest/data.js
Owners: @unicode-org/icu4x-sc

add Heap – macos-latest (ndjson) benchmark result for 4ea601271e0cb3122b1ed00c28f0ef4cd9a366a6
  benchmarks/memory/macos-latest/data.js
Owners: @unicode-org/icu4x-sc

Move the `icu` crate to no_std (#911)
  components/datetime/Cargo.toml
  components/datetime/src/date.rs
  components/datetime/src/datetime.rs
  components/datetime/src/error.rs
  components/datetime/src/fields/length.rs
  components/datetime/src/fields/mod.rs
  components/datetime/src/fields/symbols.rs
  components/datetime/src/format/datetime.rs
  components/datetime/src/format/time_zone.rs
  components/datetime/src/format/zoned_datetime.rs
  components/datetime/src/lib.rs
  components/datetime/src/mock/datetime.rs
  components/datetime/src/mock/time_zone.rs
  components/datetime/src/mock/zoned_datetime.rs
  components/datetime/src/options/components.rs
  components/datetime/src/pattern/error.rs
  components/datetime/src/pattern/mod.rs
  components/datetime/src/pattern/parser.rs
  components/datetime/src/provider/gregory.rs
  components/datetime/src/provider/helpers.rs
  components/datetime/src/provider/time_zones.rs
  components/datetime/src/skeleton.rs
  components/datetime/src/time_zone.rs
  components/datetime/src/zoned_datetime.rs
  components/icu/Cargo.toml
  components/icu/src/lib.rs
  components/uniset/Cargo.toml
  components/uniset/src/builder.rs
  components/uniset/src/conversions.rs
  components/uniset/src/lib.rs
  components/uniset/src/props.rs
  components/uniset/src/provider.rs
  components/uniset/src/uniset.rs
  components/uniset/src/utils.rs
  tools/scripts/ffi.toml
Owners: @zbraniecki, @sffc, @unicode-org/icu4x-sc, @echeran

add Rust Benchmark (cargo) benchmark result for cd4b7c536c0b573aa68510bc8e1776fa78b1c0fd
  benchmarks/perf/utils/fixed_decimal/data.js
Owners: @unicode-org/icu4x-sc

add Rust Benchmark (cargo) benchmark result for cd4b7c536c0b573aa68510bc8e1776fa78b1c0fd
  benchmarks/perf/components/datetime/data.js
Owners: @unicode-org/icu4x-sc

add Rust Benchmark (cargo) benchmark result for cd4b7c536c0b573aa68510bc8e1776fa78b1c0fd
  benchmarks/perf/components/uniset/data.js
Owners: @unicode-org/icu4x-sc

add Rust Benchmark (cargo) benchmark result for cd4b7c536c0b573aa68510bc8e1776fa78b1c0fd
  benchmarks/perf/components/plurals/data.js
Owners: @unicode-org/icu4x-sc

add Rust Benchmark (cargo) benchmark result for cd4b7c536c0b573aa68510bc8e1776fa78b1c0fd
  benchmarks/perf/components/locid/data.js
Owners: @unicode-org/icu4x-sc

add Heap – ubuntu-latest (ndjson) benchmark result for cd4b7c536c0b573aa68510bc8e1776fa78b1c0fd
  benchmarks/memory/ubuntu-latest/data.js
Owners: @unicode-org/icu4x-sc

add Heap – windows-latest (ndjson) benchmark result for cd4b7c536c0b573aa68510bc8e1776fa78b1c0fd
  benchmarks/memory/windows-latest/data.js
Owners: @unicode-org/icu4x-sc

add Heap – macos-latest (ndjson) benchmark result for cd4b7c536c0b573aa68510bc8e1776fa78b1c0fd
  benchmarks/memory/macos-latest/data.js
Owners: @unicode-org/icu4x-sc

Move to non-internal namespace
  ffi/cpp/include/decimal.hpp
  ffi/cpp/include/locale.hpp
  ffi/cpp/include/writeable_utils.hpp
Owners: @unicode-org/icu4x-sc

Add std as a feature requirement for provider_transform_internals
  components/datetime/Cargo.toml
Owners: @zbraniecki, @sffc

Teach length::Bag how to switch hour cycles (#840)
  components/datetime/Cargo.toml
  components/datetime/src/options/length.rs
  components/datetime/src/options/preferences.rs
  components/datetime/src/pattern/mod.rs
  components/datetime/src/pattern/transform_hour_cycle.rs
  components/datetime/src/provider/gregory.rs
  components/datetime/src/provider/helpers.rs
  components/datetime/src/skeleton.rs
  components/datetime/tests/datetime.rs
  components/datetime/tests/fixtures/tests/lengths_with_preferences.json
  components/icu/README.md
  components/icu/src/lib.rs
  provider/cldr/Cargo.toml
  provider/cldr/src/transform/dates/patterns.rs
  provider/testdata/data/json/datetime/gregory_patterns@1/ar-EG.json
  provider/testdata/data/json/datetime/gregory_patterns@1/ar.json
  provider/testdata/data/json/datetime/gregory_patterns@1/bn.json
  provider/testdata/data/json/datetime/gregory_patterns@1/ccp.json
  provider/testdata/data/json/datetime/gregory_patterns@1/en-001.json
  provider/testdata/data/json/datetime/gregory_patterns@1/en-ZA.json
  provider/testdata/data/json/datetime/gregory_patterns@1/en.json
  provider/testdata/data/json/datetime/gregory_patterns@1/es-AR.json
  provider/testdata/data/json/datetime/gregory_patterns@1/es.json
  provider/testdata/data/json/datetime/gregory_patterns@1/fr.json
  provider/testdata/data/json/datetime/gregory_patterns@1/ja.json
  provider/testdata/data/json/datetime/gregory_patterns@1/ru.json
  provider/testdata/data/json/datetime/gregory_patterns@1/sr-Cyrl.json
  provider/testdata/data/json/datetime/gregory_patterns@1/sr-Latn.json
  provider/testdata/data/json/datetime/gregory_patterns@1/sr.json
  provider/testdata/data/json/datetime/gregory_patterns@1/th.json
  provider/testdata/data/json/datetime/gregory_patterns@1/tr.json
  provider/testdata/data/json/datetime/gregory_patterns@1/und.json
Owners: @zbraniecki, @sffc, @unicode-org/icu4x-sc

add Rust Benchmark (cargo) benchmark result for 3d49bb1e03c399ebb5927fac6678ea8518841905
  benchmarks/perf/utils/fixed_decimal/data.js
Owners: @unicode-org/icu4x-sc

add Rust Benchmark (cargo) benchmark result for 3d49bb1e03c399ebb5927fac6678ea8518841905
  benchmarks/perf/components/uniset/data.js
Owners: @unicode-org/icu4x-sc

add Rust Benchmark (cargo) benchmark result for 3d49bb1e03c399ebb5927fac6678ea8518841905
  benchmarks/perf/components/datetime/data.js
Owners: @unicode-org/icu4x-sc

add Rust Benchmark (cargo) benchmark result for 3d49bb1e03c399ebb5927fac6678ea8518841905
  benchmarks/perf/components/plurals/data.js
Owners: @unicode-org/icu4x-sc

add Rust Benchmark (cargo) benchmark result for 3d49bb1e03c399ebb5927fac6678ea8518841905
  benchmarks/perf/components/locid/data.js
Owners: @unicode-org/icu4x-sc

add Heap – ubuntu-latest (ndjson) benchmark result for 3d49bb1e03c399ebb5927fac6678ea8518841905
  benchmarks/memory/ubuntu-latest/data.js
Owners: @unicode-org/icu4x-sc

add Heap – windows-latest (ndjson) benchmark result for 3d49bb1e03c399ebb5927fac6678ea8518841905
  benchmarks/memory/windows-latest/data.js
Owners: @unicode-org/icu4x-sc

add Heap – macos-latest (ndjson) benchmark result for 3d49bb1e03c399ebb5927fac6678ea8518841905
  benchmarks/memory/macos-latest/data.js
Owners: @unicode-org/icu4x-sc

Binary size benchmarking: Rust script to measure size of the ICU4X examples compiled into wasm binaries (#871)
  .github/workflows/build-test.yml
  Cargo.lock
  Cargo.toml
  tools/benchmark/README.md
  tools/benchmark/binsize/Cargo.toml
  tools/benchmark/binsize/README.md
  tools/benchmark/binsize/src/main.rs
Owners: @unicode-org/icu4x-sc

Document certain DataProvider impls that return `'static` (#916)
  provider/core/src/data_provider.rs
  provider/core/src/serde.rs
  provider/fs/src/fs_data_provider.rs
Owners: @sffc

add Rust Benchmark (cargo) benchmark result for 8d99c160c4581dc247127c328ced20eda809fc43
  benchmarks/perf/components/uniset/data.js
Owners: @unicode-org/icu4x-sc

add Benchmark (ndjson) benchmark result for 8d99c160c4581dc247127c328ced20eda809fc43
  benchmarks/binsize/data.js
  benchmarks/binsize/index.html
Owners: @unicode-org/icu4x-sc

add Rust Benchmark (cargo) benchmark result for 8d99c160c4581dc247127c328ced20eda809fc43
  benchmarks/perf/utils/fixed_decimal/data.js
Owners: @unicode-org/icu4x-sc

add Rust Benchmark (cargo) benchmark result for 8d99c160c4581dc247127c328ced20eda809fc43
  benchmarks/perf/components/locid/data.js
Owners: @unicode-org/icu4x-sc

Bump Diplomat
  Cargo.lock
  ffi/capi/diplomat_gen_all.sh
  ffi/capi/include/api.h
  ffi/cpp/include/api.h
  ffi/wasm/lib/api.mjs
  ffi/wasm/lib/diplomat-runtime.mjs
Owners: @unicode-org/icu4x-sc

add Rust Benchmark (cargo) benchmark result for 8d99c160c4581dc247127c328ced20eda809fc43
  benchmarks/perf/components/plurals/data.js
Owners: @unicode-org/icu4x-sc

add Rust Benchmark (cargo) benchmark result for 8d99c160c4581dc247127c328ced20eda809fc43
  benchmarks/perf/components/datetime/data.js
Owners: @unicode-org/icu4x-sc

add Rust Benchmark (cargo) benchmark result for cd5b0d278ce455c13dfbd29a4a84694aa9f026fc
  benchmarks/perf/utils/fixed_decimal/data.js
Owners: @unicode-org/icu4x-sc

add Rust Benchmark (cargo) benchmark result for cd5b0d278ce455c13dfbd29a4a84694aa9f026fc
  benchmarks/perf/components/uniset/data.js
Owners: @unicode-org/icu4x-sc

add Rust Benchmark (cargo) benchmark result for cd5b0d278ce455c13dfbd29a4a84694aa9f026fc
  benchmarks/perf/components/locid/data.js
Owners: @unicode-org/icu4x-sc

add Benchmark (ndjson) benchmark result for cd5b0d278ce455c13dfbd29a4a84694aa9f026fc
  benchmarks/binsize/data.js
Owners: @unicode-org/icu4x-sc

add Rust Benchmark (cargo) benchmark result for cd5b0d278ce455c13dfbd29a4a84694aa9f026fc
  benchmarks/perf/components/datetime/data.js
Owners: @unicode-org/icu4x-sc

add Heap – ubuntu-latest (ndjson) benchmark result for 8d99c160c4581dc247127c328ced20eda809fc43
  benchmarks/memory/ubuntu-latest/data.js
Owners: @unicode-org/icu4x-sc

add Rust Benchmark (cargo) benchmark result for cd5b0d278ce455c13dfbd29a4a84694aa9f026fc
  benchmarks/perf/components/plurals/data.js
Owners: @unicode-org/icu4x-sc

add Heap – ubuntu-latest (ndjson) benchmark result for cd5b0d278ce455c13dfbd29a4a84694aa9f026fc
  benchmarks/memory/ubuntu-latest/data.js
Owners: @unicode-org/icu4x-sc

add Heap – windows-latest (ndjson) benchmark result for 8d99c160c4581dc247127c328ced20eda809fc43
  benchmarks/memory/windows-latest/data.js
Owners: @unicode-org/icu4x-sc
