Repository unicode-org/icu4x, changes with the owners that CODEOWNERS names for each.
All owners: @unicode-org/icu4x-sc, @zbraniecki, @sffc, @nciric, @echeran, @filmil

CODEOWNERS:

# See https://github.blog/2017-07-06-introducing-code-owners/ for details
# Format of the file follows: https://git-scm.com/docs/gitattributes

# Fallback to core group for crates or folders without specific owners, like docs/.

* @unicode-org/icu4x-sc

# List of components with at least two owners as specified in docs/crate-ownership.

components/datetime/            @zbraniecki @sffc
components/locid/               @zbraniecki @nciric
components/plurals/             @zbraniecki @sffc
components/uniset/              @echeran
ffi/ecma402/             @filmil
provider/cldr/       @sffc
provider/core/            @sffc
provider/fs/         @sffc
provider/testdata/             @sffc
utils/fixed_decimal/            @sffc

add Rust Benchmark (cargo) benchmark result for 832a4055c0a3228c14d8ca122405c135ba8a72e4
  benchmarks/perf/utils/fixed_decimal/data.js
Owners: @unicode-org/icu4x-sc

add Rust Benchmark (cargo) benchmark result for 832a4055c0a3228c14d8ca122405c135ba8a72e4
  benchmarks/perf/components/datetime/data.js
Owners: @unicode-org/icu4x-sc

add Rust Benchmark (cargo) benchmark result for 832a4055c0a3228c14d8ca122405c135ba8a72e4
  benchmarks/perf/components/locid/data.js
Owners: @unicode-org/icu4x-sc

add Rust Benchmark (cargo) benchmark result for 832a4055c0a3228c14d8ca122405c135ba8a72e4
  benchmarks/perf/components/uniset/data.js
Owners: @unicode-org/icu4x-sc

add Rust Benchmark (cargo) benchmark result for 832a4055c0a3228c14d8ca122405c135ba8a72e4
  benchmarks/perf/components/plurals/data.js
Owners: @unicode-org/icu4x-sc

add Heap – ubuntu-latest (ndjson) benchmark result for 832a4055c0a3228c14d8ca122405c135ba8a72e4
  benchmarks/memory/ubuntu-latest/data.js
Owners: @unicode-org/icu4x-sc

Move blob data provider to postcard; support no_std (#878)
  Cargo.lock
  provider/blob/Cargo.toml
  provider/blob/README.md
  provider/blob/src/export/blob_exporter.rs
  provider/blob/src/export/mod.rs
  provider/blob/src/lib.rs
  provider/blob/src/path_util.rs
  provider/blob/src/static_data_provider.rs
  provider/blob/tests/data/hello_world.bincode
  provider/blob/tests/data/hello_world.postcard
  provider/testdata/data/testdata.bincode
  provider/testdata/data/testdata.postcard
  provider/testdata/src/blob.rs
  tools/datagen/README.md
  tools/datagen/src/bin/datagen.rs
  tools/datagen/src/main.rs
Owners: @unicode-org/icu4x-sc, @sffc

add Heap – windows-latest (ndjson) benchmark result for 832a4055c0a3228c14d8ca122405c135ba8a72e4
  benchmarks/memory/windows-latest/data.js
Owners: @unicode-org/icu4x-sc

add Heap – macos-latest (ndjson) benchmark result for 832a4055c0a3228c14d8ca122405c135ba8a72e4
  benchmarks/memory/macos-latest/data.js
Owners: @unicode-org/icu4x-sc

make locale_canonicalizer no_std
  components/locale_canonicalizer/src/lib.rs
  components/locale_canonicalizer/src/locale_canonicalizer.rs
  components/locale_canonicalizer/src/provider.rs
Owners: @unicode-org/icu4x-sc

add Rust Benchmark (cargo) benchmark result for 6a7650eef7b24d2ac7f539d7b1d86249d036e316
  benchmarks/perf/utils/fixed_decimal/data.js
Owners: @unicode-org/icu4x-sc

add Rust Benchmark (cargo) benchmark result for 6a7650eef7b24d2ac7f539d7b1d86249d036e316
  benchmarks/perf/components/uniset/data.js
Owners: @unicode-org/icu4x-sc

add Rust Benchmark (cargo) benchmark result for 6a7650eef7b24d2ac7f539d7b1d86249d036e316
  benchmarks/perf/components/plurals/data.js
Owners: @unicode-org/icu4x-sc

add Rust Benchmark (cargo) benchmark result for 6a7650eef7b24d2ac7f539d7b1d86249d036e316
  benchmarks/perf/components/locid/data.js
Owners: @unicode-org/icu4x-sc

add Rust Benchmark (cargo) benchmark result for 6a7650eef7b24d2ac7f539d7b1d86249d036e316
  benchmarks/perf/components/datetime/data.js
Owners: @unicode-org/icu4x-sc

add Heap – ubuntu-latest (ndjson) benchmark result for 6a7650eef7b24d2ac7f539d7b1d86249d036e316
  benchmarks/memory/ubuntu-latest/data.js
Owners: @unicode-org/icu4x-sc

Remove fs provider dep from capi when there is no OS
  ffi/capi/Cargo.toml
  ffi/capi/src/provider.rs
Owners: @unicode-org/icu4x-sc

add Heap – windows-latest (ndjson) benchmark result for 6a7650eef7b24d2ac7f539d7b1d86249d036e316
  benchmarks/memory/windows-latest/data.js
Owners: @unicode-org/icu4x-sc

add Heap – macos-latest (ndjson) benchmark result for 6a7650eef7b24d2ac7f539d7b1d86249d036e316
  benchmarks/memory/macos-latest/data.js
Owners: @unicode-org/icu4x-sc

Move testdata to no_std
  ffi/capi/Cargo.toml
  provider/testdata/Cargo.toml
  provider/testdata/src/lib.rs
Owners: @unicode-org/icu4x-sc, @sffc

fmt
  ffi/capi/src/provider.rs
Owners: @unicode-org/icu4x-sc

include sdp in test
  provider/blob/Cargo.toml
Owners: @unicode-org/icu4x-sc

Fix name of Bidi_M
  components/uniset/src/provider.rs
  experimental/provider_ppucd/tests/testdata/ppucd-enum-props-test.txt
  experimental/provider_ppucd/tests/testdata/ppucd-inpc-topbotleft-test.txt
  experimental/provider_ppucd/tests/testdata/ppucd-sc-tglg-test.txt
  experimental/provider_ppucd/tests/testdata/ppucd-wspace-test.txt
Owners: @echeran, @unicode-org/icu4x-sc

Improve docs in PluralRules and FixedDecimal
  components/plurals/src/operands.rs
  utils/fixed_decimal/src/decimal.rs
Owners: @zbraniecki, @sffc

Add FixedDecimal to PluralOperands example
  components/plurals/src/operands.rs
Owners: @zbraniecki, @sffc

fixup import
  ffi/capi/src/provider.rs
Owners: @unicode-org/icu4x-sc

Correctly apply the hour cycle in the components::Bag
  components/datetime/src/options/components.rs
  components/datetime/src/pattern/mod.rs
  components/datetime/src/provider/helpers.rs
  components/datetime/src/skeleton.rs
  components/datetime/tests/datetime.rs
  components/datetime/tests/fixtures/tests/components_hour_cycle.json
Owners: @zbraniecki, @sffc

Work around width expansion issue
  components/datetime/src/pattern/transform_hour_cycle.rs
  components/datetime/src/provider/helpers.rs
  components/datetime/src/skeleton.rs
  provider/cldr/src/transform/dates/patterns.rs
Owners: @zbraniecki, @sffc

Move locale_canonicalizer and StaticDataProvider to no_std, use SDP correctly in capi (#880)
  components/locale_canonicalizer/src/lib.rs
  components/locale_canonicalizer/src/locale_canonicalizer.rs
  components/locale_canonicalizer/src/provider.rs
  ffi/capi/Cargo.toml
  ffi/capi/src/provider.rs
  provider/blob/Cargo.toml
  provider/testdata/Cargo.toml
  provider/testdata/src/lib.rs
Owners: @unicode-org/icu4x-sc, @sffc

no_std in pluralrules
  components/plurals/Cargo.toml
  components/plurals/src/lib.rs
Owners: @zbraniecki, @sffc

fix errors
  components/plurals/src/error.rs
  components/plurals/src/operands.rs
  components/plurals/src/rules/lexer.rs
  components/plurals/src/rules/parser.rs
Owners: @zbraniecki, @sffc

autoreplace
  components/plurals/src/data.rs
  components/plurals/src/error.rs
  components/plurals/src/lib.rs
  components/plurals/src/operands.rs
  components/plurals/src/provider.rs
  components/plurals/src/rules/ast.rs
  components/plurals/src/rules/lexer.rs
  components/plurals/src/rules/parser.rs
  components/plurals/src/rules/serializer.rs
Owners: @zbraniecki, @sffc

Fix icu_plurals use in ffi/ecma402
  Cargo.lock
  ffi/ecma402/Cargo.toml
Owners: @unicode-org/icu4x-sc, @filmil

powi
  components/plurals/src/operands.rs
Owners: @zbraniecki, @sffc

fmt
  components/plurals/src/lib.rs
  components/plurals/src/operands.rs
  components/plurals/src/provider.rs
  components/plurals/src/rules/parser.rs
Owners: @zbraniecki, @sffc

add Rust Benchmark (cargo) benchmark result for 77e8269d25798b7a4963bee1a0b639659bfe2d57
  benchmarks/perf/utils/fixed_decimal/data.js
Owners: @unicode-org/icu4x-sc

add Rust Benchmark (cargo) benchmark result for 77e8269d25798b7a4963bee1a0b639659bfe2d57
  benchmarks/perf/components/uniset/data.js
Owners: @unicode-org/icu4x-sc

add Rust Benchmark (cargo) benchmark result for 77e8269d25798b7a4963bee1a0b639659bfe2d57
  benchmarks/perf/components/datetime/data.js
Owners: @unicode-org/icu4x-sc

add Rust Benchmark (cargo) benchmark result for 77e8269d25798b7a4963bee1a0b639659bfe2d57
  benchmarks/perf/components/locid/data.js
Owners: @unicode-org/icu4x-sc

add Rust Benchmark (cargo) benchmark result for 77e8269d25798b7a4963bee1a0b639659bfe2d57
  benchmarks/perf/components/plurals/data.js
Owners: @unicode-org/icu4x-sc
