Repository unicode-org/icu4x, changes with the owners that CODEOWNERS names for each.
All owners: @unicode-org/icu4x-sc, @zbraniecki, @sffc, @nciric, @echeran, @filmil

CODEOWNERS:

# See https://github.blog/2017-07-06-introducing-code-owners/ for details
# Format of the file follows: https://git-scm.com/docs/gitattributes

# Fallback to core group for crates or folders without specific owners, like docs/.

* @unicode-org/icu4x-sc

# List of components with at least two owners as specified in docs/crate-ownership.

components/datetime/            @zbraniecki @sffc
components/locid/               @zbraniecki @nciric
components/plurals/             @zbraniecki @sffc
components/uniset/              @echeran
ffi/ecma402/             @filmil
provider/cldr/       @sffc
provider/core/            @sffc
provider/fs/         @sffc
provider/testdata/             @sffc
utils/fixed_decimal/            @sffc

add Heap – ubuntu-latest (ndjson) benchmark result for ff56a70f588b63f134714956a8eb8e1ee37a99d3
  benchmarks/memory/ubuntu-latest/data.js
Owners: @unicode-org/icu4x-sc

add Heap – macos-latest (ndjson) benchmark result for ff56a70f588b63f134714956a8eb8e1ee37a99d3
  benchmarks/memory/macos-latest/data.js
Owners: @unicode-org/icu4x-sc

add Heap – windows-latest (ndjson) benchmark result for ff56a70f588b63f134714956a8eb8e1ee37a99d3
  benchmarks/memory/windows-latest/data.js
Owners: @unicode-org/icu4x-sc

fix yoke derive
  utils/yoke/derive/src/lib.rs
Owners: @unicode-org/icu4x-sc

Move helloworld to litemap
  Cargo.lock
  provider/core/Cargo.toml
  provider/core/src/hello_world.rs
Owners: @unicode-org/icu4x-sc, @sffc

more fmt
  provider/core/src/erased.rs
  provider/core/src/filter/impls.rs
  provider/core/src/serde.rs
  provider/core/src/struct_provider.rs
  utils/litemap/src/map.rs
Owners: @sffc, @unicode-org/icu4x-sc

fix datagen
  tools/datagen/Cargo.toml
Owners: @unicode-org/icu4x-sc

fixup errors
  provider/core/src/erased.rs
  provider/core/src/error.rs
Owners: @sffc

cargo fix
  provider/core/src/data_provider.rs
  provider/core/src/erased.rs
  provider/core/src/filter/impls.rs
  provider/core/src/resource.rs
  provider/core/src/serde.rs
  provider/core/src/struct_provider.rs
Owners: @sffc

move litemap to no_std
  utils/litemap/Cargo.toml
  utils/litemap/src/lib.rs
  utils/litemap/src/map.rs
Owners: @unicode-org/icu4x-sc

autogen
  provider/core/src/data_provider.rs
  provider/core/src/data_provider/test.rs
  provider/core/src/dynutil.rs
  provider/core/src/erased.rs
  provider/core/src/error.rs
  provider/core/src/filter/impls.rs
  provider/core/src/filter/mod.rs
  provider/core/src/hello_world.rs
  provider/core/src/inv.rs
  provider/core/src/iter.rs
  provider/core/src/lib.rs
  provider/core/src/marker/impls.rs
  provider/core/src/marker/mod.rs
  provider/core/src/resource.rs
  provider/core/src/serde.rs
  provider/core/src/struct_provider.rs
Owners: @sffc

Bump util version numbers
  provider/core/Cargo.toml
  utils/fixed_decimal/Cargo.toml
  utils/yoke/Cargo.toml
  utils/yoke/derive/Cargo.toml
Owners: @sffc, @unicode-org/icu4x-sc

add std feature
  provider/core/Cargo.toml
  provider/core/src/lib.rs
Owners: @sffc

Update readme/lockfile
  Cargo.lock
  provider/core/README.md
Owners: @unicode-org/icu4x-sc, @sffc

fixup doctests
  provider/core/src/data_provider.rs
  provider/core/src/dynutil.rs
  provider/core/src/inv.rs
  provider/core/src/marker/mod.rs
  provider/core/src/resource.rs
  provider/core/src/struct_provider.rs
Owners: @sffc

more doctest fix
  provider/core/src/data_provider.rs
  provider/core/src/serde.rs
Owners: @sffc

rm litemap serde
  provider/core/Cargo.toml
Owners: @sffc

Move provider/core to no_std (#870)
  Cargo.lock
  provider/core/Cargo.toml
  provider/core/README.md
  provider/core/src/data_provider.rs
  provider/core/src/data_provider/test.rs
  provider/core/src/dynutil.rs
  provider/core/src/erased.rs
  provider/core/src/error.rs
  provider/core/src/filter/impls.rs
  provider/core/src/filter/mod.rs
  provider/core/src/hello_world.rs
  provider/core/src/inv.rs
  provider/core/src/iter.rs
  provider/core/src/lib.rs
  provider/core/src/marker/impls.rs
  provider/core/src/resource.rs
  provider/core/src/serde.rs
  tools/datagen/Cargo.toml
  utils/fixed_decimal/Cargo.toml
  utils/litemap/Cargo.toml
  utils/litemap/src/lib.rs
  utils/litemap/src/map.rs
  utils/yoke/Cargo.toml
  utils/yoke/derive/Cargo.toml
  utils/yoke/derive/src/lib.rs
Owners: @unicode-org/icu4x-sc, @sffc

add Rust Benchmark (cargo) benchmark result for 09d5aef92cd37de4e51c53e0b1eb03abb1ce8543
  benchmarks/perf/utils/fixed_decimal/data.js
Owners: @unicode-org/icu4x-sc

add Rust Benchmark (cargo) benchmark result for 09d5aef92cd37de4e51c53e0b1eb03abb1ce8543
  benchmarks/perf/components/plurals/data.js
Owners: @unicode-org/icu4x-sc

add Rust Benchmark (cargo) benchmark result for 09d5aef92cd37de4e51c53e0b1eb03abb1ce8543
  benchmarks/perf/components/datetime/data.js
Owners: @unicode-org/icu4x-sc

add Rust Benchmark (cargo) benchmark result for 09d5aef92cd37de4e51c53e0b1eb03abb1ce8543
  benchmarks/perf/components/locid/data.js
Owners: @unicode-org/icu4x-sc

add Rust Benchmark (cargo) benchmark result for 09d5aef92cd37de4e51c53e0b1eb03abb1ce8543
  benchmarks/perf/components/uniset/data.js
Owners: @unicode-org/icu4x-sc

add Heap – ubuntu-latest (ndjson) benchmark result for 09d5aef92cd37de4e51c53e0b1eb03abb1ce8543
  benchmarks/memory/ubuntu-latest/data.js
Owners: @unicode-org/icu4x-sc

add Heap – windows-latest (ndjson) benchmark result for 09d5aef92cd37de4e51c53e0b1eb03abb1ce8543
  benchmarks/memory/windows-latest/data.js
Owners: @unicode-org/icu4x-sc

add Heap – macos-latest (ndjson) benchmark result for 09d5aef92cd37de4e51c53e0b1eb03abb1ce8543
  benchmarks/memory/macos-latest/data.js
Owners: @unicode-org/icu4x-sc

Update roadmap.md
  docs/process/roadmap.md
Owners: @unicode-org/icu4x-sc

Move blob provider to postcard
  Cargo.lock
  provider/blob/Cargo.toml
  provider/blob/README.md
  provider/blob/src/export/blob_exporter.rs
  provider/blob/src/export/mod.rs
  provider/blob/src/lib.rs
  provider/blob/src/static_data_provider.rs
  provider/testdata/src/blob.rs
  tools/datagen/README.md
  tools/datagen/src/bin/datagen.rs
  tools/datagen/src/main.rs
Owners: @unicode-org/icu4x-sc, @sffc

Move testdata.bincode to postcard
  provider/blob/tests/data/hello_world.bincode
  provider/blob/tests/data/hello_world.postcard
  provider/testdata/data/testdata.bincode
  provider/testdata/data/testdata.postcard
Owners: @unicode-org/icu4x-sc, @sffc

Support no_std in blob data provider
  provider/blob/Cargo.toml
  provider/blob/src/lib.rs
  provider/blob/src/path_util.rs
Owners: @unicode-org/icu4x-sc

Modify patterns from a skeleton match to have the correct width (#832)
  components/datetime/src/options/components.rs
  components/datetime/src/skeleton.rs
  components/datetime/tests/datetime.rs
  components/datetime/tests/fixtures/tests/components-combine-date-time.json
  components/datetime/tests/fixtures/tests/components-width-differences.json
Owners: @zbraniecki, @sffc

add Rust Benchmark (cargo) benchmark result for 4052c2ec46d082142f12c09e680d42fae6d62a82
  benchmarks/perf/utils/fixed_decimal/data.js
Owners: @unicode-org/icu4x-sc

add Rust Benchmark (cargo) benchmark result for 4052c2ec46d082142f12c09e680d42fae6d62a82
  benchmarks/perf/components/datetime/data.js
Owners: @unicode-org/icu4x-sc

add Rust Benchmark (cargo) benchmark result for 4052c2ec46d082142f12c09e680d42fae6d62a82
  benchmarks/perf/components/uniset/data.js
Owners: @unicode-org/icu4x-sc

add Rust Benchmark (cargo) benchmark result for 4052c2ec46d082142f12c09e680d42fae6d62a82
  benchmarks/perf/components/plurals/data.js
Owners: @unicode-org/icu4x-sc

add Heap – ubuntu-latest (ndjson) benchmark result for 4052c2ec46d082142f12c09e680d42fae6d62a82
  benchmarks/memory/ubuntu-latest/data.js
Owners: @unicode-org/icu4x-sc

add Heap – windows-latest (ndjson) benchmark result for 4052c2ec46d082142f12c09e680d42fae6d62a82
  benchmarks/memory/windows-latest/data.js
Owners: @unicode-org/icu4x-sc

add Heap – macos-latest (ndjson) benchmark result for 4052c2ec46d082142f12c09e680d42fae6d62a82
  benchmarks/memory/macos-latest/data.js
Owners: @unicode-org/icu4x-sc

rm build.rs
  provider/blob/Cargo.toml
Owners: @unicode-org/icu4x-sc

Update roadmap.md (#875)
  docs/process/roadmap.md
Owners: @unicode-org/icu4x-sc
