Repository unicode-org/icu4x, changes with the owners that CODEOWNERS names for each.
All owners: @unicode-org/icu4x-sc, @zbraniecki, @sffc, @nciric, @echeran, @filmil

CODEOWNERS:

# See https://github.blog/2017-07-06-introducing-code-owners/ for details
# Format of the file follows: https://git-scm.com/docs/gitattributes

# Fallback to core group for crates or folders without specific owners, like docs/.

* @unicode-org/icu4x-sc

# List of components with at least two owners as specified in docs/crate-ownership.

components/datetime/            @zbraniecki @sffc
components/locid/               @zbraniecki @nciric
components/plurals/             @zbraniecki @sffc
components/uniset/              @echeran
ffi/ecma402/             @filmil
provider/cldr/       @sffc
provider/core/            @sffc
provider/fs/         @sffc
provider/testdata/             @sffc
utils/fixed_decimal/            @sffc

cargo fix
  components/datetime/src/format/datetime.rs
  components/datetime/src/options/components.rs
  components/datetime/src/skeleton.rs
Owners: @zbraniecki, @sffc

Move icu core crate to no-std
  components/icu/Cargo.toml
  components/icu/src/lib.rs
Owners: @unicode-org/icu4x-sc

Add task for testing all of icu4x builds on nostd
  components/datetime/src/skeleton.rs
  tools/scripts/ffi.toml
Owners: @zbraniecki, @sffc, @unicode-org/icu4x-sc

fix import
  components/uniset/src/uniset.rs
Owners: @echeran

Implement BinaryPropertiesDataProvider
  Cargo.lock
  Cargo.toml
  provider/core/src/error.rs
  provider/uprops/Cargo.toml
  provider/uprops/src/binary.rs
  provider/uprops/src/lib.rs
  provider/uprops/src/upropdump_serde.rs
Owners: @unicode-org/icu4x-sc, @sffc

Address review feedback
  Cargo.lock
  provider/uprops/Cargo.toml
  provider/uprops/src/binary.rs
  provider/uprops/src/error.rs
  provider/uprops/src/lib.rs
  provider/uprops/src/upropdump_serde.rs
Owners: @unicode-org/icu4x-sc

Add export support for BinaryPropertiesDataProvider
  provider/uprops/src/binary.rs
Owners: @unicode-org/icu4x-sc

fix warnings
  components/datetime/src/pattern/mod.rs
  components/datetime/src/skeleton.rs
  components/uniset/src/uniset.rs
Owners: @zbraniecki, @sffc, @echeran

Remove second lifetime parameter from BinaryPropertiesDataProvider
  provider/uprops/src/binary.rs
Owners: @unicode-org/icu4x-sc

Fix newline for cargo fmt
  provider/uprops/src/lib.rs
Owners: @unicode-org/icu4x-sc

Fix FFI lifetime
  ffi/capi/src/decimal.rs
  ffi/capi/src/locale_canonicalizer.rs
  ffi/capi/src/provider.rs
Owners: @unicode-org/icu4x-sc

Improve docs
  provider/core/README.md
  provider/core/src/lib.rs
Owners: @sffc

Remove unnecessary cargo-all-features from Cargo.toml
  provider/uprops/Cargo.toml
Owners: @unicode-org/icu4x-sc

Improve docs on DataProvider lifetimes (#915)
  provider/core/README.md
  provider/core/src/lib.rs
Owners: @sffc

Fix FFI lifetimes for DataProvider (#914)
  ffi/capi/src/decimal.rs
  ffi/capi/src/locale_canonicalizer.rs
  ffi/capi/src/provider.rs
Owners: @unicode-org/icu4x-sc

Document certain DataProvider impls that return `'static`
  provider/core/src/data_provider.rs
  provider/core/src/serde.rs
  provider/fs/src/fs_data_provider.rs
Owners: @sffc

Add zv_serde example, plus improvements to Makefile.toml (#901)
  Cargo.lock
  tools/scripts/valgrind.toml
  tools/scripts/wasm.toml
  utils/zerovec/Cargo.toml
  utils/zerovec/examples/zv_serde.rs
Owners: @unicode-org/icu4x-sc

add Rust Benchmark (cargo) benchmark result for becafac79b327f18e8f1721683de638e828f2419
  benchmarks/perf/components/uniset/data.js
Owners: @unicode-org/icu4x-sc

add Rust Benchmark (cargo) benchmark result for becafac79b327f18e8f1721683de638e828f2419
  benchmarks/perf/components/datetime/data.js
Owners: @unicode-org/icu4x-sc

add Rust Benchmark (cargo) benchmark result for becafac79b327f18e8f1721683de638e828f2419
  benchmarks/perf/utils/fixed_decimal/data.js
Owners: @unicode-org/icu4x-sc

add Rust Benchmark (cargo) benchmark result for 5970335819dd63caf5653ca76529bd9e9e90650e
  benchmarks/perf/utils/fixed_decimal/data.js
Owners: @unicode-org/icu4x-sc

add Rust Benchmark (cargo) benchmark result for becafac79b327f18e8f1721683de638e828f2419
  benchmarks/perf/components/locid/data.js
Owners: @unicode-org/icu4x-sc

add Rust Benchmark (cargo) benchmark result for becafac79b327f18e8f1721683de638e828f2419
  benchmarks/perf/components/plurals/data.js
Owners: @unicode-org/icu4x-sc

add Rust Benchmark (cargo) benchmark result for 5970335819dd63caf5653ca76529bd9e9e90650e
  benchmarks/perf/components/datetime/data.js
Owners: @unicode-org/icu4x-sc

add Rust Benchmark (cargo) benchmark result for 5970335819dd63caf5653ca76529bd9e9e90650e
  benchmarks/perf/components/locid/data.js
Owners: @unicode-org/icu4x-sc

add Rust Benchmark (cargo) benchmark result for 5970335819dd63caf5653ca76529bd9e9e90650e
  benchmarks/perf/components/uniset/data.js
Owners: @unicode-org/icu4x-sc

add Rust Benchmark (cargo) benchmark result for 5970335819dd63caf5653ca76529bd9e9e90650e
  benchmarks/perf/components/plurals/data.js
Owners: @unicode-org/icu4x-sc

add Heap – ubuntu-latest (ndjson) benchmark result for becafac79b327f18e8f1721683de638e828f2419
  benchmarks/memory/ubuntu-latest/data.js
Owners: @unicode-org/icu4x-sc

add Rust Benchmark (cargo) benchmark result for 4ea601271e0cb3122b1ed00c28f0ef4cd9a366a6
  benchmarks/perf/utils/fixed_decimal/data.js
Owners: @unicode-org/icu4x-sc

add Rust Benchmark (cargo) benchmark result for 4ea601271e0cb3122b1ed00c28f0ef4cd9a366a6
  benchmarks/perf/components/locid/data.js
Owners: @unicode-org/icu4x-sc

add Rust Benchmark (cargo) benchmark result for 4ea601271e0cb3122b1ed00c28f0ef4cd9a366a6
  benchmarks/perf/components/uniset/data.js
Owners: @unicode-org/icu4x-sc

add Rust Benchmark (cargo) benchmark result for 4ea601271e0cb3122b1ed00c28f0ef4cd9a366a6
  benchmarks/perf/components/datetime/data.js
Owners: @unicode-org/icu4x-sc

add Heap – ubuntu-latest (ndjson) benchmark result for 5970335819dd63caf5653ca76529bd9e9e90650e
  benchmarks/memory/ubuntu-latest/data.js
Owners: @unicode-org/icu4x-sc

add Rust Benchmark (cargo) benchmark result for 4ea601271e0cb3122b1ed00c28f0ef4cd9a366a6
  benchmarks/perf/components/plurals/data.js
Owners: @unicode-org/icu4x-sc

add Heap – ubuntu-latest (ndjson) benchmark result for 4ea601271e0cb3122b1ed00c28f0ef4cd9a366a6
  benchmarks/memory/ubuntu-latest/data.js
Owners: @unicode-org/icu4x-sc

add Heap – windows-latest (ndjson) benchmark result for becafac79b327f18e8f1721683de638e828f2419
  benchmarks/memory/windows-latest/data.js
Owners: @unicode-org/icu4x-sc

add Heap – windows-latest (ndjson) benchmark result for 5970335819dd63caf5653ca76529bd9e9e90650e
  benchmarks/memory/windows-latest/data.js
Owners: @unicode-org/icu4x-sc

add Heap – windows-latest (ndjson) benchmark result for 4ea601271e0cb3122b1ed00c28f0ef4cd9a366a6
  benchmarks/memory/windows-latest/data.js
Owners: @unicode-org/icu4x-sc

add Heap – macos-latest (ndjson) benchmark result for becafac79b327f18e8f1721683de638e828f2419
  benchmarks/memory/macos-latest/data.js
Owners: @unicode-org/icu4x-sc

Update tools/benchmark/binsize/src/main.rs
  tools/benchmark/binsize/src/main.rs
Owners: @unicode-org/icu4x-sc
