Repository unicode-org/icu4x, changes with the owners that CODEOWNERS names for each.
All owners: @unicode-org/icu4x-owners, @Manishearth, @sffc, @hsivonen, @echeran, @zbraniecki, @gregtatum, @nordzilla, @robertbastian, @nciric, @dminor, @eggrobin, @snktd, @pdogr, @aethanyc, @makotokato, @filmil, @gnrunge

again
  components/datetime/src/calendar.rs
  docs/tutorials/data_provider.md
  ffi/diplomat/src/properties_maps.rs
  ffi/diplomat/src/provider.rs
  provider/adapters/src/any_payload.rs
  provider/core/src/any.rs
  provider/core/src/marker.rs
Owners: @zbraniecki, @gregtatum, @nordzilla, @unicode-org/icu4x-owners, @sffc, @Manishearth

fix
  docs/tutorials/data_provider.md
  provider/core/src/any.rs
Owners: @unicode-org/icu4x-owners, @sffc, @Manishearth

fmt
  provider/core/src/marker.rs
Owners: @sffc, @Manishearth

attr
  .gitattributes
Owners: @unicode-org/icu4x-owners

`DataMarker: 'static` (#3137)
  components/datetime/src/calendar.rs
  docs/tutorials/data_provider.md
  ffi/diplomat/src/properties_maps.rs
  ffi/diplomat/src/provider.rs
  provider/adapters/src/any_payload.rs
  provider/core/src/any.rs
  provider/core/src/marker.rs
Owners: @zbraniecki, @gregtatum, @nordzilla, @unicode-org/icu4x-owners, @sffc, @Manishearth

tidy
  provider/repodata/LICENSE
Owners: @unicode-org/icu4x-owners

Only run cratesio job on cron
  .github/workflows/build-on-main.yml
Owners: @unicode-org/icu4x-owners

New CI style
  .github/workflows/build-on-main.yml
  .github/workflows/build-test.yml
Owners: @unicode-org/icu4x-owners

Tweak when to save lockfile
  tools/make/tests.toml
Owners: @Manishearth, @sffc

Small review feedback
  .github/workflows/build-test.yml
  docs/tutorials/cargo_tests/buffer/Makefile
Owners: @unicode-org/icu4x-owners

cargo_tests -> crates
  Cargo.toml
  docs/tutorials/cargo.md
  docs/tutorials/crates/.gitignore
  docs/tutorials/crates/Cargo.lock
  docs/tutorials/crates/Cargo.toml
  docs/tutorials/crates/baked/.gitignore
  docs/tutorials/crates/baked/Cargo.toml
  docs/tutorials/crates/baked/README.md
  docs/tutorials/crates/baked/build.rs
  docs/tutorials/crates/baked/src/main.rs
  docs/tutorials/crates/buffer/.gitignore
  docs/tutorials/crates/buffer/Cargo.toml
  docs/tutorials/crates/buffer/Makefile
  docs/tutorials/crates/buffer/README.md
  docs/tutorials/crates/buffer/src/main.rs
  docs/tutorials/crates/experimental/Cargo.toml
  docs/tutorials/crates/experimental/README.md
  docs/tutorials/crates/experimental/src/main.rs
  docs/tutorials/crates/lazy_static/Cargo.toml
  docs/tutorials/crates/lazy_static/README.md
  docs/tutorials/crates/lazy_static/src/main.rs
  docs/tutorials/crates/patch.toml
  docs/tutorials/crates/testdata/Cargo.toml
  docs/tutorials/crates/testdata/README.md
  docs/tutorials/crates/testdata/src/main.rs
  tools/make/tests.toml
  tools/make/tidy.toml
Owners: @unicode-org/icu4x-owners, @Manishearth, @sffc

Review feedback
  docs/tutorials/data_provider.md
Owners: @unicode-org/icu4x-owners

Add another comment
  docs/tutorials/data_provider.md
Owners: @unicode-org/icu4x-owners

again
  .github/workflows/artifacts-build.yml
  Cargo.lock
  provider/core/Cargo.toml
  provider/core/src/datagen/heap_measure.rs
  provider/core/src/datagen/mod.rs
  provider/datagen/src/lib.rs
  provider/datagen/src/registry.rs
  provider/datagen/tests/verify-zero-copy.rs
Owners: @unicode-org/icu4x-owners, @sffc, @Manishearth, @robertbastian

fix
  .github/workflows/artifacts-build.yml
  provider/datagen/tests/verify-zero-copy.rs
Owners: @unicode-org/icu4x-owners, @sffc, @robertbastian, @Manishearth

Add new cargo.md tutorial and standalone test projects (#2924)
  .github/workflows/build-on-main.yml
  .github/workflows/build-test.yml
  Cargo.toml
  Makefile.toml
  docs/README.md
  docs/process/release.md
  docs/tutorials/cargo.md
  docs/tutorials/crates/.gitignore
  docs/tutorials/crates/Cargo.lock
  docs/tutorials/crates/Cargo.toml
  docs/tutorials/crates/baked/.gitignore
  docs/tutorials/crates/baked/Cargo.toml
  docs/tutorials/crates/baked/README.md
  docs/tutorials/crates/baked/build.rs
  docs/tutorials/crates/baked/src/main.rs
  docs/tutorials/crates/buffer/.gitignore
  docs/tutorials/crates/buffer/Cargo.toml
  docs/tutorials/crates/buffer/Makefile
  docs/tutorials/crates/buffer/README.md
  docs/tutorials/crates/buffer/src/main.rs
  docs/tutorials/crates/experimental/Cargo.toml
  docs/tutorials/crates/experimental/README.md
  docs/tutorials/crates/experimental/src/main.rs
  docs/tutorials/crates/lazy_static/Cargo.toml
  docs/tutorials/crates/lazy_static/README.md
  docs/tutorials/crates/lazy_static/src/main.rs
  docs/tutorials/crates/patch.toml
  docs/tutorials/crates/testdata/Cargo.toml
  docs/tutorials/crates/testdata/README.md
  docs/tutorials/crates/testdata/src/main.rs
  docs/tutorials/data_management.md
  docs/tutorials/index.md
  docs/tutorials/intro.md
  ffi/diplomat/c/examples/fixeddecimal_tiny/icu_capi_staticlib_tiny/LICENSE
  tools/make/tests.toml
  tools/make/tidy.toml
Owners: @unicode-org/icu4x-owners, @Manishearth, @sffc

Add growable data provider tutorial (#2988)
  Cargo.lock
  docs/tutorials/data_provider.md
  tools/make/data.toml
  tools/tutorials-test/Cargo.toml
Owners: @unicode-org/icu4x-owners, @Manishearth, @sffc

Removing `dhat` dependency from `icu_provider` (#3138)
  Cargo.lock
  provider/core/Cargo.toml
  provider/core/src/datagen/heap_measure.rs
  provider/core/src/datagen/mod.rs
  provider/datagen/src/lib.rs
  provider/datagen/src/registry.rs
  provider/datagen/tests/verify-zero-copy.rs
Owners: @unicode-org/icu4x-owners, @sffc, @Manishearth, @robertbastian

destroyed
  ffi/diplomat/src/provider.rs
Owners: @unicode-org/icu4x-owners

whoops
  Cargo.lock
  provider/testdata/Cargo.toml
Owners: @unicode-org/icu4x-owners

fix
  ffi/diplomat/src/provider.rs
Owners: @unicode-org/icu4x-owners

locks
  docs/tutorials/crates/Cargo.lock
  ffi/diplomat/c/examples/fixeddecimal_tiny/icu_capi_staticlib_tiny/Cargo.lock
Owners: @unicode-org/icu4x-owners

Remove unused testdata deps (#3141)
  Cargo.lock
  docs/tutorials/crates/Cargo.lock
  ffi/diplomat/c/examples/fixeddecimal_tiny/icu_capi_staticlib_tiny/Cargo.lock
  provider/testdata/Cargo.toml
Owners: @unicode-org/icu4x-owners

Add test
  components/collections/codepointtrie_builder/src/lib.rs
Owners: @echeran

Support configurable grouping separators in CompactDecimalFormatter (#3045)
  components/decimal/src/options.rs
  experimental/compactdecimal/Cargo.toml
  experimental/compactdecimal/src/compactdecimal.rs
Owners: @sffc, @eggrobin

Better FFI provider ownership (#3140)
  ffi/diplomat/src/provider.rs
Owners: @unicode-org/icu4x-owners

Apply suggestions from code review
  .gitattributes
  docs/tutorials/data_provider.md
Owners: @unicode-org/icu4x-owners

Provider doc improvements (#3129)
  docs/tutorials/data_provider.md
  provider/core/README.md
  provider/core/src/any.rs
  provider/core/src/buf.rs
  provider/core/src/datagen/payload.rs
  provider/core/src/hello_world.rs
  provider/core/src/helpers.rs
  provider/core/src/lib.rs
  provider/core/src/serde/mod.rs
  provider/testdata/Cargo.toml
  provider/testdata/README.md
  provider/testdata/src/lib.rs
Owners: @unicode-org/icu4x-owners, @sffc, @Manishearth

add rust_icu
  Cargo.lock
  components/collections/codepointtrie_builder/Cargo.toml
  components/collections/codepointtrie_builder/src/lib.rs
Owners: @unicode-org/icu4x-owners, @echeran

draft
  provider/datagen/src/lib.rs
  provider/datagen/src/options.rs
  provider/datagen/src/transform/cldr/source.rs
Owners: @sffc, @robertbastian, @Manishearth

fix
  docs/design/enums_or_ids.md
  docs/design/properties_code_point_trie.md
  docs/posts/20210427_ICU4X_02_Release.md
  docs/process/data_versioning.md
  docs/tutorials/writing_a_new_data_struct.md
  utils/zerovec/design_doc.md
Owners: @unicode-org/icu4x-owners, @Manishearth, @sffc

quickinstall
  .github/workflows/artifacts-build.yml
  .github/workflows/build-test.yml
Owners: @unicode-org/icu4x-owners

add native
  Cargo.lock
  components/collections/codepointtrie_builder/Cargo.toml
  components/collections/codepointtrie_builder/build.rs
  components/collections/codepointtrie_builder/src/lib.rs
  components/collections/codepointtrie_builder/src/native.rs
Owners: @unicode-org/icu4x-owners, @echeran

build = true
  components/collections/codepointtrie_builder/Cargo.toml
Owners: @echeran

binsize
  .github/workflows/artifacts-build.yml
Owners: @unicode-org/icu4x-owners

Add icu4c_unsuffixed feature
  components/collections/codepointtrie_builder/Cargo.toml
  components/collections/codepointtrie_builder/src/native.rs
Owners: @echeran

address
  components/collections/codepointtrie_builder/Cargo.toml
  components/collections/codepointtrie_builder/build.rs
  components/collections/codepointtrie_builder/src/lib.rs
  components/collections/codepointtrie_builder/src/native.rs
Owners: @echeran

display
  components/collections/codepointtrie_builder/src/native.rs
Owners: @echeran

safety
  components/collections/codepointtrie_builder/src/native.rs
Owners: @echeran

tidy
  components/collections/codepointtrie_builder/src/lib.rs
  components/collections/codepointtrie_builder/src/native.rs
Owners: @echeran

CODEOWNERS:

# See https://github.blog/2017-07-06-introducing-code-owners/ for details
# Format of the file follows: https://git-scm.com/docs/gitattributes

# Fallback to core group for crates or folders without specific owners, like docs/.

* @unicode-org/icu4x-owners

# List of components with at least two owners as specified in docs/crate-ownership.

components/calendar/              @Manishearth @sffc
components/collator/              @hsivonen @echeran
components/collections/           @echeran
components/datetime/              @zbraniecki @gregtatum @nordzilla
components/decimal/               @sffc
components/list/                  @robertbastian
components/locid/                 @zbraniecki @nciric
components/locid_transform/       @dminor @zbraniecki
components/normalizer/            @hsivonen @echeran
components/plurals/               @zbraniecki @sffc
components/timezone/              @nordzilla
experimental/bies/                @sffc
experimental/compactdecimal/      @eggrobin
experimental/displaynames/        @sffc @snktd
experimental/relativetime/        @pdogr
experimental/segmenter/           @aethanyc @makotokato @sffc
ffi/capi/                         @Manishearth
ffi/ecma402/                      @filmil
ffi/gn/                           @sffc
provider/blob/                    @sffc @Manishearth
provider/core/                    @sffc @Manishearth
provider/datagen/                 @sffc @robertbastian @Manishearth
provider/fs/                      @sffc
provider/macros/                  @Manishearth @sffc
tools/benchmark/binsize/          @gnrunge
tools/benchmark/macros/           @gregtatum
tools/benchmark/memory/           @gregtatum
tools/depcheck/                   @Manishearth
tools/depcheck/src/allowlist.rs   @unicode-org/icu4x-owners
tools/make/                       @Manishearth @sffc
utils/databake                    @robertbastian @Manishearth
utils/deduplicating_array         @robertbastian
utils/fixed_decimal/              @sffc
utils/litemap/                    @Manishearth @sffc
utils/pattern/                    @zbraniecki
utils/tinystr                     @zbraniecki @sffc
utils/writeable/                  @sffc @robertbastian
utils/yoke/                       @Manishearth @sffc
utils/zerofrom                    @Manishearth @sffc
utils/zerovec/                    @Manishearth @sffc
