Repository unicode-org/icu4x, changes with the owners that CODEOWNERS names for each.
All owners: @unicode-org/icu4x-owners, @Manishearth, @sffc, @hsivonen, @echeran, @zbraniecki, @nordzilla, @eggrobin, @snktd, @pdogr, @robertbastian, @dminor, @nciric, @aethanyc, @makotokato, @filmil, @gnrunge

Make ConverterFactory owns the data
  components/experimental/src/units/converter_factory.rs
  components/experimental/src/units/mod.rs
  components/experimental/tests/units/units_test.rs
Owners: @unicode-org/icu4x-owners

Fix clippy
  components/experimental/src/units/converter_factory.rs
  components/experimental/tests/units/units_test.rs
Owners: @unicode-org/icu4x-owners

Fix fmt
  components/experimental/tests/units/units_test.rs
Owners: @unicode-org/icu4x-owners

Delete comment
  components/experimental/src/units/converter_factory.rs
Owners: @unicode-org/icu4x-owners

Update components/experimental/src/dimension/options.rs
  components/experimental/src/dimension/options.rs
Owners: @unicode-org/icu4x-owners

copy ZeroTrieAscii
  components/experimental/src/units/converter_factory.rs
  components/experimental/src/units/measureunit.rs
  provider/datagen/src/transform/cldr/units/info.rs
Owners: @unicode-org/icu4x-owners, @sffc, @robertbastian, @Manishearth

fmt
  tools/ffi_coverage/src/allowlist.rs
Owners: @unicode-org/icu4x-owners

Add more DatagenDriver options tests (#4723)
  provider/datagen/tests/test-options.rs
Owners: @sffc, @robertbastian, @Manishearth

Implement end to end `CurrencyFormatter` for short and narrow formatting (#4452)
  components/experimental/src/dimension/error.rs
  components/experimental/src/dimension/format.rs
  components/experimental/src/dimension/mod.rs
  components/experimental/src/dimension/options.rs
  components/experimental/src/lib.rs
  components/experimental/tests/dimension/tests.rs
Owners: @unicode-org/icu4x-owners

fix the payload
  components/experimental/src/units/converter_factory.rs
  components/experimental/src/units/measureunit.rs
  provider/datagen/src/transform/cldr/units/info.rs
Owners: @unicode-org/icu4x-owners, @sffc, @robertbastian, @Manishearth

remove unneeded comment.
  components/experimental/src/units/provider.rs
Owners: @unicode-org/icu4x-owners

impl gen_any_buffer_data_constructors
  components/experimental/src/units/converter_factory.rs
Owners: @unicode-org/icu4x-owners

Don't use workspace deps in testdata legacy
  provider/testdata/Cargo.toml
Owners: @unicode-org/icu4x-owners

Update cursor.rs
  utils/zerotrie/src/cursor.rs
Owners: @unicode-org/icu4x-owners

Add ICU4X WG to the README (#4692)
  README.md
Owners: @unicode-org/icu4x-owners

Upgrade to criterion 0.5 (#4739)
  Cargo.lock
  Cargo.toml
  components/calendar/Cargo.toml
  components/casemap/Cargo.toml
  components/collator/Cargo.toml
  components/collections/Cargo.toml
  components/datetime/Cargo.toml
  components/decimal/Cargo.toml
  components/experimental/Cargo.toml
  components/locid/Cargo.toml
  components/locid_transform/Cargo.toml
  components/normalizer/Cargo.toml
  components/plurals/Cargo.toml
  components/segmenter/Cargo.toml
  provider/blob/Cargo.toml
  provider/core/Cargo.toml
  provider/fs/Cargo.toml
  provider/testdata/Cargo.toml
  utils/bies/Cargo.toml
  utils/fixed_decimal/Cargo.toml
  utils/ixdtf/Cargo.toml
  utils/litemap/Cargo.toml
  utils/tinystr/Cargo.toml
  utils/writeable/Cargo.toml
  utils/zerotrie/Cargo.toml
  utils/zerovec/Cargo.toml
Owners: @unicode-org/icu4x-owners, @Manishearth, @sffc, @hsivonen, @echeran, @zbraniecki, @nordzilla, @nciric, @dminor, @aethanyc, @makotokato, @robertbastian

Fix merge
  provider/datagen/tests/test-options.rs
Owners: @sffc, @robertbastian, @Manishearth

Always include und
  provider/datagen/src/driver.rs
Owners: @sffc, @robertbastian, @Manishearth

Remove UndInclusion
  provider/datagen/src/driver.rs
  provider/datagen/src/lib.rs
Owners: @sffc, @robertbastian, @Manishearth

Make helper function to reduce verbosity of call site in test file
  provider/datagen/tests/test-options.rs
Owners: @sffc, @robertbastian, @Manishearth

Remove RetainBaseLanguages for now and add TODOs
  provider/datagen/src/driver.rs
Owners: @sffc, @robertbastian, @Manishearth

Fix gen_any_buffer_data_constructors!
  components/experimental/src/units/converter_factory.rs
  components/experimental/tests/units/units_test.rs
Owners: @unicode-org/icu4x-owners

improve
  components/experimental/src/units/converter_factory.rs
  components/experimental/tests/units/units_test.rs
Owners: @unicode-org/icu4x-owners

Add CLI for the new options
  provider/datagen/src/bin/datagen/args.rs
  provider/datagen/src/bin/datagen/config.rs
  provider/datagen/src/bin/datagen/mod.rs
  provider/datagen/src/driver.rs
  provider/datagen/src/lib.rs
Owners: @sffc, @robertbastian, @Manishearth

Reduce usage of old API and options; clippy
  provider/datagen/src/driver.rs
  provider/datagen/src/tests/make_testdata.rs
Owners: @sffc, @robertbastian, @Manishearth

fix
  components/experimental/src/units/converter_factory.rs
Owners: @unicode-org/icu4x-owners

fix
  components/experimental/src/units/converter_factory.rs
Owners: @unicode-org/icu4x-owners

try fix
  components/experimental/src/units/converter_factory.rs
Owners: @unicode-org/icu4x-owners

revert
  components/experimental/src/units/converter_factory.rs
Owners: @unicode-org/icu4x-owners

add try_new
  components/experimental/src/units/converter_factory.rs
  components/experimental/tests/units/units_test.rs
Owners: @unicode-org/icu4x-owners

fix `gen_any_buffer_data_constructors` in CurrencyFormatter
  components/experimental/src/dimension/mod.rs
Owners: @unicode-org/icu4x-owners

Update more call sites to new API
  ffi/dart/tools/datagen/build.rs
  ffi/dart/tools/datagen/src/main.rs
  provider/blob/tests/test_versions.rs
  tools/bakeddata-scripts/src/main.rs
Owners: @unicode-org/icu4x-owners, @sffc, @Manishearth

Implement Sedate IXDTF string parsing (#4646)
  Cargo.lock
  utils/ixdtf/Cargo.toml
  utils/ixdtf/README.md
  utils/ixdtf/src/error.rs
  utils/ixdtf/src/lib.rs
  utils/ixdtf/src/parser.rs
  utils/ixdtf/src/parsers/annotations.rs
  utils/ixdtf/src/parsers/datetime.rs
  utils/ixdtf/src/parsers/duration.rs
  utils/ixdtf/src/parsers/grammar.rs
  utils/ixdtf/src/parsers/mod.rs
  utils/ixdtf/src/parsers/records.rs
  utils/ixdtf/src/parsers/tests.rs
  utils/ixdtf/src/parsers/time.rs
  utils/ixdtf/src/parsers/timezone.rs
Owners: @unicode-org/icu4x-owners

Fix test failure in blob provider. Needs investigation
  provider/datagen/src/driver.rs
Owners: @sffc, @robertbastian, @Manishearth

doc
  provider/datagen/src/driver.rs
Owners: @sffc, @robertbastian, @Manishearth

Better fix for the blob provider test failure
  provider/blob/Cargo.toml
  provider/datagen/src/driver.rs
Owners: @sffc, @Manishearth, @robertbastian

Refactoring
  provider/datagen/src/driver.rs
Owners: @sffc, @robertbastian, @Manishearth

Consolidate types and other nits
  provider/datagen/src/driver.rs
Owners: @sffc, @robertbastian, @Manishearth

Update components/experimental/src/units/converter_factory.rs
  components/experimental/src/units/converter_factory.rs
Owners: @unicode-org/icu4x-owners

Update components/experimental/src/units/converter_factory.rs
  components/experimental/src/units/converter_factory.rs
Owners: @unicode-org/icu4x-owners

CODEOWNERS:

# See https://github.blog/2017-07-06-introducing-code-owners/ for details
# Format of the file follows: https://git-scm.com/docs/gitattributes

# Fallback to core group for crates or folders without specific owners, like docs/.

* @unicode-org/icu4x-owners

# List of components with at least two owners as specified in docs/crate-ownership.

components/calendar/              @Manishearth @sffc
components/casemap/               @Manishearth
components/collator/              @hsivonen @echeran
components/collections/           @echeran
components/datetime/              @zbraniecki @nordzilla
components/decimal/               @sffc
components/experimental/src/compactdecimal/      @eggrobin
components/experimental/src/displaynames/        @sffc @snktd
components/experimental/src/relativetime/        @pdogr
components/list/                  @robertbastian
components/locid_transform/       @dminor @zbraniecki
components/locid/                 @zbraniecki @nciric
components/normalizer/            @hsivonen @echeran
components/plurals/               @zbraniecki @sffc
components/segmenter/             @aethanyc @makotokato @sffc
components/timezone/              @nordzilla
tutorials/gn/                @sffc
ffi/capi/                         @Manishearth
ffi/ecma402/                      @filmil
ffi/harfbuzz/                     @hsivonen
provider/blob/                    @sffc @Manishearth
provider/core/                    @sffc @Manishearth
provider/datagen/                 @sffc @robertbastian @Manishearth
provider/fs/                      @sffc
provider/macros/                  @Manishearth @sffc
tools/benchmark/binsize/          @gnrunge
tools/depcheck/                   @Manishearth
tools/depcheck/src/allowlist.rs   @unicode-org/icu4x-owners
tools/make/                       @Manishearth @sffc
utils/bies/                @sffc
utils/databake                    @robertbastian @Manishearth
utils/deduplicating_array         @robertbastian
utils/fixed_decimal/              @sffc
utils/litemap/                    @Manishearth @sffc
utils/pattern/                    @zbraniecki
utils/tinystr                     @zbraniecki @sffc
utils/writeable/                  @sffc @robertbastian
utils/yoke/                       @Manishearth @sffc
utils/zerofrom                    @Manishearth @sffc
utils/zerovec/                    @Manishearth @sffc
