Repository unicode-org/icu4x, changes with the owners that CODEOWNERS names for each.
All owners: @unicode-org/icu4x-sc, @zbraniecki, @sffc, @nciric, @echeran, @filmil

Refactor ffi tests to separate module
  Makefile.toml
  tools/scripts/ffi.toml
  tools/scripts/tests.toml
Owners: @unicode-org/icu4x-sc

Fix FFI tests (#889)
  .github/workflows/build-test.yml
  Makefile.toml
  ffi/cpp/include/locale.hpp
  tools/scripts/ffi.toml
  tools/scripts/tests.toml
Owners: @unicode-org/icu4x-sc

add Rust Benchmark (cargo) benchmark result for 83418f8c43949ef19e89956ecac33618ae91ae67
  benchmarks/perf/utils/fixed_decimal/data.js
Owners: @unicode-org/icu4x-sc

add Rust Benchmark (cargo) benchmark result for 83418f8c43949ef19e89956ecac33618ae91ae67
  benchmarks/perf/components/locid/data.js
Owners: @unicode-org/icu4x-sc

add Rust Benchmark (cargo) benchmark result for 83418f8c43949ef19e89956ecac33618ae91ae67
  benchmarks/perf/components/uniset/data.js
Owners: @unicode-org/icu4x-sc

add Rust Benchmark (cargo) benchmark result for 83418f8c43949ef19e89956ecac33618ae91ae67
  benchmarks/perf/components/datetime/data.js
Owners: @unicode-org/icu4x-sc

add Rust Benchmark (cargo) benchmark result for 83418f8c43949ef19e89956ecac33618ae91ae67
  benchmarks/perf/components/plurals/data.js
Owners: @unicode-org/icu4x-sc

add Heap – ubuntu-latest (ndjson) benchmark result for 83418f8c43949ef19e89956ecac33618ae91ae67
  benchmarks/memory/ubuntu-latest/data.js
Owners: @unicode-org/icu4x-sc

add Heap – windows-latest (ndjson) benchmark result for 83418f8c43949ef19e89956ecac33618ae91ae67
  benchmarks/memory/windows-latest/data.js
Owners: @unicode-org/icu4x-sc

add Heap – macos-latest (ndjson) benchmark result for 83418f8c43949ef19e89956ecac33618ae91ae67
  benchmarks/memory/macos-latest/data.js
Owners: @unicode-org/icu4x-sc

replace
  ffi/capi/src/custom_writeable.rs
  ffi/capi/src/decimal.rs
  ffi/capi/src/fixed_decimal.rs
  ffi/capi/src/locale.rs
  ffi/capi/src/locale_canonicalizer.rs
  ffi/capi/src/pluralrules.rs
  ffi/capi/src/provider.rs
  ffi/capi/src/wasm_glue.rs
Owners: @unicode-org/icu4x-sc

Add freertos glue
  Cargo.lock
  ffi/capi/Cargo.toml
  ffi/capi/src/freertos_glue.rs
  ffi/capi/src/lib.rs
Owners: @unicode-org/icu4x-sc

fix warning
  ffi/capi/Cargo.toml
  provider/blob/src/static_data_provider.rs
Owners: @unicode-org/icu4x-sc

fmt
  ffi/capi/src/decimal.rs
  ffi/capi/src/lib.rs
  ffi/capi/src/locale.rs
  ffi/capi/src/locale_canonicalizer.rs
  ffi/capi/src/provider.rs
  ffi/capi/src/wasm_glue.rs
Owners: @unicode-org/icu4x-sc

fix warning
  ffi/capi/src/provider.rs
Owners: @unicode-org/icu4x-sc

capi nostd
  ffi/capi/src/lib.rs
Owners: @unicode-org/icu4x-sc

Add tests for cortex
  .github/workflows/build-test.yml
Owners: @unicode-org/icu4x-sc

fix attr
  ffi/capi/src/lib.rs
Owners: @unicode-org/icu4x-sc

fmt
  ffi/capi/src/lib.rs
Owners: @unicode-org/icu4x-sc

Fix wasm glue
  ffi/capi/src/lib.rs
  ffi/capi/src/wasm_glue.rs
Owners: @unicode-org/icu4x-sc

update test-cortex
  tools/scripts/ffi.toml
Owners: @unicode-org/icu4x-sc

Set explicit stable values for enum discriminants that match ICU4C (#698)
  components/uniset/src/enum_props.rs
  components/uniset/src/props.rs
  components/uniset/src/provider.rs
  docs/design/properties_code_point_trie.md
  experimental/provider_ppucd/src/enum_prop_mapping.rs
  experimental/provider_ppucd/src/lib.rs
  experimental/provider_ppucd/src/parse_ppucd.rs
  experimental/provider_ppucd/tests/props_test.rs
  experimental/provider_ppucd/tests/testdata/ppucd-inpc-topbotleft-test.txt
Owners: @echeran, @unicode-org/icu4x-sc

add Rust Benchmark (cargo) benchmark result for 6df5ffc44246d68586ccf888b13a761a365a30c7
  benchmarks/perf/utils/fixed_decimal/data.js
Owners: @unicode-org/icu4x-sc

add Rust Benchmark (cargo) benchmark result for 6df5ffc44246d68586ccf888b13a761a365a30c7
  benchmarks/perf/components/uniset/data.js
Owners: @unicode-org/icu4x-sc

add Rust Benchmark (cargo) benchmark result for 6df5ffc44246d68586ccf888b13a761a365a30c7
  benchmarks/perf/components/locid/data.js
Owners: @unicode-org/icu4x-sc

add Rust Benchmark (cargo) benchmark result for 6df5ffc44246d68586ccf888b13a761a365a30c7
  benchmarks/perf/components/datetime/data.js
Owners: @unicode-org/icu4x-sc

add Rust Benchmark (cargo) benchmark result for 6df5ffc44246d68586ccf888b13a761a365a30c7
  benchmarks/perf/components/plurals/data.js
Owners: @unicode-org/icu4x-sc

add Heap – ubuntu-latest (ndjson) benchmark result for 6df5ffc44246d68586ccf888b13a761a365a30c7
  benchmarks/memory/ubuntu-latest/data.js
Owners: @unicode-org/icu4x-sc

fix actions
  .github/workflows/build-test.yml
Owners: @unicode-org/icu4x-sc

add Heap – windows-latest (ndjson) benchmark result for 6df5ffc44246d68586ccf888b13a761a365a30c7
  benchmarks/memory/windows-latest/data.js
Owners: @unicode-org/icu4x-sc

add Heap – macos-latest (ndjson) benchmark result for 6df5ffc44246d68586ccf888b13a761a365a30c7
  benchmarks/memory/macos-latest/data.js
Owners: @unicode-org/icu4x-sc

link to #891
  ffi/capi/src/lib.rs
Owners: @unicode-org/icu4x-sc

Update operands.rs
  components/plurals/src/operands.rs
Owners: @zbraniecki, @sffc

Update decimal.rs
  utils/fixed_decimal/src/decimal.rs
Owners: @sffc

Handle no_std for icu_capi (#890)
  .github/workflows/build-test.yml
  Cargo.lock
  ffi/capi/Cargo.toml
  ffi/capi/src/custom_writeable.rs
  ffi/capi/src/decimal.rs
  ffi/capi/src/fixed_decimal.rs
  ffi/capi/src/freertos_glue.rs
  ffi/capi/src/lib.rs
  ffi/capi/src/locale.rs
  ffi/capi/src/locale_canonicalizer.rs
  ffi/capi/src/pluralrules.rs
  ffi/capi/src/provider.rs
  ffi/capi/src/wasm_glue.rs
  provider/blob/src/static_data_provider.rs
  tools/scripts/ffi.toml
Owners: @unicode-org/icu4x-sc

add Rust Benchmark (cargo) benchmark result for 9a25738b476593d40353e19a2dd0b2c5f9ab81a6
  benchmarks/perf/utils/fixed_decimal/data.js
Owners: @unicode-org/icu4x-sc

add Rust Benchmark (cargo) benchmark result for 9a25738b476593d40353e19a2dd0b2c5f9ab81a6
  benchmarks/perf/components/uniset/data.js
Owners: @unicode-org/icu4x-sc

add Rust Benchmark (cargo) benchmark result for 9a25738b476593d40353e19a2dd0b2c5f9ab81a6
  benchmarks/perf/components/locid/data.js
Owners: @unicode-org/icu4x-sc

add Rust Benchmark (cargo) benchmark result for 9a25738b476593d40353e19a2dd0b2c5f9ab81a6
  benchmarks/perf/components/datetime/data.js
Owners: @unicode-org/icu4x-sc

add Rust Benchmark (cargo) benchmark result for 9a25738b476593d40353e19a2dd0b2c5f9ab81a6
  benchmarks/perf/components/plurals/data.js
Owners: @unicode-org/icu4x-sc

CODEOWNERS:

# See https://github.blog/2017-07-06-introducing-code-owners/ for details
# Format of the file follows: https://git-scm.com/docs/gitattributes

# Fallback to core group for crates or folders without specific owners, like docs/.

* @unicode-org/icu4x-sc

# List of components with at least two owners as specified in docs/crate-ownership.

components/datetime/            @zbraniecki @sffc
components/locid/               @zbraniecki @nciric
components/plurals/             @zbraniecki @sffc
components/uniset/              @echeran
ffi/ecma402/             @filmil
provider/cldr/       @sffc
provider/core/            @sffc
provider/fs/         @sffc
provider/testdata/             @sffc
utils/fixed_decimal/            @sffc
