Repository unicode-org/icu4x, changes with the owners that CODEOWNERS names for each.
All owners: @unicode-org/icu4x-owners, @Manishearth, @sffc, @hsivonen, @echeran, @zbraniecki, @nordzilla, @eggrobin, @snktd, @pdogr, @robertbastian, @dminor, @nciric, @aethanyc, @makotokato, @filmil, @gnrunge

Apply feedback to clean up logic
  utils/ixdtf/src/parsers/annotations.rs
  utils/ixdtf/src/parsers/tests.rs
Owners: @unicode-org/icu4x-owners

Missed some semicolons
  utils/ixdtf/src/parsers/annotations.rs
Owners: @unicode-org/icu4x-owners

add favor-script variant of likely subtags algorithm
  components/locid_transform/src/expander.rs
Owners: @dminor, @zbraniecki

doctest: export options from expander in locid_transform
  components/locid_transform/src/lib.rs
Owners: @dminor, @zbraniecki

docs: add more documentation
  components/locid_transform/src/expander.rs
Owners: @dminor, @zbraniecki

anstyle for MSRV 1.68.2
  Cargo.lock
Owners: @unicode-org/icu4x-owners

Remove unnecessary variants handling code
  components/locid_transform/src/expander.rs
Owners: @dminor, @zbraniecki

Simplify minimize function using update_langid_minimize
  components/locid_transform/src/expander.rs
Owners: @dminor, @zbraniecki

Add bench for minimize fn
  components/locid_transform/benches/locale_canonicalizer.rs
Owners: @dminor, @zbraniecki

ffi: add ICU4XSegmenterWordType::is_word_like
  ffi/capi/bindings/c/ICU4XSegmenterWordType.h
  ffi/capi/bindings/cpp/ICU4XSegmenterWordType.h
  ffi/capi/bindings/dart/SegmenterWordType.g.dart
  ffi/capi/src/segmenter_word.rs
Owners: @Manishearth

add ULE file
  components/experimental/src/dimension/provider/extended_currency.rs
  components/experimental/src/dimension/provider/extended_currency_ule.rs
Owners: @unicode-org/icu4x-owners

CODEOWNERS:

# See https://github.blog/2017-07-06-introducing-code-owners/ for details
# Format of the file follows: https://git-scm.com/docs/gitattributes

# Fallback to core group for crates or folders without specific owners, like docs/.

* @unicode-org/icu4x-owners

# List of components with at least two owners as specified in docs/crate-ownership.

components/calendar/              @Manishearth @sffc
components/casemap/               @Manishearth
components/collator/              @hsivonen @echeran
components/collections/           @echeran
components/datetime/              @zbraniecki @nordzilla
components/decimal/               @sffc
components/experimental/src/compactdecimal/      @eggrobin
components/experimental/src/displaynames/        @sffc @snktd
components/experimental/src/relativetime/        @pdogr
components/list/                  @robertbastian
components/locid_transform/       @dminor @zbraniecki
components/locid/                 @zbraniecki @nciric
components/normalizer/            @hsivonen @echeran
components/plurals/               @zbraniecki @sffc
components/segmenter/             @aethanyc @makotokato @sffc
components/timezone/              @nordzilla
tutorials/gn/                @sffc
ffi/capi/                         @Manishearth
ffi/ecma402/                      @filmil
ffi/harfbuzz/                     @hsivonen
provider/blob/                    @sffc @Manishearth
provider/core/                    @sffc @Manishearth
provider/datagen/                 @sffc @robertbastian @Manishearth
provider/fs/                      @sffc
provider/macros/                  @Manishearth @sffc
tools/benchmark/binsize/          @gnrunge
tools/depcheck/                   @Manishearth
tools/depcheck/src/allowlist.rs   @unicode-org/icu4x-owners
tools/make/                       @Manishearth @sffc
utils/bies/                @sffc
utils/databake                    @robertbastian @Manishearth
utils/deduplicating_array         @robertbastian
utils/fixed_decimal/              @sffc
utils/litemap/                    @Manishearth @sffc
utils/pattern/                    @zbraniecki
utils/tinystr                     @zbraniecki @sffc
utils/writeable/                  @sffc @robertbastian
utils/yoke/                       @Manishearth @sffc
utils/zerofrom                    @Manishearth @sffc
utils/zerovec/                    @Manishearth @sffc
