Repository unicode-org/icu4x, changes with the owners that CODEOWNERS names for each.
All owners: @unicode-org/icu4x-sc, @zbraniecki, @sffc, @nciric, @echeran, @filmil

CODEOWNERS:

# See https://github.blog/2017-07-06-introducing-code-owners/ for details
# Format of the file follows: https://git-scm.com/docs/gitattributes

# Fallback to core group for crates or folders without specific owners, like docs/.

* @unicode-org/icu4x-sc

# List of components with at least two owners as specified in docs/crate-ownership.

components/datetime/            @zbraniecki @sffc
components/locid/               @zbraniecki @nciric
components/plurals/             @zbraniecki @sffc
components/uniset/              @echeran
ffi/ecma402/             @filmil
provider/cldr/       @sffc
provider/core/            @sffc
provider/fs/         @sffc
provider/testdata/             @sffc
utils/fixed_decimal/            @sffc

Move .filterable() to its own trait and update docs tests
  provider/core/src/data_provider.rs
  provider/core/src/filter/impls.rs
  provider/core/src/filter/mod.rs
Owners: @sffc

Update call site to use .filterable()
  provider/core/src/filter/mod.rs
  tools/datagen/src/bin/datagen.rs
Owners: @sffc, @unicode-org/icu4x-sc

Updating README.md
  experimental/calendar/README.md
Owners: @unicode-org/icu4x-sc

Fix clippy and docs tests
  provider/core/src/filter/impls.rs
  provider/core/src/filter/mod.rs
  provider/fs/src/export/mod.rs
  tools/scripts/tidy.toml
Owners: @sffc, @unicode-org/icu4x-sc

Temporarily ignore Yoke::project doctest
  utils/yoke/src/yoke.rs
Owners: @unicode-org/icu4x-sc

Add projection utilities to Yoke (#833)
  Cargo.lock
  provider/core/Cargo.toml
  provider/core/src/data_provider/test.rs
  provider/core/src/hello_world.rs
  provider/core/src/marker/macros.rs
  provider/core/src/marker/mod.rs
  provider/core/src/serde.rs
  utils/yoke/Cargo.toml
  utils/yoke/src/lib.rs
  utils/yoke/src/trait_hack.rs
  utils/yoke/src/yoke.rs
  utils/yoke/src/yokeable.rs
  utils/yoke/src/zero_copy_from.rs
  utils/yoke/tests/bincode.rs
  utils/zerovec/Cargo.toml
  utils/zerovec/src/yoke_impls.rs
Owners: @unicode-org/icu4x-sc, @sffc

add Rust Benchmark (cargo) benchmark result for 0d428d309b58300a577def53d257337df853f053
  benchmarks/perf/components/uniset/data.js
Owners: @unicode-org/icu4x-sc

add Rust Benchmark (cargo) benchmark result for 0d428d309b58300a577def53d257337df853f053
  benchmarks/perf/utils/fixed_decimal/data.js
Owners: @unicode-org/icu4x-sc

add Rust Benchmark (cargo) benchmark result for 0d428d309b58300a577def53d257337df853f053
  benchmarks/perf/components/plurals/data.js
Owners: @unicode-org/icu4x-sc

add Rust Benchmark (cargo) benchmark result for 0d428d309b58300a577def53d257337df853f053
  benchmarks/perf/components/locid/data.js
Owners: @unicode-org/icu4x-sc

add Rust Benchmark (cargo) benchmark result for 0d428d309b58300a577def53d257337df853f053
  benchmarks/perf/components/datetime/data.js
Owners: @unicode-org/icu4x-sc

add Heap – ubuntu-latest (ndjson) benchmark result for 0d428d309b58300a577def53d257337df853f053
  benchmarks/memory/ubuntu-latest/data.js
Owners: @unicode-org/icu4x-sc

add Heap – windows-latest (ndjson) benchmark result for 0d428d309b58300a577def53d257337df853f053
  benchmarks/memory/windows-latest/data.js
Owners: @unicode-org/icu4x-sc

add Heap – macos-latest (ndjson) benchmark result for 0d428d309b58300a577def53d257337df853f053
  benchmarks/memory/macos-latest/data.js
Owners: @unicode-org/icu4x-sc

Break out hour cycle into its own module
  components/datetime/src/pattern/hour_cycle.rs
  components/datetime/src/pattern/mod.rs
  components/datetime/src/provider/gregory.rs
  components/datetime/src/provider/helpers.rs
  provider/cldr/src/transform/dates/patterns.rs
Owners: @zbraniecki, @sffc

Add a feature flag provider_transform_utils, and apply it to the hour cycle transform code
  components/datetime/Cargo.toml
  components/datetime/src/pattern/mod.rs
  components/datetime/src/pattern/transform_hour_cycle.rs
  components/datetime/src/provider/gregory.rs
  components/datetime/src/provider/helpers.rs
  components/datetime/src/skeleton.rs
  components/icu/README.md
  provider/cldr/Cargo.toml
  provider/cldr/src/transform/dates/patterns.rs
Owners: @zbraniecki, @sffc, @unicode-org/icu4x-sc

De-duplicate the hour cycle in the length data
  components/datetime/src/pattern/mod.rs
  components/datetime/src/provider/gregory.rs
  components/datetime/src/provider/helpers.rs
  provider/cldr/src/transform/dates/patterns.rs
  provider/testdata/data/json/date_patterns/gregory@1/ar-EG.json
  provider/testdata/data/json/date_patterns/gregory@1/ar.json
  provider/testdata/data/json/date_patterns/gregory@1/bn.json
  provider/testdata/data/json/date_patterns/gregory@1/ccp.json
  provider/testdata/data/json/date_patterns/gregory@1/en-001.json
  provider/testdata/data/json/date_patterns/gregory@1/en-ZA.json
  provider/testdata/data/json/date_patterns/gregory@1/en.json
  provider/testdata/data/json/date_patterns/gregory@1/es-AR.json
  provider/testdata/data/json/date_patterns/gregory@1/es.json
  provider/testdata/data/json/date_patterns/gregory@1/fr.json
  provider/testdata/data/json/date_patterns/gregory@1/ja.json
  provider/testdata/data/json/date_patterns/gregory@1/ru.json
  provider/testdata/data/json/date_patterns/gregory@1/sr-Cyrl.json
  provider/testdata/data/json/date_patterns/gregory@1/sr-Latn.json
  provider/testdata/data/json/date_patterns/gregory@1/sr.json
  provider/testdata/data/json/date_patterns/gregory@1/th.json
  provider/testdata/data/json/date_patterns/gregory@1/tr.json
  provider/testdata/data/json/date_patterns/gregory@1/und.json
Owners: @zbraniecki, @sffc

Teach length::Bag how to switch hour cycles
  components/datetime/src/options/length.rs
  components/datetime/src/options/preferences.rs
  components/datetime/src/pattern/mod.rs
  components/datetime/src/provider/gregory.rs
  components/datetime/src/provider/helpers.rs
  components/datetime/src/skeleton.rs
  components/datetime/tests/datetime.rs
  components/datetime/tests/fixtures/tests/lengths_with_preferences.json
  provider/cldr/src/transform/dates/patterns.rs
  provider/testdata/data/json/date_patterns/gregory@1/ar-EG.json
  provider/testdata/data/json/date_patterns/gregory@1/ar.json
  provider/testdata/data/json/date_patterns/gregory@1/bn.json
  provider/testdata/data/json/date_patterns/gregory@1/ccp.json
  provider/testdata/data/json/date_patterns/gregory@1/en-001.json
  provider/testdata/data/json/date_patterns/gregory@1/en-ZA.json
  provider/testdata/data/json/date_patterns/gregory@1/en.json
  provider/testdata/data/json/date_patterns/gregory@1/es-AR.json
  provider/testdata/data/json/date_patterns/gregory@1/es.json
  provider/testdata/data/json/date_patterns/gregory@1/fr.json
  provider/testdata/data/json/date_patterns/gregory@1/ja.json
  provider/testdata/data/json/date_patterns/gregory@1/ru.json
  provider/testdata/data/json/date_patterns/gregory@1/sr-Cyrl.json
  provider/testdata/data/json/date_patterns/gregory@1/sr-Latn.json
  provider/testdata/data/json/date_patterns/gregory@1/sr.json
  provider/testdata/data/json/date_patterns/gregory@1/th.json
  provider/testdata/data/json/date_patterns/gregory@1/tr.json
  provider/testdata/data/json/date_patterns/gregory@1/und.json
Owners: @zbraniecki, @sffc

Rename flexible to coarse, and restructure provider data
  components/datetime/src/pattern/mod.rs
  components/datetime/src/provider/gregory.rs
  components/datetime/src/provider/helpers.rs
  components/datetime/tests/datetime.rs
  provider/cldr/src/transform/dates/patterns.rs
  provider/testdata/data/json/date_patterns/gregory@1/ar-EG.json
  provider/testdata/data/json/date_patterns/gregory@1/ar.json
  provider/testdata/data/json/date_patterns/gregory@1/bn.json
  provider/testdata/data/json/date_patterns/gregory@1/ccp.json
  provider/testdata/data/json/date_patterns/gregory@1/en-001.json
  provider/testdata/data/json/date_patterns/gregory@1/en-ZA.json
  provider/testdata/data/json/date_patterns/gregory@1/en.json
  provider/testdata/data/json/date_patterns/gregory@1/es-AR.json
  provider/testdata/data/json/date_patterns/gregory@1/es.json
  provider/testdata/data/json/date_patterns/gregory@1/fr.json
  provider/testdata/data/json/date_patterns/gregory@1/ja.json
  provider/testdata/data/json/date_patterns/gregory@1/ru.json
  provider/testdata/data/json/date_patterns/gregory@1/sr-Cyrl.json
  provider/testdata/data/json/date_patterns/gregory@1/sr-Latn.json
  provider/testdata/data/json/date_patterns/gregory@1/sr.json
  provider/testdata/data/json/date_patterns/gregory@1/th.json
  provider/testdata/data/json/date_patterns/gregory@1/tr.json
  provider/testdata/data/json/date_patterns/gregory@1/und.json
Owners: @zbraniecki, @sffc

Correct H23 as the stored symbol for skeletons
  components/datetime/src/pattern/mod.rs
  components/datetime/src/pattern/transform_hour_cycle.rs
  components/datetime/src/skeleton.rs
Owners: @zbraniecki, @sffc

Fix CI by running `cargo make generate-readmes`
  components/icu/src/lib.rs
  experimental/calendar/README.md
Owners: @unicode-org/icu4x-sc

Remove yet-unneeded fns for random access on UnicodeSet ranges
  components/uniset/src/uniset.rs
Owners: @echeran

Add yoke-derive
  Cargo.lock
  Cargo.toml
  utils/yoke/Cargo.toml
  utils/yoke/derive/Cargo.toml
  utils/yoke/derive/README.md
  utils/yoke/derive/examples/derive.rs
  utils/yoke/derive/src/lib.rs
  utils/yoke/src/lib.rs
  utils/yoke/src/macro_impls.rs
  utils/yoke/src/zero_copy_from.rs
Owners: @unicode-org/icu4x-sc

Use yoke derive in icu4x
  Cargo.lock
  components/datetime/Cargo.toml
  components/datetime/src/provider/gregory.rs
  components/datetime/src/provider/time_zones.rs
  components/decimal/Cargo.toml
  components/decimal/src/provider.rs
  components/locale_canonicalizer/Cargo.toml
  components/locale_canonicalizer/src/provider.rs
  components/plurals/Cargo.toml
  components/plurals/src/provider.rs
  components/uniset/Cargo.toml
  components/uniset/src/provider.rs
  components/uniset/src/uniset.rs
  provider/core/Cargo.toml
  provider/core/src/data_provider/test.rs
  provider/core/src/hello_world.rs
  provider/core/src/marker/macros.rs
  provider/core/src/marker/mod.rs
Owners: @unicode-org/icu4x-sc, @zbraniecki, @sffc, @echeran

Satisfy clippy
  components/decimal/src/grouper.rs
  provider/core/src/data_provider/test.rs
  utils/yoke/derive/examples/derive.rs
  utils/yoke/derive/src/lib.rs
  utils/yoke/src/macro_impls.rs
Owners: @unicode-org/icu4x-sc, @sffc

Add bincode blob to `cargo make testdata`
  provider/blob/src/export/blob_exporter.rs
  tools/datagen/src/bin/datagen.rs
  tools/scripts/data.toml
Owners: @unicode-org/icu4x-sc

Checkpoint: Incomplete docs
  provider/blob/src/static_data_provider.rs
Owners: @unicode-org/icu4x-sc

Improve ZeroMap yoke impl, add zerovec derive tests
  Cargo.lock
  utils/yoke/derive/Cargo.toml
  utils/yoke/derive/examples/derive.rs
  utils/zerovec/Cargo.toml
  utils/zerovec/src/yoke_impls.rs
Owners: @unicode-org/icu4x-sc

CloningZCF -> cloning_zcf
  components/datetime/src/provider/gregory.rs
  components/datetime/src/provider/time_zones.rs
  components/locale_canonicalizer/src/provider.rs
  components/uniset/src/uniset.rs
  provider/core/src/data_provider/test.rs
  utils/yoke/derive/src/lib.rs
Owners: @zbraniecki, @sffc, @unicode-org/icu4x-sc, @echeran

unsafe_impl_data_marker_with_lifetime -> impl_data_marker_with_lifetime
  components/datetime/src/provider/time_zones.rs
  components/decimal/src/provider.rs
  components/plurals/src/provider.rs
  components/uniset/src/provider.rs
  provider/core/src/marker/macros.rs
Owners: @zbraniecki, @sffc, @unicode-org/icu4x-sc, @echeran

Add ZCF impls for ZV
  utils/yoke/derive/examples/derive.rs
  utils/zerovec/src/map/mod.rs
  utils/zerovec/src/yoke_impls.rs
Owners: @unicode-org/icu4x-sc

fix sentence fragment
  utils/yoke/derive/src/lib.rs
Owners: @unicode-org/icu4x-sc

Remove extra yoke deps
  Cargo.lock
  components/datetime/Cargo.toml
  components/datetime/src/provider/gregory.rs
  components/datetime/src/provider/time_zones.rs
  components/decimal/Cargo.toml
  components/decimal/src/provider.rs
  components/locale_canonicalizer/Cargo.toml
  components/locale_canonicalizer/src/provider.rs
  components/plurals/Cargo.toml
  components/plurals/src/provider.rs
  components/uniset/Cargo.toml
  components/uniset/src/provider.rs
  components/uniset/src/uniset.rs
  provider/core/src/data_provider.rs
  provider/core/src/data_provider/test.rs
  provider/core/src/erased.rs
  provider/core/src/hello_world.rs
  provider/core/src/inv.rs
  provider/core/src/marker/mod.rs
  provider/core/src/serde.rs
  provider/core/src/struct_provider.rs
Owners: @unicode-org/icu4x-sc, @zbraniecki, @sffc, @echeran

Support hello world key in icu4x-datagen
  tools/datagen/README.md
  tools/datagen/src/bin/datagen.rs
  tools/datagen/src/main.rs
Owners: @unicode-org/icu4x-sc

Docs and docstests for blob provider
  Cargo.lock
  provider/blob/Cargo.toml
  provider/blob/src/export/blob_exporter.rs
  provider/blob/src/export/mod.rs
  provider/blob/src/lib.rs
  provider/blob/src/static_data_provider.rs
  provider/blob/tests/data/hello_world.bincode
  provider/cldr/src/lib.rs
  provider/fs/src/export/mod.rs
Owners: @unicode-org/icu4x-sc, @sffc

fmt and re-generate readmes
  provider/blob/README.md
  provider/cldr/README.md
  provider/fs/src/export/mod.rs
  tools/datagen/src/bin/datagen.rs
Owners: @unicode-org/icu4x-sc, @sffc

fix bounds formatting
  components/locale_canonicalizer/src/provider.rs
  utils/zerovec/src/yoke_impls.rs
Owners: @unicode-org/icu4x-sc

rm yoke::
  components/datetime/src/provider/time_zones.rs
Owners: @zbraniecki, @sffc

Fix test failure
  utils/yoke/derive/src/lib.rs
Owners: @unicode-org/icu4x-sc

add Rust Benchmark (cargo) benchmark result for c5bebc5d17ed4e77173cdae45e663b2e52d41c41
  benchmarks/perf/utils/fixed_decimal/data.js
Owners: @unicode-org/icu4x-sc
