Repository unicode-org/icu4x, changes with the owners that CODEOWNERS names for each.
All owners: @unicode-org/icu4x-owners, @zbraniecki, @gregtatum, @nordzilla, @sffc, @dminor, @nciric, @echeran, @iainireland, @Manishearth, @hsivonen, @aethanyc, @makotokato, @filmil, @robertbastian, @gnrunge

error for non ISO calendars
  components/datetime/src/any/datetime.rs
  components/datetime/src/any/zoned_datetime.rs
Owners: @zbraniecki, @gregtatum, @nordzilla

rm println
  components/datetime/tests/datetime.rs
Owners: @zbraniecki, @gregtatum, @nordzilla

Fix Ethiopic calendar cloning
  components/calendar/src/any_calendar.rs
  components/datetime/src/any/datetime.rs
Owners: @unicode-org/icu4x-owners, @zbraniecki, @gregtatum, @nordzilla

Fix ethiopic return values
  components/calendar/src/ethiopic.rs
  components/datetime/tests/fixtures/tests/components-width-differences.json
  components/datetime/tests/fixtures/tests/components.json
Owners: @unicode-org/icu4x-owners, @zbraniecki, @gregtatum, @nordzilla

test iso conversion
  components/datetime/tests/datetime.rs
Owners: @zbraniecki, @gregtatum, @nordzilla

fmt
  components/calendar/src/ethiopic.rs
Owners: @unicode-org/icu4x-owners

Fix issue - langid macors should panic when parsing multiple variants.
  components/locid/src/macros.rs
  components/locid/src/parser/langid.rs
Owners: @zbraniecki, @nciric

fix and add message
  provider/blob/src/blob_data_provider.rs
  provider/blob/src/blob_schema.rs
  provider/blob/src/static_data_provider.rs
  provider/datagen/src/bin/fingerprint-data.rs
Owners: @sffc, @Manishearth, @robertbastian

fix assertion
  provider/blob/src/blob_schema.rs
Owners: @sffc, @Manishearth

Finish up AnyCalendar formatting features work (#2146)
  components/calendar/src/any_calendar.rs
  components/calendar/src/ethiopic.rs
  components/datetime/src/any/datetime.rs
  components/datetime/src/any/mod.rs
  components/datetime/src/any/zoned_datetime.rs
  components/datetime/src/date.rs
  components/datetime/src/datetime.rs
  components/datetime/src/mock/zoned_datetime.rs
  components/datetime/src/raw/datetime.rs
  components/datetime/src/raw/zoned_datetime.rs
  components/datetime/src/zoned_datetime.rs
  components/datetime/tests/datetime.rs
  components/datetime/tests/fixtures/tests/components-width-differences.json
  components/datetime/tests/fixtures/tests/components.json
  components/datetime/tests/fixtures/tests/japanese.json
  components/datetime/tests/fixtures/tests/lengths.json
Owners: @unicode-org/icu4x-owners, @zbraniecki, @gregtatum, @nordzilla

add Benchmark (ndjson) benchmark result for 7b52dbfe57043da5459c12627671a779d467dc0f
  benchmarks/datasize/data.js
Owners: @unicode-org/icu4x-owners

add Benchmark (ndjson) benchmark result for 7b52dbfe57043da5459c12627671a779d467dc0f
  benchmarks/binsize/gz/data.js
Owners: @unicode-org/icu4x-owners

add Benchmark (ndjson) benchmark result for 7b52dbfe57043da5459c12627671a779d467dc0f
  benchmarks/binsize/wasm/data.js
Owners: @unicode-org/icu4x-owners

add Rust Benchmark (cargo) benchmark result for 7b52dbfe57043da5459c12627671a779d467dc0f
  benchmarks/perf/utils/uniset/data.js
Owners: @unicode-org/icu4x-owners

add Rust Benchmark (cargo) benchmark result for 7b52dbfe57043da5459c12627671a779d467dc0f
  benchmarks/perf/components/datetime/data.js
Owners: @unicode-org/icu4x-owners

add Rust Benchmark (cargo) benchmark result for 7b52dbfe57043da5459c12627671a779d467dc0f
  benchmarks/perf/utils/fixed_decimal/data.js
Owners: @unicode-org/icu4x-owners

add Rust Benchmark (cargo) benchmark result for 7b52dbfe57043da5459c12627671a779d467dc0f
  benchmarks/perf/components/locid/data.js
Owners: @unicode-org/icu4x-owners

add Rust Benchmark (cargo) benchmark result for 7b52dbfe57043da5459c12627671a779d467dc0f
  benchmarks/perf/components/plurals/data.js
Owners: @unicode-org/icu4x-owners

convert metazone period from string to i32
  components/calendar/src/iso.rs
  components/datetime/src/provider/time_zones.rs
  provider/datagen/src/transform/cldr/time_zones/convert.rs
  provider/datagen/src/transform/cldr/time_zones/mod.rs
  provider/testdata/data/baked/time_zone/metazone_period_v1.rs
  provider/testdata/data/json/time_zone/metazone_period@1/ar-EG.json
  provider/testdata/data/json/time_zone/metazone_period@1/ar.json
  provider/testdata/data/json/time_zone/metazone_period@1/bn.json
  provider/testdata/data/json/time_zone/metazone_period@1/ccp.json
  provider/testdata/data/json/time_zone/metazone_period@1/en-001.json
  provider/testdata/data/json/time_zone/metazone_period@1/en-ZA.json
  provider/testdata/data/json/time_zone/metazone_period@1/en.json
  provider/testdata/data/json/time_zone/metazone_period@1/es-AR.json
  provider/testdata/data/json/time_zone/metazone_period@1/es.json
  provider/testdata/data/json/time_zone/metazone_period@1/fil.json
  provider/testdata/data/json/time_zone/metazone_period@1/fr.json
  provider/testdata/data/json/time_zone/metazone_period@1/ja.json
  provider/testdata/data/json/time_zone/metazone_period@1/ru.json
  provider/testdata/data/json/time_zone/metazone_period@1/sr-Cyrl.json
  provider/testdata/data/json/time_zone/metazone_period@1/sr-Latn.json
  provider/testdata/data/json/time_zone/metazone_period@1/sr.json
  provider/testdata/data/json/time_zone/metazone_period@1/th.json
  provider/testdata/data/json/time_zone/metazone_period@1/tr.json
  provider/testdata/data/json/time_zone/metazone_period@1/und.json
  provider/testdata/data/testdata.postcard
Owners: @unicode-org/icu4x-owners, @zbraniecki, @gregtatum, @nordzilla, @sffc, @robertbastian, @Manishearth

address minor comments
  components/calendar/src/iso.rs
Owners: @unicode-org/icu4x-owners

address comments
  components/calendar/src/error.rs
  components/calendar/src/iso.rs
  components/datetime/src/provider/time_zones.rs
  provider/datagen/src/transform/cldr/time_zones/convert.rs
  provider/testdata/data/baked/time_zone/metazone_period_v1.rs
  provider/testdata/data/json/time_zone/metazone_period@1/ar-EG.json
  provider/testdata/data/json/time_zone/metazone_period@1/ar.json
  provider/testdata/data/json/time_zone/metazone_period@1/bn.json
  provider/testdata/data/json/time_zone/metazone_period@1/ccp.json
  provider/testdata/data/json/time_zone/metazone_period@1/en-001.json
  provider/testdata/data/json/time_zone/metazone_period@1/en-ZA.json
  provider/testdata/data/json/time_zone/metazone_period@1/en.json
  provider/testdata/data/json/time_zone/metazone_period@1/es-AR.json
  provider/testdata/data/json/time_zone/metazone_period@1/es.json
  provider/testdata/data/json/time_zone/metazone_period@1/fil.json
  provider/testdata/data/json/time_zone/metazone_period@1/fr.json
  provider/testdata/data/json/time_zone/metazone_period@1/ja.json
  provider/testdata/data/json/time_zone/metazone_period@1/ru.json
  provider/testdata/data/json/time_zone/metazone_period@1/sr-Cyrl.json
  provider/testdata/data/json/time_zone/metazone_period@1/sr-Latn.json
  provider/testdata/data/json/time_zone/metazone_period@1/sr.json
  provider/testdata/data/json/time_zone/metazone_period@1/th.json
  provider/testdata/data/json/time_zone/metazone_period@1/tr.json
  provider/testdata/data/json/time_zone/metazone_period@1/und.json
  provider/testdata/data/testdata.postcard
Owners: @unicode-org/icu4x-owners, @zbraniecki, @gregtatum, @nordzilla, @sffc, @robertbastian, @Manishearth

remove unnecssary import
  components/calendar/src/iso.rs
Owners: @unicode-org/icu4x-owners

fix
  provider/datagen/src/databake.rs
  provider/datagen/src/source.rs
Owners: @sffc, @robertbastian, @Manishearth

comments
  utils/databake/src/lib.rs
  utils/zerovec/src/map/databake.rs
  utils/zerovec/src/map2d/databake.rs
  utils/zerovec/src/varzerovec/databake.rs
  utils/zerovec/src/yoke_impls.rs
  utils/zerovec/src/zerovec/databake.rs
Owners: @unicode-org/icu4x-owners, @Manishearth, @sffc

clippy
  provider/datagen/src/source.rs
Owners: @sffc, @robertbastian, @Manishearth

fix
  utils/databake/README.md
Owners: @unicode-org/icu4x-owners

Create separate DateFormat structure
  components/datetime/src/datetime.rs
  components/datetime/src/lib.rs
  components/datetime/src/provider/date_time.rs
  components/datetime/src/raw/datetime.rs
  components/datetime/src/raw/mod.rs
Owners: @zbraniecki, @gregtatum, @nordzilla

Create separate TimeFormat structure
  components/datetime/src/datetime.rs
  components/datetime/src/lib.rs
  components/datetime/src/provider/date_time.rs
  components/datetime/src/raw/datetime.rs
  components/datetime/src/raw/mod.rs
Owners: @zbraniecki, @gregtatum, @nordzilla

Add DateTimeFormat::try_from_date_and_time
  components/datetime/src/datetime.rs
  components/datetime/src/raw/datetime.rs
Owners: @zbraniecki, @gregtatum, @nordzilla

Review feedback, fixes and testing
  components/datetime/src/datetime.rs
  components/datetime/src/provider/calendar/mod.rs
  components/datetime/src/provider/date_time.rs
  components/datetime/src/raw/datetime.rs
  components/datetime/tests/datetime.rs
Owners: @zbraniecki, @gregtatum, @nordzilla

Fixes after rebase
  components/datetime/src/datetime.rs
  components/datetime/src/raw/datetime.rs
  components/datetime/tests/datetime.rs
Owners: @zbraniecki, @gregtatum, @nordzilla

All-features on docs.rs
  utils/databake/Cargo.toml
Owners: @unicode-org/icu4x-owners

Add docs
  utils/databake/derive/src/lib.rs
Owners: @unicode-org/icu4x-owners

Bump databake to 0.1.1
  utils/databake/Cargo.toml
  utils/databake/derive/Cargo.toml
Owners: @unicode-org/icu4x-owners

fix test
  provider/datagen/src/transform/cldr/time_zones/mod.rs
Owners: @sffc, @robertbastian, @Manishearth

make testdata
  provider/testdata/data/json/fingerprints.txt
  provider/testdata/data/postcard/fingerprints.txt
Owners: @unicode-org/icu4x-owners

lockfile
  Cargo.lock
Owners: @unicode-org/icu4x-owners

more primitives and commas
  utils/databake/src/lib.rs
Owners: @unicode-org/icu4x-owners

DataError::custom part 1
  provider/blob/src/blob_data_provider.rs
Owners: @sffc, @Manishearth

Review feedback part 2
  provider/blob/src/static_data_provider.rs
Owners: @sffc, @Manishearth

CODEOWNERS:

# See https://github.blog/2017-07-06-introducing-code-owners/ for details
# Format of the file follows: https://git-scm.com/docs/gitattributes

# Fallback to core group for crates or folders without specific owners, like docs/.

* @unicode-org/icu4x-owners

# List of components with at least two owners as specified in docs/crate-ownership.

components/datetime/              @zbraniecki @gregtatum @nordzilla
components/decimal/               @sffc
components/icu/                   @unicode-org/icu4x-owners
components/icu4x/                 @unicode-org/icu4x-owners
components/locale_canonicalizer/  @dminor @zbraniecki
components/locid/                 @zbraniecki @nciric
components/plurals/               @zbraniecki @sffc
components/uniset/                @echeran @iainireland
experimental/bies/                @sffc
experimental/calendar/            @Manishearth @sffc
experimental/codepointtrie/       @echeran
experimental/collator/            @hsivonen @echeran
experimental/normalizer/          @hsivonen @echeran
experimental/provider_ppucd/      @echeran
experimental/segmenter/           @aethanyc @makotokato @sffc
ffi/capi/                         @Manishearth
ffi/cpp/                          @Manishearth
ffi/ecma402/                      @filmil
ffi/wasm/                         @Manishearth
provider/blob/                    @sffc @Manishearth
provider/core/                    @sffc @Manishearth
provider/datagen/                 @sffc @robertbastian @Manishearth
provider/fs/                      @sffc
provider/macros/                  @Manishearth @sffc
provider/testdata/                @unicode-org/icu4x-owners
tools/benchmark/binsize/          @gnrunge
tools/benchmark/macros/           @gregtatum
tools/benchmark/memory/           @gregtatum
tools/scripts/                    @Manishearth @sffc
utils/fixed_decimal/              @sffc
utils/litemap/                    @Manishearth @sffc
utils/pattern/                    @zbraniecki
utils/writeable/                  @sffc
utils/yoke/                       @Manishearth @sffc
utils/zerovec/                    @Manishearth @sffc
