Repository unicode-org/icu4x, changes with the owners that CODEOWNERS names for each.
All owners: @unicode-org/icu4x-sc, @zbraniecki, @sffc, @nciric, @echeran, @filmil

CODEOWNERS:

# See https://github.blog/2017-07-06-introducing-code-owners/ for details
# Format of the file follows: https://git-scm.com/docs/gitattributes

# Fallback to core group for crates or folders without specific owners, like docs/.

* @unicode-org/icu4x-sc

# List of components with at least two owners as specified in docs/crate-ownership.

components/datetime/            @zbraniecki @sffc
components/locid/               @zbraniecki @nciric
components/plurals/             @zbraniecki @sffc
components/uniset/              @echeran
ffi/ecma402/             @filmil
provider/cldr/       @sffc
provider/core/            @sffc
provider/fs/         @sffc
provider/testdata/             @sffc
utils/fixed_decimal/            @sffc

Check output file.
  .github/workflows/build-test.yml
Owners: @unicode-org/icu4x-sc

Change output format.
  .github/workflows/build-test.yml
  tools/benchmark/binsize/src/main.rs
Owners: @unicode-org/icu4x-sc

Try bytes/file
  tools/benchmark/binsize/src/main.rs
Owners: @unicode-org/icu4x-sc

Change units.
  tools/benchmark/binsize/src/main.rs
Owners: @unicode-org/icu4x-sc

Back to what works.
  tools/benchmark/binsize/src/main.rs
Owners: @unicode-org/icu4x-sc

Try gh-pages.
  .github/workflows/build-test.yml
Owners: @unicode-org/icu4x-sc

Simplify some APIs accessing line break rule table
  experimental/segmenter/src/line_breaker.rs
Owners: @unicode-org/icu4x-sc

Simplify the parsing logic of EastAsianWidth.txt
  experimental/segmenter/tools/generate_properties.py
Owners: @unicode-org/icu4x-sc

Simplify the parsing logic of LineBreak.txt
  experimental/segmenter/tools/generate_properties.py
Owners: @unicode-org/icu4x-sc

Simply the setup when parsing property files
  experimental/segmenter/tools/generate_properties.py
Owners: @unicode-org/icu4x-sc

Update segmenter README
  experimental/segmenter/README.md
  experimental/segmenter/src/lib.rs
Owners: @unicode-org/icu4x-sc

Improvements.
  .github/workflows/build-test.yml
  tools/benchmark/binsize/src/main.rs
Owners: @unicode-org/icu4x-sc

Add back +/- range.
  tools/benchmark/binsize/src/main.rs
Owners: @unicode-org/icu4x-sc

Add #[data_struct] custom derive
  Cargo.lock
  Cargo.toml
  provider/core/Cargo.toml
  provider/core/src/lib.rs
  provider/macros/Cargo.toml
  provider/macros/README.md
  provider/macros/src/lib.rs
Owners: @unicode-org/icu4x-sc, @sffc

UnicodePropertyMarker -> UnicodePropertyV1Marker
  components/uniset/src/props.rs
  experimental/provider_ppucd/src/support.rs
Owners: @echeran, @unicode-org/icu4x-sc

Use #[data_struct] everywhere
  components/datetime/Cargo.toml
  components/datetime/src/provider/gregory.rs
  components/datetime/src/provider/time_zones.rs
  components/decimal/Cargo.toml
  components/decimal/src/provider.rs
  components/locale_canonicalizer/Cargo.toml
  components/locale_canonicalizer/src/provider.rs
  components/plurals/Cargo.toml
  components/plurals/src/provider.rs
  components/uniset/Cargo.toml
  components/uniset/src/provider.rs
  provider/core/src/marker/macros.rs
  provider/core/src/marker/mod.rs
Owners: @zbraniecki, @sffc, @unicode-org/icu4x-sc, @echeran

Clean up zerovec::samples
  utils/zerovec/benches/zerovec.rs
  utils/zerovec/benches/zerovec_iai.rs
  utils/zerovec/benches/zerovec_serde.rs
  utils/zerovec/src/lib.rs
Owners: @unicode-org/icu4x-sc

fix unused warning
  utils/zerovec/src/samples.rs
Owners: @unicode-org/icu4x-sc

Fix generated docs
  provider/macros/src/lib.rs
Owners: @unicode-org/icu4x-sc

Clean up zerovec::samples so that it is not available outside of tests (#857)
  utils/zerovec/benches/zerovec.rs
  utils/zerovec/benches/zerovec_iai.rs
  utils/zerovec/benches/zerovec_serde.rs
  utils/zerovec/src/lib.rs
  utils/zerovec/src/samples.rs
Owners: @unicode-org/icu4x-sc

add Rust Benchmark (cargo) benchmark result for 56c71b72ce26499abf258e877fb7bfe61bc274c4
  benchmarks/perf/utils/fixed_decimal/data.js
Owners: @unicode-org/icu4x-sc

add Rust Benchmark (cargo) benchmark result for 56c71b72ce26499abf258e877fb7bfe61bc274c4
  benchmarks/perf/components/uniset/data.js
Owners: @unicode-org/icu4x-sc

add Rust Benchmark (cargo) benchmark result for 56c71b72ce26499abf258e877fb7bfe61bc274c4
  benchmarks/perf/components/datetime/data.js
Owners: @unicode-org/icu4x-sc

add Rust Benchmark (cargo) benchmark result for 56c71b72ce26499abf258e877fb7bfe61bc274c4
  benchmarks/perf/components/locid/data.js
Owners: @unicode-org/icu4x-sc

add Rust Benchmark (cargo) benchmark result for 56c71b72ce26499abf258e877fb7bfe61bc274c4
  benchmarks/perf/components/plurals/data.js
Owners: @unicode-org/icu4x-sc

add Rust Benchmark (cargo) benchmark result for b7d35d1e2085c8429da3266044bac15dfab49ce4
  benchmarks/perf/components/uniset/data.js
Owners: @unicode-org/icu4x-sc

add Rust Benchmark (cargo) benchmark result for b7d35d1e2085c8429da3266044bac15dfab49ce4
  benchmarks/perf/utils/fixed_decimal/data.js
Owners: @unicode-org/icu4x-sc

add Rust Benchmark (cargo) benchmark result for b7d35d1e2085c8429da3266044bac15dfab49ce4
  benchmarks/perf/components/plurals/data.js
Owners: @unicode-org/icu4x-sc

add Rust Benchmark (cargo) benchmark result for b7d35d1e2085c8429da3266044bac15dfab49ce4
  benchmarks/perf/components/locid/data.js
Owners: @unicode-org/icu4x-sc

add Rust Benchmark (cargo) benchmark result for b7d35d1e2085c8429da3266044bac15dfab49ce4
  benchmarks/perf/components/datetime/data.js
Owners: @unicode-org/icu4x-sc

add Heap – ubuntu-latest (ndjson) benchmark result for 56c71b72ce26499abf258e877fb7bfe61bc274c4
  benchmarks/memory/ubuntu-latest/data.js
Owners: @unicode-org/icu4x-sc

add Heap – windows-latest (ndjson) benchmark result for 56c71b72ce26499abf258e877fb7bfe61bc274c4
  benchmarks/memory/windows-latest/data.js
Owners: @unicode-org/icu4x-sc

add Heap – ubuntu-latest (ndjson) benchmark result for b7d35d1e2085c8429da3266044bac15dfab49ce4
  benchmarks/memory/ubuntu-latest/data.js
Owners: @unicode-org/icu4x-sc

add Heap – macos-latest (ndjson) benchmark result for b7d35d1e2085c8429da3266044bac15dfab49ce4
  benchmarks/memory/macos-latest/data.js
Owners: @unicode-org/icu4x-sc

add Heap – windows-latest (ndjson) benchmark result for b7d35d1e2085c8429da3266044bac15dfab49ce4
  benchmarks/memory/windows-latest/data.js
Owners: @unicode-org/icu4x-sc

add Heap – macos-latest (ndjson) benchmark result for 56c71b72ce26499abf258e877fb7bfe61bc274c4
  benchmarks/memory/macos-latest/data.js
Owners: @unicode-org/icu4x-sc

Bump yoke to 0.2.1
  utils/yoke/Cargo.toml
Owners: @unicode-org/icu4x-sc

lockfile
  Cargo.lock
Owners: @unicode-org/icu4x-sc

Bump yoke to 0.2.1 (#858)
  Cargo.lock
  utils/yoke/Cargo.toml
Owners: @unicode-org/icu4x-sc

add Rust Benchmark (cargo) benchmark result for cce8f224c263fb579d3f5ff02e6589e3aa9d9717
  benchmarks/perf/utils/fixed_decimal/data.js
Owners: @unicode-org/icu4x-sc
