Repository unicode-org/icu4x, changes with the owners that CODEOWNERS names for each.
All owners: @unicode-org/icu4x-sc, @zbraniecki, @sffc, @nciric, @echeran, @filmil

CODEOWNERS:

# See https://github.blog/2017-07-06-introducing-code-owners/ for details
# Format of the file follows: https://git-scm.com/docs/gitattributes

# Fallback to core group for crates or folders without specific owners, like docs/.

* @unicode-org/icu4x-sc

# List of components with at least two owners as specified in docs/crate-ownership.

components/datetime/            @zbraniecki @sffc
components/locid/               @zbraniecki @nciric
components/plurals/             @zbraniecki @sffc
components/uniset/              @echeran
ffi/ecma402/             @filmil
provider/cldr/       @sffc
provider/core/            @sffc
provider/fs/         @sffc
provider/testdata/             @sffc
utils/fixed_decimal/            @sffc

no-default-features on tinystr
  components/datetime/Cargo.toml
  components/locale_canonicalizer/Cargo.toml
  components/locid/Cargo.toml
  components/locid/macros/Cargo.toml
  components/uniset/Cargo.toml
  experimental/provider_ppucd/Cargo.toml
  ffi/capi/Cargo.toml
  provider/cldr/Cargo.toml
  provider/core/Cargo.toml
Owners: @zbraniecki, @sffc, @unicode-org/icu4x-sc, @nciric, @echeran

Update tinystr
  components/datetime/Cargo.toml
  components/locale_canonicalizer/Cargo.toml
  components/locid/Cargo.toml
  components/locid/macros/Cargo.toml
  components/uniset/Cargo.toml
  experimental/provider_ppucd/Cargo.toml
  ffi/capi/Cargo.toml
  provider/cldr/Cargo.toml
  provider/core/Cargo.toml
Owners: @zbraniecki, @sffc, @unicode-org/icu4x-sc, @nciric, @echeran

Use serde/serde-json with alloc feature
  Cargo.lock
  components/datetime/Cargo.toml
  components/decimal/Cargo.toml
  components/locale_canonicalizer/Cargo.toml
  components/plurals/Cargo.toml
  components/uniset/Cargo.toml
  experimental/segmenter/Cargo.toml
  experimental/segmenter_lstm/Cargo.toml
  ffi/ecma402/Cargo.toml
  provider/blob/Cargo.toml
  provider/cldr/Cargo.toml
  provider/core/Cargo.toml
  provider/fs/Cargo.toml
  provider/testdata/Cargo.toml
  tools/benchmark/memory/Cargo.toml
  tools/datagen/Cargo.toml
  utils/litemap/Cargo.toml
  utils/yoke/Cargo.toml
  utils/zerovec/Cargo.toml
Owners: @unicode-org/icu4x-sc, @zbraniecki, @sffc, @echeran, @filmil

Move to newer resolver
  Cargo.toml
  components/locid/Cargo.toml
  experimental/segmenter/Cargo.toml
  provider/fs/Cargo.toml
Owners: @unicode-org/icu4x-sc, @zbraniecki, @nciric, @sffc

add Rust Benchmark (cargo) benchmark result for 56b5cf828609510cf667cbe3ae2437ba722a358c
  benchmarks/perf/components/uniset/data.js
Owners: @unicode-org/icu4x-sc

add Rust Benchmark (cargo) benchmark result for 56b5cf828609510cf667cbe3ae2437ba722a358c
  benchmarks/perf/utils/fixed_decimal/data.js
Owners: @unicode-org/icu4x-sc

add Rust Benchmark (cargo) benchmark result for 56b5cf828609510cf667cbe3ae2437ba722a358c
  benchmarks/perf/components/locid/data.js
Owners: @unicode-org/icu4x-sc

add Rust Benchmark (cargo) benchmark result for 56b5cf828609510cf667cbe3ae2437ba722a358c
  benchmarks/perf/components/plurals/data.js
Owners: @unicode-org/icu4x-sc

add Rust Benchmark (cargo) benchmark result for 56b5cf828609510cf667cbe3ae2437ba722a358c
  benchmarks/perf/components/datetime/data.js
Owners: @unicode-org/icu4x-sc

Bump tinystr
  Cargo.lock
  components/datetime/Cargo.toml
  components/locale_canonicalizer/Cargo.toml
  components/locid/Cargo.toml
  components/locid/macros/Cargo.toml
  components/uniset/Cargo.toml
  experimental/provider_ppucd/Cargo.toml
  ffi/capi/Cargo.toml
  provider/cldr/Cargo.toml
  provider/core/Cargo.toml
Owners: @unicode-org/icu4x-sc, @zbraniecki, @sffc, @nciric, @echeran

Bump tinystr again
  Cargo.lock
  components/datetime/Cargo.toml
  components/locale_canonicalizer/Cargo.toml
  components/locid/Cargo.toml
  components/locid/macros/Cargo.toml
  components/uniset/Cargo.toml
  experimental/provider_ppucd/Cargo.toml
  ffi/capi/Cargo.toml
  provider/cldr/Cargo.toml
  provider/core/Cargo.toml
Owners: @unicode-org/icu4x-sc, @zbraniecki, @sffc, @nciric, @echeran

fix optional=true after rebase
  provider/testdata/Cargo.toml
Owners: @sffc

add Heap – ubuntu-latest (ndjson) benchmark result for 56b5cf828609510cf667cbe3ae2437ba722a358c
  benchmarks/memory/ubuntu-latest/data.js
Owners: @unicode-org/icu4x-sc

add Heap – macos-latest (ndjson) benchmark result for 56b5cf828609510cf667cbe3ae2437ba722a358c
  benchmarks/memory/macos-latest/data.js
Owners: @unicode-org/icu4x-sc

add Heap – windows-latest (ndjson) benchmark result for 56b5cf828609510cf667cbe3ae2437ba722a358c
  benchmarks/memory/windows-latest/data.js
Owners: @unicode-org/icu4x-sc

add Rust Benchmark (cargo) benchmark result for e30e7c3f491feb84f30214bc0b1dc751b191e9dc
  benchmarks/perf/components/uniset/data.js
Owners: @unicode-org/icu4x-sc

add Rust Benchmark (cargo) benchmark result for e30e7c3f491feb84f30214bc0b1dc751b191e9dc
  benchmarks/perf/utils/fixed_decimal/data.js
Owners: @unicode-org/icu4x-sc

add Rust Benchmark (cargo) benchmark result for e30e7c3f491feb84f30214bc0b1dc751b191e9dc
  benchmarks/perf/components/locid/data.js
Owners: @unicode-org/icu4x-sc

add Rust Benchmark (cargo) benchmark result for e30e7c3f491feb84f30214bc0b1dc751b191e9dc
  benchmarks/perf/components/datetime/data.js
Owners: @unicode-org/icu4x-sc

add Rust Benchmark (cargo) benchmark result for e30e7c3f491feb84f30214bc0b1dc751b191e9dc
  benchmarks/perf/components/plurals/data.js
Owners: @unicode-org/icu4x-sc

add Heap – ubuntu-latest (ndjson) benchmark result for e30e7c3f491feb84f30214bc0b1dc751b191e9dc
  benchmarks/memory/ubuntu-latest/data.js
Owners: @unicode-org/icu4x-sc

add Heap – macos-latest (ndjson) benchmark result for e30e7c3f491feb84f30214bc0b1dc751b191e9dc
  benchmarks/memory/macos-latest/data.js
Owners: @unicode-org/icu4x-sc

add Heap – windows-latest (ndjson) benchmark result for e30e7c3f491feb84f30214bc0b1dc751b191e9dc
  benchmarks/memory/windows-latest/data.js
Owners: @unicode-org/icu4x-sc

Add alloc feature to yoke
  utils/yoke/Cargo.toml
  utils/yoke/src/lib.rs
  utils/yoke/src/macro_impls.rs
  utils/yoke/src/yoke.rs
  utils/yoke/src/yokeable.rs
  utils/yoke/src/zero_copy_from.rs
Owners: @unicode-org/icu4x-sc

fmt
  utils/writeable/src/lib.rs
  utils/yoke/src/lib.rs
  utils/yoke/src/yoke.rs
  utils/yoke/src/zero_copy_from.rs
Owners: @unicode-org/icu4x-sc

Use hex constants for code points
  components/uniset/benches/inv_list.rs
  components/uniset/src/builder.rs
  components/uniset/src/conversions.rs
  components/uniset/src/uniset.rs
  components/uniset/src/utils.rs
Owners: @echeran

Apply review feedback
  components/uniset/src/enum_props.rs
  components/uniset/src/provider.rs
  experimental/provider_ppucd/tests/props_test.rs
Owners: @echeran, @unicode-org/icu4x-sc

Cleanup line breaker data generation and rule table accessing APIs (#851)
  experimental/segmenter/README.md
  experimental/segmenter/src/lib.rs
  experimental/segmenter/src/line_breaker.rs
  experimental/segmenter/tools/generate_properties.py
Owners: @unicode-org/icu4x-sc

add Rust Benchmark (cargo) benchmark result for aca8858ffa29cf0721647d59e52863c059b45b3c
  benchmarks/perf/utils/fixed_decimal/data.js
Owners: @unicode-org/icu4x-sc

add Rust Benchmark (cargo) benchmark result for aca8858ffa29cf0721647d59e52863c059b45b3c
  benchmarks/perf/components/uniset/data.js
Owners: @unicode-org/icu4x-sc

add Rust Benchmark (cargo) benchmark result for aca8858ffa29cf0721647d59e52863c059b45b3c
  benchmarks/perf/components/locid/data.js
Owners: @unicode-org/icu4x-sc

add Rust Benchmark (cargo) benchmark result for aca8858ffa29cf0721647d59e52863c059b45b3c
  benchmarks/perf/components/datetime/data.js
Owners: @unicode-org/icu4x-sc

add Rust Benchmark (cargo) benchmark result for aca8858ffa29cf0721647d59e52863c059b45b3c
  benchmarks/perf/components/plurals/data.js
Owners: @unicode-org/icu4x-sc

add Heap – ubuntu-latest (ndjson) benchmark result for aca8858ffa29cf0721647d59e52863c059b45b3c
  benchmarks/memory/ubuntu-latest/data.js
Owners: @unicode-org/icu4x-sc

add Heap – windows-latest (ndjson) benchmark result for aca8858ffa29cf0721647d59e52863c059b45b3c
  benchmarks/memory/windows-latest/data.js
Owners: @unicode-org/icu4x-sc

add Heap – macos-latest (ndjson) benchmark result for aca8858ffa29cf0721647d59e52863c059b45b3c
  benchmarks/memory/macos-latest/data.js
Owners: @unicode-org/icu4x-sc

Move provider_fs to std for now
  provider/fs/Cargo.toml
Owners: @sffc

rm config.toml changes
  .cargo/config.toml
Owners: @unicode-org/icu4x-sc

not test in yoke
  utils/yoke/src/lib.rs
Owners: @unicode-org/icu4x-sc

fix tinystr
  components/datetime/Cargo.toml
Owners: @zbraniecki, @sffc
