Repository unicode-org/icu4x, changes with the owners that CODEOWNERS names for each.
All owners: @unicode-org/icu4x-sc, @zbraniecki, @sffc, @nciric, @echeran, @filmil

CODEOWNERS:

# See https://github.blog/2017-07-06-introducing-code-owners/ for details
# Format of the file follows: https://git-scm.com/docs/gitattributes

# Fallback to core group for crates or folders without specific owners, like docs/.

* @unicode-org/icu4x-sc

# List of components with at least two owners as specified in docs/crate-ownership.

components/datetime/            @zbraniecki @sffc
components/locid/               @zbraniecki @nciric
components/plurals/             @zbraniecki @sffc
components/uniset/              @echeran
ffi/ecma402/             @filmil
provider/cldr/       @sffc
provider/core/            @sffc
provider/fs/         @sffc
provider/testdata/             @sffc
utils/fixed_decimal/            @sffc

add Heap – macos-latest (ndjson) benchmark result for f5bc1660a2efa1c88f6ab3ee7a6e68af92498ffd
  benchmarks/memory/macos-latest/data.js
Owners: @unicode-org/icu4x-sc

Get provider/core compiling again
  provider/core/src/data_provider.rs
  provider/core/src/marker/impls.rs
  provider/core/src/struct_provider.rs
Owners: @sffc

Docstest cleanup
  provider/core/src/data_provider.rs
Owners: @sffc

Binary size benchmarking: Rust script to measure size of the ICU4X examples compiled into wasm binaries. Set up GHA to build wasm binaries, measure file sizes, push results into benchmark dashboard .
  .github/workflows/build-test.yml
  Cargo.lock
  Cargo.toml
  tools/benchmark/README.md
  tools/benchmark/binsize/Cargo.toml
  tools/benchmark/binsize/README.md
  tools/benchmark/binsize/src/main.rs
Owners: @unicode-org/icu4x-sc

Fix lifetime parameters in ZonedDateTime
  components/datetime/src/format/zoned_datetime.rs
  components/datetime/src/zoned_datetime.rs
Owners: @zbraniecki, @sffc

Add allow dead code annotation
  provider/core/src/data_provider.rs
Owners: @sffc

Migrate DateTime test to new StructProvider
  components/datetime/tests/datetime.rs
Owners: @zbraniecki, @sffc

Make all of ICU4X build with Borrowed
  components/decimal/src/grouper.rs
  components/plurals/tests/plurals.rs
Owners: @unicode-org/icu4x-sc, @zbraniecki, @sffc

Make `cargo quick` quicker
  Makefile.toml
Owners: @unicode-org/icu4x-sc

Improve Yoke Clone docs, saying it is not generally expensive
  provider/core/src/data_provider.rs
  utils/yoke/src/yoke.rs
Owners: @sffc, @unicode-org/icu4x-sc

Make `cargo quick` quicker (#897)
  Makefile.toml
Owners: @unicode-org/icu4x-sc

Improve Yoke Clone docs, saying it is not generally expensive (#899)
  provider/core/src/data_provider.rs
  utils/yoke/src/yoke.rs
Owners: @sffc, @unicode-org/icu4x-sc

add Rust Benchmark (cargo) benchmark result for 774ee840a9630b225496caf797badb6bb6e38094
  benchmarks/perf/components/uniset/data.js
Owners: @unicode-org/icu4x-sc

add Rust Benchmark (cargo) benchmark result for 774ee840a9630b225496caf797badb6bb6e38094
  benchmarks/perf/utils/fixed_decimal/data.js
Owners: @unicode-org/icu4x-sc

add Rust Benchmark (cargo) benchmark result for 9d82dabc1dbc2b41e7467b769d736af02b738227
  benchmarks/perf/utils/fixed_decimal/data.js
Owners: @unicode-org/icu4x-sc

add Rust Benchmark (cargo) benchmark result for 9d82dabc1dbc2b41e7467b769d736af02b738227
  benchmarks/perf/components/datetime/data.js
Owners: @unicode-org/icu4x-sc

add Rust Benchmark (cargo) benchmark result for 9d82dabc1dbc2b41e7467b769d736af02b738227
  benchmarks/perf/components/uniset/data.js
Owners: @unicode-org/icu4x-sc

add Rust Benchmark (cargo) benchmark result for 9d82dabc1dbc2b41e7467b769d736af02b738227
  benchmarks/perf/components/plurals/data.js
Owners: @unicode-org/icu4x-sc

add Rust Benchmark (cargo) benchmark result for 774ee840a9630b225496caf797badb6bb6e38094
  benchmarks/perf/components/locid/data.js
Owners: @unicode-org/icu4x-sc

add Rust Benchmark (cargo) benchmark result for 774ee840a9630b225496caf797badb6bb6e38094
  benchmarks/perf/components/datetime/data.js
Owners: @unicode-org/icu4x-sc

add Rust Benchmark (cargo) benchmark result for 9d82dabc1dbc2b41e7467b769d736af02b738227
  benchmarks/perf/components/locid/data.js
Owners: @unicode-org/icu4x-sc

add Rust Benchmark (cargo) benchmark result for 774ee840a9630b225496caf797badb6bb6e38094
  benchmarks/perf/components/plurals/data.js
Owners: @unicode-org/icu4x-sc

add Heap – ubuntu-latest (ndjson) benchmark result for 9d82dabc1dbc2b41e7467b769d736af02b738227
  benchmarks/memory/ubuntu-latest/data.js
Owners: @unicode-org/icu4x-sc

add Heap – macos-latest (ndjson) benchmark result for 774ee840a9630b225496caf797badb6bb6e38094
  benchmarks/memory/macos-latest/data.js
Owners: @unicode-org/icu4x-sc

add Heap – windows-latest (ndjson) benchmark result for 9d82dabc1dbc2b41e7467b769d736af02b738227
  benchmarks/memory/windows-latest/data.js
Owners: @unicode-org/icu4x-sc

add Heap – macos-latest (ndjson) benchmark result for 9d82dabc1dbc2b41e7467b769d736af02b738227
  benchmarks/memory/macos-latest/data.js
Owners: @unicode-org/icu4x-sc

add Heap – ubuntu-latest (ndjson) benchmark result for 774ee840a9630b225496caf797badb6bb6e38094
  benchmarks/memory/ubuntu-latest/data.js
Owners: @unicode-org/icu4x-sc

add Heap – windows-latest (ndjson) benchmark result for 774ee840a9630b225496caf797badb6bb6e38094
  benchmarks/memory/windows-latest/data.js
Owners: @unicode-org/icu4x-sc

Migrate capi to use Diplomat and update examples
  Cargo.lock
  ffi/capi/Cargo.toml
  ffi/capi/examples/fixeddecimal/test.c
  ffi/capi/examples/locale/test.c
  ffi/capi/examples/pluralrules/test.c
  ffi/capi/include/api.h
  ffi/capi/include/custom_writeable.h
  ffi/capi/include/decimal.h
  ffi/capi/include/diplomat_runtime.h
  ffi/capi/include/fixed_decimal.h
  ffi/capi/include/locale.h
  ffi/capi/include/locale_canonicalizer.h
  ffi/capi/include/pluralrules.h
  ffi/capi/include/provider.h
  ffi/capi/src/decimal.rs
  ffi/capi/src/fixed_decimal.rs
  ffi/capi/src/locale.rs
  ffi/capi/src/locale_canonicalizer.rs
  ffi/capi/src/pluralrules.rs
  ffi/capi/src/provider.rs
  ffi/capi/src/wasm_glue.rs
Owners: @unicode-org/icu4x-sc

Migrate C++ and JS to Diplomat API
  ffi/capi/examples/fixeddecimal/test.c
  ffi/capi/examples/locale/test.c
  ffi/capi/src/decimal.rs
  ffi/capi/src/fixed_decimal.rs
  ffi/capi/src/locale.rs
  ffi/capi/src/pluralrules.rs
  ffi/capi/src/provider.rs
  ffi/capi/src/wasm_glue.rs
  ffi/cpp/examples/fixeddecimal/test.cpp
  ffi/cpp/examples/pluralrules/test.cpp
  ffi/cpp/include/api.h
  ffi/cpp/include/api.hpp
  ffi/cpp/include/decimal.hpp
  ffi/cpp/include/diplomat_runtime.h
  ffi/cpp/include/diplomat_runtime.hpp
  ffi/cpp/include/fixed_decimal.hpp
  ffi/cpp/include/locale.hpp
  ffi/cpp/include/pluralrules.hpp
  ffi/cpp/include/provider.hpp
  ffi/cpp/include/writeable_utils.hpp
  ffi/wasm/docs.rst
  ffi/wasm/example/main.mjs
  ffi/wasm/lib/api.mjs
  ffi/wasm/lib/diplomat-runtime.mjs
  ffi/wasm/lib/high-level.mjs
  ffi/wasm/lib/rtti.mjs
  ffi/wasm/lib/wasm.mjs
  ffi/wasm/test/fixed-decimal-format.mjs
  ffi/wasm/test/fixed-decimal.mjs
Owners: @unicode-org/icu4x-sc

Fix cargo fmt and clippy
  ffi/capi/src/decimal.rs
  ffi/capi/src/fixed_decimal.rs
  ffi/capi/src/lib.rs
  ffi/capi/src/locale.rs
  ffi/capi/src/locale_canonicalizer.rs
  ffi/capi/src/macros.rs
  ffi/capi/src/pluralrules.rs
  ffi/capi/src/provider.rs
Owners: @unicode-org/icu4x-sc

Fix wasm-test-release
  ffi/capi/src/wasm_glue.rs
  ffi/wasm/test/package-lock.json
  ffi/wasm/test/package.json
  package-lock.json
  tools/scripts/wasm.toml
Owners: @unicode-org/icu4x-sc

Bump Diplomat to branch with no_std runtime
  .github/workflows/build-test.yml
  Cargo.lock
  ffi/capi/Cargo.toml
Owners: @unicode-org/icu4x-sc

Bump Diplomat to disable no_std on WASM
  Cargo.lock
Owners: @unicode-org/icu4x-sc

Switch to Diplomat main
  Cargo.lock
  ffi/capi/Cargo.toml
Owners: @unicode-org/icu4x-sc

Remove DataPayload::from_borrowed (#898)
  components/datetime/src/format/zoned_datetime.rs
  components/datetime/src/zoned_datetime.rs
  components/datetime/tests/datetime.rs
  components/decimal/src/grouper.rs
  components/plurals/tests/plurals.rs
  provider/core/src/data_provider.rs
  provider/core/src/data_provider/test.rs
  provider/core/src/erased.rs
  provider/core/src/marker/impls.rs
  provider/core/src/struct_provider.rs
Owners: @zbraniecki, @sffc, @unicode-org/icu4x-sc

add Rust Benchmark (cargo) benchmark result for 7ed372f52c29b3740a885f48fdfc00a795f13112
  benchmarks/perf/utils/fixed_decimal/data.js
Owners: @unicode-org/icu4x-sc

add Rust Benchmark (cargo) benchmark result for 7ed372f52c29b3740a885f48fdfc00a795f13112
  benchmarks/perf/components/uniset/data.js
Owners: @unicode-org/icu4x-sc

add Rust Benchmark (cargo) benchmark result for 7ed372f52c29b3740a885f48fdfc00a795f13112
  benchmarks/perf/components/datetime/data.js
Owners: @unicode-org/icu4x-sc

add Rust Benchmark (cargo) benchmark result for 7ed372f52c29b3740a885f48fdfc00a795f13112
  benchmarks/perf/components/locid/data.js
Owners: @unicode-org/icu4x-sc
