Repository unicode-org/icu4x, changes with the owners that CODEOWNERS names for each.
All owners: @unicode-org/icu4x-sc, @zbraniecki, @sffc, @nciric, @echeran, @filmil

CODEOWNERS:

# See https://github.blog/2017-07-06-introducing-code-owners/ for details
# Format of the file follows: https://git-scm.com/docs/gitattributes

# Fallback to core group for crates or folders without specific owners, like docs/.

* @unicode-org/icu4x-sc

# List of components with at least two owners as specified in docs/crate-ownership.

components/datetime/            @zbraniecki @sffc
components/locid/               @zbraniecki @nciric
components/plurals/             @zbraniecki @sffc
components/uniset/              @echeran
ffi/ecma402/             @filmil
provider/cldr/       @sffc
provider/core/            @sffc
provider/fs/         @sffc
provider/testdata/             @sffc
utils/fixed_decimal/            @sffc

add Rust Benchmark (cargo) benchmark result for c5bebc5d17ed4e77173cdae45e663b2e52d41c41
  benchmarks/perf/components/locid/data.js
Owners: @unicode-org/icu4x-sc

add Rust Benchmark (cargo) benchmark result for c5bebc5d17ed4e77173cdae45e663b2e52d41c41
  benchmarks/perf/components/plurals/data.js
Owners: @unicode-org/icu4x-sc

add Rust Benchmark (cargo) benchmark result for c5bebc5d17ed4e77173cdae45e663b2e52d41c41
  benchmarks/perf/components/uniset/data.js
Owners: @unicode-org/icu4x-sc

add Rust Benchmark (cargo) benchmark result for c5bebc5d17ed4e77173cdae45e663b2e52d41c41
  benchmarks/perf/components/datetime/data.js
Owners: @unicode-org/icu4x-sc

add Heap – ubuntu-latest (ndjson) benchmark result for c5bebc5d17ed4e77173cdae45e663b2e52d41c41
  benchmarks/memory/ubuntu-latest/data.js
Owners: @unicode-org/icu4x-sc

add Heap – macos-latest (ndjson) benchmark result for c5bebc5d17ed4e77173cdae45e663b2e52d41c41
  benchmarks/memory/macos-latest/data.js
Owners: @unicode-org/icu4x-sc

add Heap – windows-latest (ndjson) benchmark result for c5bebc5d17ed4e77173cdae45e663b2e52d41c41
  benchmarks/memory/windows-latest/data.js
Owners: @unicode-org/icu4x-sc

Change the default CoarseHourCycle
  components/datetime/src/pattern/mod.rs
Owners: @zbraniecki, @sffc

Rename provider_transform_utils to provider_transform_internals
  components/datetime/Cargo.toml
  components/datetime/src/pattern/transform_hour_cycle.rs
  components/datetime/src/skeleton.rs
  components/icu/README.md
  components/icu/src/lib.rs
  provider/cldr/Cargo.toml
Owners: @zbraniecki, @sffc, @unicode-org/icu4x-sc

Refactor Skeleton::from(pattern)
  components/datetime/src/skeleton.rs
Owners: @zbraniecki, @sffc

Rewrite all unwrap() to expect()
  components/datetime/src/skeleton.rs
  provider/cldr/src/transform/dates/patterns.rs
Owners: @zbraniecki, @sffc

Refactor get_pattern_for_time_length
  components/datetime/src/provider/helpers.rs
Owners: @zbraniecki, @sffc

Fix clippy issue with nested match
  components/datetime/src/pattern/transform_hour_cycle.rs
Owners: @zbraniecki, @sffc

add Rust Benchmark (cargo) benchmark result for b9acfc49c983106924f0e201ccccf3453a05b73c
  benchmarks/perf/components/uniset/data.js
Owners: @unicode-org/icu4x-sc

add Rust Benchmark (cargo) benchmark result for b9acfc49c983106924f0e201ccccf3453a05b73c
  benchmarks/perf/components/locid/data.js
Owners: @unicode-org/icu4x-sc

add Rust Benchmark (cargo) benchmark result for b9acfc49c983106924f0e201ccccf3453a05b73c
  benchmarks/perf/utils/fixed_decimal/data.js
Owners: @unicode-org/icu4x-sc

add Rust Benchmark (cargo) benchmark result for b9acfc49c983106924f0e201ccccf3453a05b73c
  benchmarks/perf/components/datetime/data.js
Owners: @unicode-org/icu4x-sc

add Rust Benchmark (cargo) benchmark result for b9acfc49c983106924f0e201ccccf3453a05b73c
  benchmarks/perf/components/plurals/data.js
Owners: @unicode-org/icu4x-sc

add Heap – ubuntu-latest (ndjson) benchmark result for b9acfc49c983106924f0e201ccccf3453a05b73c
  benchmarks/memory/ubuntu-latest/data.js
Owners: @unicode-org/icu4x-sc

add Heap – macos-latest (ndjson) benchmark result for b9acfc49c983106924f0e201ccccf3453a05b73c
  benchmarks/memory/macos-latest/data.js
Owners: @unicode-org/icu4x-sc

add Heap – windows-latest (ndjson) benchmark result for b9acfc49c983106924f0e201ccccf3453a05b73c
  benchmarks/memory/windows-latest/data.js
Owners: @unicode-org/icu4x-sc

Change return impl trait type of iterator for iter_ranges to be more precise
  components/uniset/src/uniset.rs
Owners: @echeran

Debug 2
  .github/workflows/build-test.yml
Owners: @unicode-org/icu4x-sc

Merge/rebase from master.
  .github/workflows/build-test.yml
Owners: @unicode-org/icu4x-sc

Still trying ...
  .github/workflows/build-test.yml
Owners: @unicode-org/icu4x-sc

Don't see the output.txt content.
  .github/workflows/build-test.yml
Owners: @unicode-org/icu4x-sc

Debug.
  .github/workflows/build-test.yml
Owners: @unicode-org/icu4x-sc

Debug 3.
  .github/workflows/build-test.yml
Owners: @unicode-org/icu4x-sc

TRying.
  .github/workflows/build-test.yml
Owners: @unicode-org/icu4x-sc

Another try.
  .github/workflows/build-test.yml
Owners: @unicode-org/icu4x-sc

Provoke error.
  .github/workflows/build-test.yml
Owners: @unicode-org/icu4x-sc

Debug3
  .github/workflows/build-test.yml
Owners: @unicode-org/icu4x-sc

npm install problem.
  .github/workflows/build-test.yml
Owners: @unicode-org/icu4x-sc

Restoring to passing.
  .github/workflows/build-test.yml
Owners: @unicode-org/icu4x-sc

sudo needed for npm install.
  .github/workflows/build-test.yml
Owners: @unicode-org/icu4x-sc

Install even more prerequisites.
  .github/workflows/build-test.yml
Owners: @unicode-org/icu4x-sc

Try to use cargo-make installation.
  .github/workflows/build-test.yml
Owners: @unicode-org/icu4x-sc

Debuging.
  .github/workflows/build-test.yml
Owners: @unicode-org/icu4x-sc

Something went wrong.
  .github/workflows/build-test.yml
Owners: @unicode-org/icu4x-sc

Another npm package needed.
  .github/workflows/build-test.yml
Owners: @unicode-org/icu4x-sc
