Repository unicode-org/icu4x, changes with the owners that CODEOWNERS names for each.
All owners: @unicode-org/icu4x-sc, @zbraniecki, @nciric, @sffc, @echeran, @filmil

CODEOWNERS:

# See https://github.blog/2017-07-06-introducing-code-owners/ for details
# Format of the file follows: https://git-scm.com/docs/gitattributes

# Fallback to core group for crates or folders without specific owners, like docs/.

* @unicode-org/icu4x-sc

# List of components with at least two owners as specified in docs/crate-ownership.

components/locid/               @zbraniecki @nciric
components/plurals/             @zbraniecki @sffc
components/datetime/            @zbraniecki @sffc
components/uniset/              @echeran
components/provider/            @sffc
components/provider_cldr/       @sffc
components/provider_fs/         @sffc
components/ecma402/             @filmil
resources/testdata/             @sffc
utils/fixed_decimal/            @sffc

Adding "provider_serde" feature across components
  Cargo.lock
  components/datetime/Cargo.toml
  components/datetime/src/lib.rs
  components/datetime/src/provider/mod.rs
  components/ecma402/Cargo.toml
  components/icu/Cargo.toml
  components/locale_canonicalizer/Cargo.toml
  components/locale_canonicalizer/src/locale_canonicalizer.rs
  components/locale_canonicalizer/src/provider.rs
  components/locid/Cargo.toml
  components/plurals/Cargo.toml
  components/plurals/src/lib.rs
  components/plurals/src/provider.rs
  components/provider/Cargo.toml
  components/provider_fs/Cargo.toml
  components/provider_ppucd/Cargo.toml
  components/uniset/Cargo.toml
  components/uniset/src/provider.rs
Owners: @unicode-org/icu4x-sc, @zbraniecki, @sffc, @filmil, @nciric, @echeran

Change CLDR tag to 38.1.0
  components/provider_cldr/src/download/cldr_allinone.rs
  resources/testdata/Cargo.toml
Owners: @sffc

Add back serde dependency from provider_fs to icu_locid
  components/provider_fs/Cargo.toml
Owners: @sffc

Change CLDR tag to 38.1.0 (#465)
  components/provider_cldr/src/download/cldr_allinone.rs
  resources/testdata/Cargo.toml
Owners: @sffc

add Rust Benchmark (cargo) benchmark result for b9696b7c0ee7e922e027b96f5363184bbc79b8d1
  dev/components/locid/data.js
Owners: @unicode-org/icu4x-sc

add Rust Benchmark (cargo) benchmark result for b9696b7c0ee7e922e027b96f5363184bbc79b8d1
  dev/utils/fixed_decimal/data.js
Owners: @unicode-org/icu4x-sc

add Rust Benchmark (cargo) benchmark result for b9696b7c0ee7e922e027b96f5363184bbc79b8d1
  dev/components/datetime/data.js
Owners: @unicode-org/icu4x-sc

add Rust Benchmark (cargo) benchmark result for b9696b7c0ee7e922e027b96f5363184bbc79b8d1
  dev/components/uniset/data.js
Owners: @unicode-org/icu4x-sc

add Rust Benchmark (cargo) benchmark result for b9696b7c0ee7e922e027b96f5363184bbc79b8d1
  dev/components/plurals/data.js
Owners: @unicode-org/icu4x-sc

Adding review contract examples (#464)
  CONTRIBUTING.md
  docs/assets/reviewers-1.png
  docs/assets/reviewers-2.png
  docs/assets/reviewers-3.png
Owners: @unicode-org/icu4x-sc

add Rust Benchmark (cargo) benchmark result for de60d1698f9c2a04a5733982c10998087c071f2c
  dev/utils/fixed_decimal/data.js
Owners: @unicode-org/icu4x-sc

add Rust Benchmark (cargo) benchmark result for de60d1698f9c2a04a5733982c10998087c071f2c
  dev/components/locid/data.js
Owners: @unicode-org/icu4x-sc

add Rust Benchmark (cargo) benchmark result for de60d1698f9c2a04a5733982c10998087c071f2c
  dev/components/datetime/data.js
Owners: @unicode-org/icu4x-sc

add Rust Benchmark (cargo) benchmark result for de60d1698f9c2a04a5733982c10998087c071f2c
  dev/components/uniset/data.js
Owners: @unicode-org/icu4x-sc

add Rust Benchmark (cargo) benchmark result for de60d1698f9c2a04a5733982c10998087c071f2c
  dev/components/plurals/data.js
Owners: @unicode-org/icu4x-sc

Review feedback
  components/provider/src/hello_world.rs
Owners: @sffc

Fix cargo fmt
  components/provider/src/hello_world.rs
Owners: @sffc

add Rust Benchmark (cargo) benchmark result for d2f47f76a82b64a1204bec2a81130fcb70fcea06
  dev/components/uniset/data.js
Owners: @unicode-org/icu4x-sc

add Rust Benchmark (cargo) benchmark result for d2f47f76a82b64a1204bec2a81130fcb70fcea06
  dev/utils/fixed_decimal/data.js
Owners: @unicode-org/icu4x-sc

add Rust Benchmark (cargo) benchmark result for d2f47f76a82b64a1204bec2a81130fcb70fcea06
  dev/components/locid/data.js
Owners: @unicode-org/icu4x-sc

add Rust Benchmark (cargo) benchmark result for d2f47f76a82b64a1204bec2a81130fcb70fcea06
  dev/components/datetime/data.js
Owners: @unicode-org/icu4x-sc

add Rust Benchmark (cargo) benchmark result for d2f47f76a82b64a1204bec2a81130fcb70fcea06
  dev/components/plurals/data.js
Owners: @unicode-org/icu4x-sc

Stub out tests and serialization for components::Bag
  components/datetime/src/options/components.rs
  components/datetime/src/options/preferences.rs
  components/datetime/tests/datetime.rs
  components/datetime/tests/fixtures/mod.rs
  components/datetime/tests/fixtures/structs.rs
  components/datetime/tests/fixtures/tests/components.json
Owners: @zbraniecki, @sffc

Fix preference bag attribute to use the conditional feature
  components/datetime/src/options/preferences.rs
Owners: @zbraniecki, @sffc

Fix the attributes to properly treat serde as optional
  components/datetime/src/options/components.rs
  components/datetime/src/options/preferences.rs
  components/datetime/src/options/style.rs
  components/datetime/tests/datetime.rs
  components/datetime/tests/fixtures/mod.rs
  components/datetime/tests/fixtures/structs.rs
Owners: @zbraniecki, @sffc

Add serialization for the style::Bag
  components/datetime/src/options/style.rs
  components/datetime/tests/fixtures/mod.rs
  components/datetime/tests/fixtures/structs.rs
Owners: @zbraniecki, @sffc

Address feedback on freely deriving certain traits
  components/datetime/src/options/components.rs
  components/datetime/src/options/preferences.rs
  components/datetime/src/options/style.rs
  components/datetime/tests/fixtures/structs.rs
Owners: @zbraniecki, @sffc
