Repository unicode-org/icu4x, changes with the owners that CODEOWNERS names for each.
All owners: @unicode-org/icu4x-owners, @zbraniecki, @gregtatum, @nordzilla, @sffc, @dminor, @nciric, @echeran, @iainireland, @Manishearth, @hsivonen, @aethanyc, @makotokato, @filmil, @robertbastian, @gnrunge

CODEOWNERS:

# See https://github.blog/2017-07-06-introducing-code-owners/ for details
# Format of the file follows: https://git-scm.com/docs/gitattributes

# Fallback to core group for crates or folders without specific owners, like docs/.

* @unicode-org/icu4x-owners

# List of components with at least two owners as specified in docs/crate-ownership.

components/datetime/              @zbraniecki @gregtatum @nordzilla
components/decimal/               @sffc
components/icu/                   @unicode-org/icu4x-owners
components/icu4x/                 @unicode-org/icu4x-owners
components/locale_canonicalizer/  @dminor @zbraniecki
components/locid/                 @zbraniecki @nciric
components/plurals/               @zbraniecki @sffc
components/uniset/                @echeran @iainireland
experimental/bies/                @sffc
experimental/calendar/            @Manishearth @sffc
experimental/codepointtrie/       @echeran
experimental/collator/            @hsivonen @echeran
experimental/normalizer/          @hsivonen @echeran
experimental/provider_ppucd/      @echeran
experimental/segmenter/           @aethanyc @makotokato @sffc
ffi/capi/                         @Manishearth
ffi/cpp/                          @Manishearth
ffi/ecma402/                      @filmil
ffi/wasm/                         @Manishearth
provider/blob/                    @sffc @Manishearth
provider/core/                    @sffc @Manishearth
provider/datagen/                 @sffc @robertbastian @Manishearth
provider/fs/                      @sffc
provider/macros/                  @Manishearth @sffc
provider/testdata/                @unicode-org/icu4x-owners
tools/benchmark/binsize/          @gnrunge
tools/benchmark/macros/           @gregtatum
tools/benchmark/memory/           @gregtatum
tools/scripts/                    @Manishearth @sffc
utils/fixed_decimal/              @sffc
utils/litemap/                    @Manishearth @sffc
utils/pattern/                    @zbraniecki
utils/writeable/                  @sffc
utils/yoke/                       @Manishearth @sffc
utils/zerovec/                    @Manishearth @sffc

windows
  provider/fs/src/export/fs_exporter.rs
Owners: @sffc

non-exhaustive
  provider/datagen/src/databake.rs
  provider/testdata/data/baked/mod.rs
Owners: @sffc, @robertbastian, @Manishearth, @unicode-org/icu4x-owners

Move Formatted[Zoned]DateTime over to preextracting the date time input info (#2138)
  components/calendar/src/types.rs
  components/datetime/src/any.rs
  components/datetime/src/date.rs
  components/datetime/src/datetime.rs
  components/datetime/src/format/datetime.rs
  components/datetime/src/format/zoned_datetime.rs
  components/datetime/src/mock/time_zone.rs
  components/datetime/src/mock/zoned_datetime.rs
  components/datetime/src/raw/datetime.rs
  components/datetime/src/raw/zoned_datetime.rs
  components/datetime/src/time_zone.rs
  components/datetime/src/zoned_datetime.rs
Owners: @unicode-org/icu4x-owners, @zbraniecki, @gregtatum, @nordzilla

add Benchmark (ndjson) benchmark result for c1fc6a103ddb06f2250b35d1e745be66e140d4e3
  benchmarks/datasize/data.js
Owners: @unicode-org/icu4x-owners

add Benchmark (ndjson) benchmark result for c1fc6a103ddb06f2250b35d1e745be66e140d4e3
  benchmarks/binsize/gz/data.js
Owners: @unicode-org/icu4x-owners

add Benchmark (ndjson) benchmark result for c1fc6a103ddb06f2250b35d1e745be66e140d4e3
  benchmarks/binsize/wasm/data.js
Owners: @unicode-org/icu4x-owners

add Rust Benchmark (cargo) benchmark result for c1fc6a103ddb06f2250b35d1e745be66e140d4e3
  benchmarks/perf/utils/uniset/data.js
Owners: @unicode-org/icu4x-owners

add Rust Benchmark (cargo) benchmark result for c1fc6a103ddb06f2250b35d1e745be66e140d4e3
  benchmarks/perf/utils/fixed_decimal/data.js
Owners: @unicode-org/icu4x-owners

add Rust Benchmark (cargo) benchmark result for c1fc6a103ddb06f2250b35d1e745be66e140d4e3
  benchmarks/perf/components/locid/data.js
Owners: @unicode-org/icu4x-owners

add Rust Benchmark (cargo) benchmark result for c1fc6a103ddb06f2250b35d1e745be66e140d4e3
  benchmarks/perf/components/datetime/data.js
Owners: @unicode-org/icu4x-owners

add Rust Benchmark (cargo) benchmark result for c1fc6a103ddb06f2250b35d1e745be66e140d4e3
  benchmarks/perf/components/plurals/data.js
Owners: @unicode-org/icu4x-owners

ghetto fmt
  provider/datagen/src/databake.rs
  provider/testdata/data/baked/any.rs
  provider/testdata/data/baked/mod.rs
Owners: @sffc, @robertbastian, @Manishearth, @unicode-org/icu4x-owners

add Benchmark (ndjson) benchmark result for cd92d9670ec7ef81d36c89e745ee466c4dc6275d
  benchmarks/datasize/data.js
Owners: @unicode-org/icu4x-owners

add Benchmark (ndjson) benchmark result for cd92d9670ec7ef81d36c89e745ee466c4dc6275d
  benchmarks/binsize/wasm/data.js
Owners: @unicode-org/icu4x-owners

add Benchmark (ndjson) benchmark result for cd92d9670ec7ef81d36c89e745ee466c4dc6275d
  benchmarks/binsize/gz/data.js
Owners: @unicode-org/icu4x-owners

add Rust Benchmark (cargo) benchmark result for cd92d9670ec7ef81d36c89e745ee466c4dc6275d
  benchmarks/perf/utils/uniset/data.js
Owners: @unicode-org/icu4x-owners

add Rust Benchmark (cargo) benchmark result for cd92d9670ec7ef81d36c89e745ee466c4dc6275d
  benchmarks/perf/utils/fixed_decimal/data.js
Owners: @unicode-org/icu4x-owners

add Rust Benchmark (cargo) benchmark result for cd92d9670ec7ef81d36c89e745ee466c4dc6275d
  benchmarks/perf/components/datetime/data.js
Owners: @unicode-org/icu4x-owners

add Rust Benchmark (cargo) benchmark result for cd92d9670ec7ef81d36c89e745ee466c4dc6275d
  benchmarks/perf/components/locid/data.js
Owners: @unicode-org/icu4x-owners

add Rust Benchmark (cargo) benchmark result for cd92d9670ec7ef81d36c89e745ee466c4dc6275d
  benchmarks/perf/components/plurals/data.js
Owners: @unicode-org/icu4x-owners

datagen
  provider/testdata/data/testdata.postcard
Owners: @unicode-org/icu4x-owners

Address reviewer feedback.
  components/locid/src/macros.rs
  components/locid/src/parser/langid.rs
  components/locid/src/subtags/variants.rs
Owners: @zbraniecki, @nciric

Apply suggestions from code review
  components/datetime/src/fields/symbols.rs
Owners: @zbraniecki, @gregtatum, @nordzilla

Apply review feedback
  components/datetime/src/fields/length.rs
Owners: @zbraniecki, @gregtatum, @nordzilla

Apply review feedback
  components/datetime/src/fields/symbols.rs
  utils/zerovec/derive/src/make_ule.rs
Owners: @zbraniecki, @gregtatum, @nordzilla, @Manishearth, @sffc

Enable missing docs lint in datetime fields (#2128)
  components/datetime/src/fields/length.rs
  components/datetime/src/fields/mod.rs
  components/datetime/src/fields/symbols.rs
  components/datetime/src/format/time_zone.rs
  components/datetime/src/lib.rs
  utils/zerovec/derive/src/make_ule.rs
Owners: @zbraniecki, @gregtatum, @nordzilla, @Manishearth, @sffc

add Benchmark (ndjson) benchmark result for 7b7ae456f69fdf9ded27e3382bfc273a9a39c7a6
  benchmarks/datasize/data.js
Owners: @unicode-org/icu4x-owners

add Benchmark (ndjson) benchmark result for 7b7ae456f69fdf9ded27e3382bfc273a9a39c7a6
  benchmarks/binsize/wasm/data.js
Owners: @unicode-org/icu4x-owners

add Benchmark (ndjson) benchmark result for 7b7ae456f69fdf9ded27e3382bfc273a9a39c7a6
  benchmarks/binsize/gz/data.js
Owners: @unicode-org/icu4x-owners

add Rust Benchmark (cargo) benchmark result for 7b7ae456f69fdf9ded27e3382bfc273a9a39c7a6
  benchmarks/perf/utils/uniset/data.js
Owners: @unicode-org/icu4x-owners

add Rust Benchmark (cargo) benchmark result for 7b7ae456f69fdf9ded27e3382bfc273a9a39c7a6
  benchmarks/perf/utils/fixed_decimal/data.js
Owners: @unicode-org/icu4x-owners

add Rust Benchmark (cargo) benchmark result for 7b7ae456f69fdf9ded27e3382bfc273a9a39c7a6
  benchmarks/perf/components/datetime/data.js
Owners: @unicode-org/icu4x-owners

add Rust Benchmark (cargo) benchmark result for 7b7ae456f69fdf9ded27e3382bfc273a9a39c7a6
  benchmarks/perf/components/locid/data.js
Owners: @unicode-org/icu4x-owners

add Rust Benchmark (cargo) benchmark result for 7b7ae456f69fdf9ded27e3382bfc273a9a39c7a6
  benchmarks/perf/components/plurals/data.js
Owners: @unicode-org/icu4x-owners

clippy
  provider/blob/src/blob_data_provider.rs
  provider/blob/src/static_data_provider.rs
Owners: @sffc, @Manishearth

Add debug assertion
  provider/blob/src/blob_data_provider.rs
  provider/blob/src/blob_schema.rs
  provider/blob/src/static_data_provider.rs
Owners: @sffc, @Manishearth

clllliiiiipppppyyyy
  provider/blob/src/blob_schema.rs
Owners: @sffc, @Manishearth

Update blob_schema.rs
  provider/blob/src/blob_schema.rs
Owners: @sffc, @Manishearth

Update blob_data_provider.rs
  provider/blob/src/blob_data_provider.rs
Owners: @sffc, @Manishearth

Update static_data_provider.rs
  provider/blob/src/static_data_provider.rs
Owners: @sffc, @Manishearth
