Repository unicode-org/icu4x, changes with the owners that CODEOWNERS names for each.
All owners: @unicode-org/icu4x-owners, @Manishearth, @sffc, @hsivonen, @echeran, @zbraniecki, @nordzilla, @eggrobin, @snktd, @pdogr, @robertbastian, @dminor, @nciric, @aethanyc, @makotokato, @filmil, @gnrunge

CODEOWNERS:

# See https://github.blog/2017-07-06-introducing-code-owners/ for details
# Format of the file follows: https://git-scm.com/docs/gitattributes

# Fallback to core group for crates or folders without specific owners, like docs/.

* @unicode-org/icu4x-owners

# List of components with at least two owners as specified in docs/crate-ownership.

components/calendar/              @Manishearth @sffc
components/casemap/               @Manishearth
components/collator/              @hsivonen @echeran
components/collections/           @echeran
components/datetime/              @zbraniecki @nordzilla
components/decimal/               @sffc
components/experimental/src/compactdecimal/      @eggrobin
components/experimental/src/displaynames/        @sffc @snktd
components/experimental/src/relativetime/        @pdogr
components/list/                  @robertbastian
components/locid_transform/       @dminor @zbraniecki
components/locid/                 @zbraniecki @nciric
components/normalizer/            @hsivonen @echeran
components/plurals/               @zbraniecki @sffc
components/segmenter/             @aethanyc @makotokato @sffc
components/timezone/              @nordzilla
tutorials/gn/                @sffc
ffi/capi/                         @Manishearth
ffi/ecma402/                      @filmil
ffi/harfbuzz/                     @hsivonen
provider/blob/                    @sffc @Manishearth
provider/core/                    @sffc @Manishearth
provider/datagen/                 @sffc @robertbastian @Manishearth
provider/fs/                      @sffc
provider/macros/                  @Manishearth @sffc
tools/benchmark/binsize/          @gnrunge
tools/depcheck/                   @Manishearth
tools/depcheck/src/allowlist.rs   @unicode-org/icu4x-owners
tools/make/                       @Manishearth @sffc
utils/bies/                @sffc
utils/databake                    @robertbastian @Manishearth
utils/deduplicating_array         @robertbastian
utils/fixed_decimal/              @sffc
utils/litemap/                    @Manishearth @sffc
utils/pattern/                    @zbraniecki
utils/tinystr                     @zbraniecki @sffc
utils/writeable/                  @sffc @robertbastian
utils/yoke/                       @Manishearth @sffc
utils/zerofrom                    @Manishearth @sffc
utils/zerovec/                    @Manishearth @sffc

Update components/experimental/src/units/converter_factory.rs
  components/experimental/src/units/converter_factory.rs
Owners: @unicode-org/icu4x-owners

Update components/experimental/src/units/mod.rs
  components/experimental/src/units/mod.rs
Owners: @unicode-org/icu4x-owners

Fix commits
  components/experimental/src/units/converter_factory.rs
Owners: @unicode-org/icu4x-owners

Change the error type from `DimensionError` to `DataError` in the creation of `CurrencyFormatter`
  components/experimental/src/dimension/error.rs
  components/experimental/src/dimension/mod.rs
Owners: @unicode-org/icu4x-owners

Move `CurrencyFormatter` to currency_formatter.rs
  components/experimental/src/dimension/currency_formatter.rs
  components/experimental/src/dimension/format.rs
  components/experimental/src/dimension/mod.rs
Owners: @unicode-org/icu4x-owners

Change the error type from `DimensionError` to `DataError` in the cre… (#4744)
  components/experimental/src/dimension/error.rs
  components/experimental/src/dimension/mod.rs
Owners: @unicode-org/icu4x-owners

Fix merge
  components/experimental/src/dimension/mod.rs
Owners: @unicode-org/icu4x-owners

rename currency_formatter.rs to formatter.rs
  components/experimental/src/dimension/format.rs
  components/experimental/src/dimension/formatter.rs
  components/experimental/src/dimension/mod.rs
  components/experimental/src/dimension/options.rs
Owners: @unicode-org/icu4x-owners

fix doc
  components/experimental/src/dimension/options.rs
Owners: @unicode-org/icu4x-owners

Move all the currency related stuff under dimension/currency folder
  components/experimental/src/dimension/currency/format.rs
  components/experimental/src/dimension/currency/formatter.rs
  components/experimental/src/dimension/currency/mod.rs
  components/experimental/src/dimension/currency/options.rs
  components/experimental/src/dimension/mod.rs
  components/experimental/src/dimension/provider/ule.rs
  provider/datagen/src/transform/cldr/currency/essentials.rs
Owners: @unicode-org/icu4x-owners, @sffc, @robertbastian, @Manishearth

Maybe fix CI
  provider/datagen/src/driver.rs
Owners: @sffc, @robertbastian, @Manishearth

oops
  provider/datagen/src/driver.rs
Owners: @sffc, @robertbastian, @Manishearth

Improve logging
  provider/datagen/src/driver.rs
Owners: @sffc, @robertbastian, @Manishearth

Fix CLI message
  provider/datagen/src/bin/datagen/args.rs
Owners: @sffc, @robertbastian, @Manishearth

NoDeduplication > None
  provider/datagen/src/driver.rs
  provider/datagen/tests/test-options.rs
Owners: @sffc, @robertbastian, @Manishearth

LocaleFamily serialization and stuff
  provider/datagen/src/bin/datagen/config.rs
  provider/datagen/src/driver.rs
Owners: @sffc, @robertbastian, @Manishearth

Refactor `ConversionFactory` to own the Payload (#4531)
  components/experimental/src/units/converter_factory.rs
  components/experimental/src/units/measureunit.rs
  components/experimental/src/units/mod.rs
  components/experimental/tests/units/units_test.rs
  provider/datagen/src/transform/cldr/units/info.rs
Owners: @unicode-org/icu4x-owners, @sffc, @robertbastian, @Manishearth

singelton
  components/calendar/src/week_of.rs
  components/decimal/src/lib.rs
  components/experimental/src/dimension/mod.rs
  components/experimental/src/units/converter_factory.rs
  components/experimental/tests/units/units_test.rs
Owners: @Manishearth, @sffc, @unicode-org/icu4x-owners

Exposing `Time` as `icu::calendar::Time` (#4722)
  components/calendar/README.md
  components/calendar/benches/datetime.rs
  components/calendar/src/any_calendar.rs
  components/calendar/src/buddhist.rs
  components/calendar/src/chinese.rs
  components/calendar/src/coptic.rs
  components/calendar/src/dangi.rs
  components/calendar/src/ethiopian.rs
  components/calendar/src/gregorian.rs
  components/calendar/src/hebrew.rs
  components/calendar/src/indian.rs
  components/calendar/src/islamic.rs
  components/calendar/src/iso.rs
  components/calendar/src/japanese.rs
  components/calendar/src/julian.rs
  components/calendar/src/lib.rs
  components/calendar/src/persian.rs
  components/calendar/src/roc.rs
  components/datetime/src/any/datetime.rs
  components/datetime/src/any/zoned_datetime.rs
  components/datetime/src/calendar.rs
  components/datetime/src/format/neo.rs
  components/datetime/src/neo.rs
  components/datetime/tests/mock.rs
  ffi/capi/bindings/cpp/ICU4XDateTime.hpp
  ffi/capi/bindings/cpp/ICU4XIsoDateTime.hpp
  ffi/capi/bindings/cpp/ICU4XTime.hpp
  ffi/capi/bindings/dart/DateTime.g.dart
  ffi/capi/bindings/dart/IsoDateTime.g.dart
  ffi/capi/bindings/dart/Time.g.dart
  ffi/capi/bindings/js/ICU4XDateTime.d.ts
  ffi/capi/bindings/js/ICU4XIsoDateTime.d.ts
  ffi/capi/bindings/js/ICU4XTime.d.ts
  ffi/capi/src/datetime.rs
  ffi/capi/src/time.rs
  tools/ffi_coverage/src/allowlist.rs
Owners: @Manishearth, @sffc, @zbraniecki, @nordzilla, @unicode-org/icu4x-owners

f
  components/experimental/src/units/converter_factory.rs
Owners: @unicode-org/icu4x-owners

wip
  components/datetime/src/any/date.rs
  components/datetime/src/any/datetime.rs
  components/datetime/src/any/zoned_datetime.rs
  components/datetime/src/datetime.rs
  components/datetime/src/error.rs
  components/datetime/src/format/datetime.rs
  components/datetime/src/format/neo.rs
  components/datetime/src/format/time_zone.rs
  components/datetime/src/format/zoned_datetime.rs
  components/datetime/src/raw/datetime.rs
  components/datetime/src/raw/neo.rs
  components/datetime/src/raw/zoned_datetime.rs
  components/datetime/src/time_zone.rs
  components/datetime/src/zoned_datetime.rs
  ffi/capi/src/errors.rs
Owners: @zbraniecki, @nordzilla, @Manishearth

Fix build?
  provider/datagen/src/bin/datagen/args.rs
  provider/datagen/src/bin/datagen/mod.rs
  provider/datagen/src/driver.rs
Owners: @sffc, @robertbastian, @Manishearth

fmt
  components/experimental/src/units/converter_factory.rs
Owners: @unicode-org/icu4x-owners

Testing
  provider/datagen/src/driver.rs
Owners: @sffc, @robertbastian, @Manishearth

Remap LocaleFamilies to LanguageIdentifiers in without-fallback
  provider/datagen/src/bin/datagen/args.rs
  provider/datagen/src/bin/datagen/mod.rs
  provider/datagen/src/driver.rs
Owners: @sffc, @robertbastian, @Manishearth

Using units info singleton (#4746)
  components/calendar/src/week_of.rs
  components/decimal/src/lib.rs
  components/experimental/src/dimension/mod.rs
  components/experimental/src/units/converter_factory.rs
  components/experimental/tests/units/units_test.rs
Owners: @Manishearth, @sffc, @unicode-org/icu4x-owners

fix doc link
  components/experimental/src/dimension/currency/formatter.rs
Owners: @unicode-org/icu4x-owners

Add new Datagen API and CLI with FallbackOptions (#4710)
  ffi/dart/tools/datagen/build.rs
  ffi/dart/tools/datagen/src/main.rs
  provider/blob/Cargo.toml
  provider/blob/tests/test_versions.rs
  provider/datagen/src/bin/datagen/args.rs
  provider/datagen/src/bin/datagen/config.rs
  provider/datagen/src/bin/datagen/mod.rs
  provider/datagen/src/driver.rs
  provider/datagen/src/lib.rs
  provider/datagen/src/tests/make_testdata.rs
  provider/datagen/tests/test-options.rs
  tools/bakeddata-scripts/src/main.rs
Owners: @unicode-org/icu4x-owners, @sffc, @Manishearth, @robertbastian

Add error context to lid parsing
  provider/datagen/src/bin/datagen/mod.rs
Owners: @sffc, @robertbastian, @Manishearth

fix doc test
  components/experimental/src/dimension/currency/formatter.rs
Owners: @unicode-org/icu4x-owners

Checkpoint with weird borrow problem
  provider/datagen/src/bin/datagen/args.rs
  provider/datagen/src/bin/datagen/config.rs
  provider/datagen/src/bin/datagen/mod.rs
Owners: @sffc, @robertbastian, @Manishearth

import super::super::provider::currency::CurrencyEssentialsV1Marker
  components/experimental/src/dimension/currency/formatter.rs
Owners: @unicode-org/icu4x-owners

Add .npmrc for Node 18 support (#4738)
  tutorials/npm/.npmrc
Owners: @unicode-org/icu4x-owners

Address provided feedback 1. Remove ixdtfoption for methods on ixdtfparser 2. Shift in_leap_year to return a bool
  utils/ixdtf/src/parsers/datetime.rs
  utils/ixdtf/src/parsers/mod.rs
  utils/ixdtf/src/parsers/tests.rs
Owners: @unicode-org/icu4x-owners

Move currency related code to dimension/currency folder (#4745)
  components/experimental/src/dimension/currency/format.rs
  components/experimental/src/dimension/currency/formatter.rs
  components/experimental/src/dimension/currency/mod.rs
  components/experimental/src/dimension/currency/options.rs
  components/experimental/src/dimension/mod.rs
  components/experimental/src/dimension/provider/ule.rs
  provider/datagen/src/transform/cldr/currency/essentials.rs
Owners: @unicode-org/icu4x-owners, @sffc, @robertbastian, @Manishearth

Add EitherWriteable and use it for DoublePlaceholder in currency format
  components/experimental/src/dimension/currency/format.rs
  utils/pattern/src/double.rs
  utils/writeable/src/lib.rs
Owners: @unicode-org/icu4x-owners, @zbraniecki, @sffc, @robertbastian

Datagen CLI: Add error context to LanguageIdentifier parsing (#4747)
  provider/datagen/src/bin/datagen/mod.rs
Owners: @sffc, @robertbastian, @Manishearth

Address `ixdtf` feedback p.1 (#4749)
  utils/ixdtf/src/parsers/datetime.rs
  utils/ixdtf/src/parsers/mod.rs
  utils/ixdtf/src/parsers/tests.rs
Owners: @unicode-org/icu4x-owners

Update calendar field to Option<Annotation>
  utils/ixdtf/src/parsers/annotations.rs
  utils/ixdtf/src/parsers/records.rs
  utils/ixdtf/src/parsers/tests.rs
Owners: @unicode-org/icu4x-owners

fix merge
  provider/datagen/src/transform/cldr/cldr_serde/units/data.rs
  provider/datagen/src/transform/cldr/cldr_serde/units/mod.rs
Owners: @sffc, @robertbastian, @Manishearth
