Repository unicode-org/icu4x, changes with the owners that CODEOWNERS names for each.
All owners: @unicode-org/icu4x-sc, @zbraniecki, @sffc, @nciric, @echeran, @filmil

add Heap – ubuntu-latest (ndjson) benchmark result for 9a25738b476593d40353e19a2dd0b2c5f9ab81a6
  benchmarks/memory/ubuntu-latest/data.js
Owners: @unicode-org/icu4x-sc

add Heap – windows-latest (ndjson) benchmark result for 9a25738b476593d40353e19a2dd0b2c5f9ab81a6
  benchmarks/memory/windows-latest/data.js
Owners: @unicode-org/icu4x-sc

add Heap – macos-latest (ndjson) benchmark result for 9a25738b476593d40353e19a2dd0b2c5f9ab81a6
  benchmarks/memory/macos-latest/data.js
Owners: @unicode-org/icu4x-sc

Update experimental/codepointtrie/src/planes.rs
  experimental/codepointtrie/src/planes.rs
Owners: @unicode-org/icu4x-sc

Update experimental/codepointtrie/src/codepointtrie.rs
  experimental/codepointtrie/src/codepointtrie.rs
Owners: @unicode-org/icu4x-sc

More review feedback
  components/plurals/src/operands.rs
  utils/fixed_decimal/src/decimal.rs
Owners: @zbraniecki, @sffc

Attempt to make yoke clone
  utils/yoke/src/yoke.rs
Owners: @unicode-org/icu4x-sc

Correctly apply the hour cycle in the components::Bag (#846)
  components/datetime/src/options/components.rs
  components/datetime/src/pattern/mod.rs
  components/datetime/src/provider/helpers.rs
  components/datetime/src/skeleton.rs
  components/datetime/tests/datetime.rs
  components/datetime/tests/fixtures/tests/components_hour_cycle.json
Owners: @zbraniecki, @sffc

add Rust Benchmark (cargo) benchmark result for 2fb8ea7943b3344555191bfdf0fbc5cfb13f7c82
  benchmarks/perf/utils/fixed_decimal/data.js
Owners: @unicode-org/icu4x-sc

add Rust Benchmark (cargo) benchmark result for 2fb8ea7943b3344555191bfdf0fbc5cfb13f7c82
  benchmarks/perf/components/locid/data.js
Owners: @unicode-org/icu4x-sc

add Rust Benchmark (cargo) benchmark result for 2fb8ea7943b3344555191bfdf0fbc5cfb13f7c82
  benchmarks/perf/components/plurals/data.js
Owners: @unicode-org/icu4x-sc

add Rust Benchmark (cargo) benchmark result for 2fb8ea7943b3344555191bfdf0fbc5cfb13f7c82
  benchmarks/perf/components/uniset/data.js
Owners: @unicode-org/icu4x-sc

add Rust Benchmark (cargo) benchmark result for 2fb8ea7943b3344555191bfdf0fbc5cfb13f7c82
  benchmarks/perf/components/datetime/data.js
Owners: @unicode-org/icu4x-sc

add Heap – ubuntu-latest (ndjson) benchmark result for 2fb8ea7943b3344555191bfdf0fbc5cfb13f7c82
  benchmarks/memory/ubuntu-latest/data.js
Owners: @unicode-org/icu4x-sc

add Heap – macos-latest (ndjson) benchmark result for 2fb8ea7943b3344555191bfdf0fbc5cfb13f7c82
  benchmarks/memory/macos-latest/data.js
Owners: @unicode-org/icu4x-sc

add Heap – windows-latest (ndjson) benchmark result for 2fb8ea7943b3344555191bfdf0fbc5cfb13f7c82
  benchmarks/memory/windows-latest/data.js
Owners: @unicode-org/icu4x-sc

Update comment to be more general
  components/datetime/src/skeleton.rs
Owners: @zbraniecki, @sffc

Make clone impl work
  utils/yoke/src/trait_hack.rs
  utils/yoke/src/yoke.rs
Owners: @unicode-org/icu4x-sc

Docs and tests
  utils/yoke/src/trait_hack.rs
  utils/yoke/src/yoke.rs
Owners: @unicode-org/icu4x-sc

into_ref
  utils/yoke/src/trait_hack.rs
  utils/yoke/src/yoke.rs
Owners: @unicode-org/icu4x-sc

Add working Clone impl for Yoke (#894)
  utils/yoke/src/trait_hack.rs
  utils/yoke/src/yoke.rs
Owners: @unicode-org/icu4x-sc

Implement working Clone and PartialEq on DataPayload
  provider/core/src/data_provider.rs
  utils/yoke/src/trait_hack.rs
Owners: @sffc, @unicode-org/icu4x-sc

add Rust Benchmark (cargo) benchmark result for 49ece439952c04a2a5e200c63fc696b176aa79e2
  benchmarks/perf/components/uniset/data.js
Owners: @unicode-org/icu4x-sc

add Rust Benchmark (cargo) benchmark result for 49ece439952c04a2a5e200c63fc696b176aa79e2
  benchmarks/perf/utils/fixed_decimal/data.js
Owners: @unicode-org/icu4x-sc

add Rust Benchmark (cargo) benchmark result for 49ece439952c04a2a5e200c63fc696b176aa79e2
  benchmarks/perf/components/locid/data.js
Owners: @unicode-org/icu4x-sc

add Rust Benchmark (cargo) benchmark result for 49ece439952c04a2a5e200c63fc696b176aa79e2
  benchmarks/perf/components/datetime/data.js
Owners: @unicode-org/icu4x-sc

add Rust Benchmark (cargo) benchmark result for 49ece439952c04a2a5e200c63fc696b176aa79e2
  benchmarks/perf/components/plurals/data.js
Owners: @unicode-org/icu4x-sc

add Heap – ubuntu-latest (ndjson) benchmark result for 49ece439952c04a2a5e200c63fc696b176aa79e2
  benchmarks/memory/ubuntu-latest/data.js
Owners: @unicode-org/icu4x-sc

add Heap – macos-latest (ndjson) benchmark result for 49ece439952c04a2a5e200c63fc696b176aa79e2
  benchmarks/memory/macos-latest/data.js
Owners: @unicode-org/icu4x-sc

add Heap – windows-latest (ndjson) benchmark result for 49ece439952c04a2a5e200c63fc696b176aa79e2
  benchmarks/memory/windows-latest/data.js
Owners: @unicode-org/icu4x-sc

Implement working Clone and PartialEq on DataPayload (#895)
  provider/core/src/data_provider.rs
  utils/yoke/src/trait_hack.rs
Owners: @sffc, @unicode-org/icu4x-sc

add Rust Benchmark (cargo) benchmark result for f5bc1660a2efa1c88f6ab3ee7a6e68af92498ffd
  benchmarks/perf/utils/fixed_decimal/data.js
Owners: @unicode-org/icu4x-sc

add Rust Benchmark (cargo) benchmark result for f5bc1660a2efa1c88f6ab3ee7a6e68af92498ffd
  benchmarks/perf/components/datetime/data.js
Owners: @unicode-org/icu4x-sc

add Rust Benchmark (cargo) benchmark result for f5bc1660a2efa1c88f6ab3ee7a6e68af92498ffd
  benchmarks/perf/components/locid/data.js
Owners: @unicode-org/icu4x-sc

add Rust Benchmark (cargo) benchmark result for f5bc1660a2efa1c88f6ab3ee7a6e68af92498ffd
  benchmarks/perf/components/uniset/data.js
Owners: @unicode-org/icu4x-sc

add Rust Benchmark (cargo) benchmark result for f5bc1660a2efa1c88f6ab3ee7a6e68af92498ffd
  benchmarks/perf/components/plurals/data.js
Owners: @unicode-org/icu4x-sc

Removing DataPayload::from_borrowed from core crate
  provider/core/src/data_provider.rs
  provider/core/src/data_provider/test.rs
  provider/core/src/erased.rs
  provider/core/src/struct_provider.rs
Owners: @sffc

Change to using DataPayload in StructProvider
  provider/core/src/struct_provider.rs
Owners: @sffc

add Heap – ubuntu-latest (ndjson) benchmark result for f5bc1660a2efa1c88f6ab3ee7a6e68af92498ffd
  benchmarks/memory/ubuntu-latest/data.js
Owners: @unicode-org/icu4x-sc

add Heap – windows-latest (ndjson) benchmark result for f5bc1660a2efa1c88f6ab3ee7a6e68af92498ffd
  benchmarks/memory/windows-latest/data.js
Owners: @unicode-org/icu4x-sc

CODEOWNERS:

# See https://github.blog/2017-07-06-introducing-code-owners/ for details
# Format of the file follows: https://git-scm.com/docs/gitattributes

# Fallback to core group for crates or folders without specific owners, like docs/.

* @unicode-org/icu4x-sc

# List of components with at least two owners as specified in docs/crate-ownership.

components/datetime/            @zbraniecki @sffc
components/locid/               @zbraniecki @nciric
components/plurals/             @zbraniecki @sffc
components/uniset/              @echeran
ffi/ecma402/             @filmil
provider/cldr/       @sffc
provider/core/            @sffc
provider/fs/         @sffc
provider/testdata/             @sffc
utils/fixed_decimal/            @sffc
