Repository unicode-org/icu4x, changes with the owners that CODEOWNERS names for each.
All owners: @unicode-org/icu4x-sc, @zbraniecki, @sffc, @nciric, @echeran, @filmil

CODEOWNERS:

# See https://github.blog/2017-07-06-introducing-code-owners/ for details
# Format of the file follows: https://git-scm.com/docs/gitattributes

# Fallback to core group for crates or folders without specific owners, like docs/.

* @unicode-org/icu4x-sc

# List of components with at least two owners as specified in docs/crate-ownership.

components/datetime/            @zbraniecki @sffc
components/locid/               @zbraniecki @nciric
components/plurals/             @zbraniecki @sffc
components/uniset/              @echeran
ffi/ecma402/             @filmil
provider/cldr/       @sffc
provider/core/            @sffc
provider/fs/         @sffc
provider/testdata/             @sffc
utils/fixed_decimal/            @sffc

fix features
  experimental/segmenter_lstm/Cargo.toml
  provider/fs/Cargo.toml
  utils/yoke/src/yoke.rs
  utils/yoke/src/zero_copy_from.rs
Owners: @unicode-org/icu4x-sc, @sffc

Progress towards no_std (#865)
  Cargo.lock
  Cargo.toml
  components/datetime/Cargo.toml
  components/decimal/Cargo.toml
  components/locale_canonicalizer/Cargo.toml
  components/locid/Cargo.toml
  components/locid/macros/Cargo.toml
  components/plurals/Cargo.toml
  components/uniset/Cargo.toml
  experimental/provider_ppucd/Cargo.toml
  experimental/segmenter/Cargo.toml
  experimental/segmenter_lstm/Cargo.toml
  ffi/capi/Cargo.toml
  ffi/ecma402/Cargo.toml
  provider/blob/Cargo.toml
  provider/cldr/Cargo.toml
  provider/core/Cargo.toml
  provider/fs/Cargo.toml
  provider/testdata/Cargo.toml
  tools/benchmark/memory/Cargo.toml
  tools/datagen/Cargo.toml
  utils/litemap/Cargo.toml
  utils/writeable/src/lib.rs
  utils/writeable/src/ops.rs
  utils/yoke/Cargo.toml
  utils/yoke/src/lib.rs
  utils/yoke/src/macro_impls.rs
  utils/yoke/src/yoke.rs
  utils/yoke/src/yokeable.rs
  utils/yoke/src/zero_copy_from.rs
  utils/zerovec/Cargo.toml
Owners: @unicode-org/icu4x-sc, @zbraniecki, @sffc, @nciric, @echeran, @filmil

add Rust Benchmark (cargo) benchmark result for a8377791ffc70c7c6f3aa7f6aa27023e0e59aaca
  benchmarks/perf/components/uniset/data.js
Owners: @unicode-org/icu4x-sc

add Rust Benchmark (cargo) benchmark result for a8377791ffc70c7c6f3aa7f6aa27023e0e59aaca
  benchmarks/perf/utils/fixed_decimal/data.js
Owners: @unicode-org/icu4x-sc

add Rust Benchmark (cargo) benchmark result for a8377791ffc70c7c6f3aa7f6aa27023e0e59aaca
  benchmarks/perf/components/locid/data.js
Owners: @unicode-org/icu4x-sc

add Rust Benchmark (cargo) benchmark result for a8377791ffc70c7c6f3aa7f6aa27023e0e59aaca
  benchmarks/perf/components/datetime/data.js
Owners: @unicode-org/icu4x-sc

add Rust Benchmark (cargo) benchmark result for a8377791ffc70c7c6f3aa7f6aa27023e0e59aaca
  benchmarks/perf/components/plurals/data.js
Owners: @unicode-org/icu4x-sc

add Heap – ubuntu-latest (ndjson) benchmark result for a8377791ffc70c7c6f3aa7f6aa27023e0e59aaca
  benchmarks/memory/ubuntu-latest/data.js
Owners: @unicode-org/icu4x-sc

add Heap – windows-latest (ndjson) benchmark result for a8377791ffc70c7c6f3aa7f6aa27023e0e59aaca
  benchmarks/memory/windows-latest/data.js
Owners: @unicode-org/icu4x-sc

add Heap – macos-latest (ndjson) benchmark result for a8377791ffc70c7c6f3aa7f6aa27023e0e59aaca
  benchmarks/memory/macos-latest/data.js
Owners: @unicode-org/icu4x-sc

Update doc strings, source comments, identifier names
  experimental/codepointtrie/src/codepointtrie.rs
Owners: @unicode-org/icu4x-sc

Remove std::error::Error from fs data provider
  provider/fs/src/deserializer.rs
  provider/fs/src/error.rs
Owners: @sffc

Remove std::error::Error from provider
  provider/cldr/src/support.rs
  provider/core/src/error.rs
  provider/fs/src/deserializer.rs
  provider/fs/src/error.rs
  provider/fs/src/fs_data_provider.rs
Owners: @sffc

Pull in serde std only when exporting
  provider/fs/Cargo.toml
Owners: @sffc

fmt
  provider/fs/src/error.rs
Owners: @sffc

Remove use of `dyn Error` in library code in favor of Strings (#867)
  provider/cldr/src/support.rs
  provider/core/src/error.rs
  provider/fs/Cargo.toml
  provider/fs/src/deserializer.rs
  provider/fs/src/error.rs
  provider/fs/src/fs_data_provider.rs
Owners: @sffc

add Rust Benchmark (cargo) benchmark result for e5f7a5e5c737ee6e3ba0c53e789d131d3eb277a8
  benchmarks/perf/utils/fixed_decimal/data.js
Owners: @unicode-org/icu4x-sc

add Rust Benchmark (cargo) benchmark result for e5f7a5e5c737ee6e3ba0c53e789d131d3eb277a8
  benchmarks/perf/components/uniset/data.js
Owners: @unicode-org/icu4x-sc

add Rust Benchmark (cargo) benchmark result for e5f7a5e5c737ee6e3ba0c53e789d131d3eb277a8
  benchmarks/perf/components/datetime/data.js
Owners: @unicode-org/icu4x-sc

add Rust Benchmark (cargo) benchmark result for e5f7a5e5c737ee6e3ba0c53e789d131d3eb277a8
  benchmarks/perf/components/locid/data.js
Owners: @unicode-org/icu4x-sc

add Rust Benchmark (cargo) benchmark result for e5f7a5e5c737ee6e3ba0c53e789d131d3eb277a8
  benchmarks/perf/components/plurals/data.js
Owners: @unicode-org/icu4x-sc

add Heap – ubuntu-latest (ndjson) benchmark result for e5f7a5e5c737ee6e3ba0c53e789d131d3eb277a8
  benchmarks/memory/ubuntu-latest/data.js
Owners: @unicode-org/icu4x-sc

add Heap – macos-latest (ndjson) benchmark result for e5f7a5e5c737ee6e3ba0c53e789d131d3eb277a8
  benchmarks/memory/macos-latest/data.js
Owners: @unicode-org/icu4x-sc

add Heap – windows-latest (ndjson) benchmark result for e5f7a5e5c737ee6e3ba0c53e789d131d3eb277a8
  benchmarks/memory/windows-latest/data.js
Owners: @unicode-org/icu4x-sc

Replace `.unwrap()` with `if let` and `.unwrap_or()`
  experimental/codepointtrie/src/codepointtrie.rs
Owners: @unicode-org/icu4x-sc

Add Rust doc strings
  experimental/codepointtrie/src/codepointtrie.rs
Owners: @unicode-org/icu4x-sc

Apply formatter and linter changes
  experimental/codepointtrie/src/codepointtrie.rs
  experimental/codepointtrie/tests/planes_test.rs
  experimental/codepointtrie/tests/test_util.rs
Owners: @unicode-org/icu4x-sc

Suppress false warnings on integration test helper module
  experimental/codepointtrie/tests/test_util.rs
Owners: @unicode-org/icu4x-sc

Apply more changes from formatter
  experimental/codepointtrie/tests/planes_test.rs
Owners: @unicode-org/icu4x-sc

Add lifetime to patterns in DTF
  components/datetime/src/datetime.rs
  components/datetime/src/format/datetime.rs
  components/datetime/src/pattern/mod.rs
  components/datetime/src/provider/gregory.rs
  components/datetime/src/provider/helpers.rs
  components/datetime/src/skeleton.rs
  components/datetime/src/time_zone.rs
Owners: @zbraniecki, @sffc

Fix fixed-decimal for no_std
  utils/fixed_decimal/Cargo.toml
  utils/fixed_decimal/benches/fixed_decimal.rs
  utils/fixed_decimal/src/decimal.rs
  utils/fixed_decimal/src/lib.rs
  utils/fixed_decimal/src/uint_iterator.rs
Owners: @sffc

Fix unused error
  utils/yoke/src/yokeable.rs
Owners: @unicode-org/icu4x-sc

Move locid to no_std
  components/locid/Cargo.toml
  components/locid/src/extensions/mod.rs
  components/locid/src/extensions/private/key.rs
  components/locid/src/extensions/private/mod.rs
  components/locid/src/extensions/transform/fields.rs
  components/locid/src/extensions/transform/key.rs
  components/locid/src/extensions/transform/mod.rs
  components/locid/src/extensions/transform/value.rs
  components/locid/src/extensions/unicode/attribute.rs
  components/locid/src/extensions/unicode/attributes.rs
  components/locid/src/extensions/unicode/key.rs
  components/locid/src/extensions/unicode/keywords.rs
  components/locid/src/extensions/unicode/mod.rs
  components/locid/src/extensions/unicode/value.rs
  components/locid/src/helpers.rs
  components/locid/src/langid.rs
  components/locid/src/lib.rs
  components/locid/src/locale.rs
  components/locid/src/parser/errors.rs
  components/locid/src/parser/langid.rs
  components/locid/src/serde/langid.rs
  components/locid/src/subtags/language.rs
  components/locid/src/subtags/region.rs
  components/locid/src/subtags/script.rs
  components/locid/src/subtags/variant.rs
  components/locid/src/subtags/variants.rs
  tools/datagen/Cargo.toml
Owners: @zbraniecki, @nciric, @unicode-org/icu4x-sc

remove displaydoc/std
  utils/fixed_decimal/Cargo.toml
Owners: @sffc

Move locid and fixed_decimal over to no_std (#868)
  components/locid/Cargo.toml
  components/locid/src/extensions/mod.rs
  components/locid/src/extensions/private/key.rs
  components/locid/src/extensions/private/mod.rs
  components/locid/src/extensions/transform/fields.rs
  components/locid/src/extensions/transform/key.rs
  components/locid/src/extensions/transform/mod.rs
  components/locid/src/extensions/transform/value.rs
  components/locid/src/extensions/unicode/attribute.rs
  components/locid/src/extensions/unicode/attributes.rs
  components/locid/src/extensions/unicode/key.rs
  components/locid/src/extensions/unicode/keywords.rs
  components/locid/src/extensions/unicode/mod.rs
  components/locid/src/extensions/unicode/value.rs
  components/locid/src/helpers.rs
  components/locid/src/langid.rs
  components/locid/src/lib.rs
  components/locid/src/locale.rs
  components/locid/src/parser/errors.rs
  components/locid/src/parser/langid.rs
  components/locid/src/serde/langid.rs
  components/locid/src/subtags/language.rs
  components/locid/src/subtags/region.rs
  components/locid/src/subtags/script.rs
  components/locid/src/subtags/variant.rs
  components/locid/src/subtags/variants.rs
  tools/datagen/Cargo.toml
  utils/fixed_decimal/Cargo.toml
  utils/fixed_decimal/benches/fixed_decimal.rs
  utils/fixed_decimal/src/decimal.rs
  utils/fixed_decimal/src/lib.rs
  utils/fixed_decimal/src/uint_iterator.rs
  utils/yoke/src/yokeable.rs
Owners: @zbraniecki, @nciric, @unicode-org/icu4x-sc, @sffc

add Rust Benchmark (cargo) benchmark result for ff56a70f588b63f134714956a8eb8e1ee37a99d3
  benchmarks/perf/utils/fixed_decimal/data.js
Owners: @unicode-org/icu4x-sc

add Rust Benchmark (cargo) benchmark result for ff56a70f588b63f134714956a8eb8e1ee37a99d3
  benchmarks/perf/components/uniset/data.js
Owners: @unicode-org/icu4x-sc

add Rust Benchmark (cargo) benchmark result for ff56a70f588b63f134714956a8eb8e1ee37a99d3
  benchmarks/perf/components/plurals/data.js
Owners: @unicode-org/icu4x-sc

add Rust Benchmark (cargo) benchmark result for ff56a70f588b63f134714956a8eb8e1ee37a99d3
  benchmarks/perf/components/locid/data.js
Owners: @unicode-org/icu4x-sc

add Rust Benchmark (cargo) benchmark result for ff56a70f588b63f134714956a8eb8e1ee37a99d3
  benchmarks/perf/components/datetime/data.js
Owners: @unicode-org/icu4x-sc
