Repository unicode-org/icu4x, changes with the owners that CODEOWNERS names for each.
All owners: @unicode-org/icu4x-sc, @zbraniecki, @sffc, @nciric, @echeran, @filmil

add Rust Benchmark (cargo) benchmark result for cce8f224c263fb579d3f5ff02e6589e3aa9d9717
  benchmarks/perf/components/locid/data.js
Owners: @unicode-org/icu4x-sc

add Rust Benchmark (cargo) benchmark result for cce8f224c263fb579d3f5ff02e6589e3aa9d9717
  benchmarks/perf/components/uniset/data.js
Owners: @unicode-org/icu4x-sc

add Rust Benchmark (cargo) benchmark result for cce8f224c263fb579d3f5ff02e6589e3aa9d9717
  benchmarks/perf/components/datetime/data.js
Owners: @unicode-org/icu4x-sc

add Rust Benchmark (cargo) benchmark result for cce8f224c263fb579d3f5ff02e6589e3aa9d9717
  benchmarks/perf/components/plurals/data.js
Owners: @unicode-org/icu4x-sc

add Heap – ubuntu-latest (ndjson) benchmark result for cce8f224c263fb579d3f5ff02e6589e3aa9d9717
  benchmarks/memory/ubuntu-latest/data.js
Owners: @unicode-org/icu4x-sc

add Heap – macos-latest (ndjson) benchmark result for cce8f224c263fb579d3f5ff02e6589e3aa9d9717
  benchmarks/memory/macos-latest/data.js
Owners: @unicode-org/icu4x-sc

add Heap – windows-latest (ndjson) benchmark result for cce8f224c263fb579d3f5ff02e6589e3aa9d9717
  benchmarks/memory/windows-latest/data.js
Owners: @unicode-org/icu4x-sc

Fix header and add error check.
  tools/benchmark/binsize/src/main.rs
Owners: @unicode-org/icu4x-sc

Remove test prints.
  .github/workflows/build-test.yml
Owners: @unicode-org/icu4x-sc

Newline was missing.
  .github/workflows/build-test.yml
Owners: @unicode-org/icu4x-sc

Remove extraneous return
  components/datetime/src/provider/helpers.rs
Owners: @zbraniecki, @sffc

Use property short aliases instead of enum int value for resource keys
  components/uniset/src/enum_props.rs
  components/uniset/src/props.rs
  experimental/provider_ppucd/src/enum_prop_mapping.rs
  experimental/provider_ppucd/src/parse_ppucd.rs
  experimental/provider_ppucd/tests/props_test.rs
  experimental/provider_ppucd/tests/testdata/ppucd-inpc-topbotleft-test.txt
Owners: @echeran, @unicode-org/icu4x-sc

Apply clippy changes
  experimental/provider_ppucd/src/enum_prop_mapping.rs
Owners: @unicode-org/icu4x-sc

Update docs/design/properties_code_point_trie.md
  docs/design/properties_code_point_trie.md
Owners: @unicode-org/icu4x-sc

Remove str->enum functions and instead await issue #842 design
  experimental/provider_ppucd/src/enum_prop_mapping.rs
  experimental/provider_ppucd/src/lib.rs
Owners: @unicode-org/icu4x-sc

derive(Error) -> derive(Display)
  components/datetime/src/date.rs
  components/datetime/src/error.rs
  components/datetime/src/fields/length.rs
  components/datetime/src/fields/mod.rs
  components/datetime/src/fields/symbols.rs
  components/datetime/src/pattern/error.rs
  components/datetime/src/skeleton.rs
  components/decimal/src/error.rs
  components/locid/src/parser/errors.rs
  components/plurals/src/error.rs
  components/plurals/src/operands.rs
  components/plurals/src/rules/lexer.rs
  components/plurals/src/rules/parser.rs
  components/uniset/src/lib.rs
  experimental/provider_ppucd/src/error.rs
  provider/cldr/src/download/error.rs
  provider/cldr/src/error.rs
  provider/cldr/src/transform/numbers/decimal_pattern.rs
  provider/core/src/error.rs
  provider/fs/src/deserializer.rs
  provider/fs/src/error.rs
  provider/fs/src/export/serializers/mod.rs
  provider/testdata/src/metadata.rs
  utils/fixed_decimal/src/lib.rs
  utils/pattern/src/interpolator/error.rs
  utils/pattern/src/parser/error.rs
  utils/pattern/src/pattern/error.rs
Owners: @zbraniecki, @sffc, @unicode-org/icu4x-sc, @nciric, @echeran

fastmod "#\[error" "#[displaydoc"
  components/datetime/src/date.rs
  components/datetime/src/error.rs
  components/datetime/src/fields/length.rs
  components/datetime/src/fields/mod.rs
  components/datetime/src/fields/symbols.rs
  components/datetime/src/pattern/error.rs
  components/datetime/src/skeleton.rs
  components/decimal/src/error.rs
  components/locid/src/parser/errors.rs
  components/plurals/src/error.rs
  components/plurals/src/operands.rs
  components/plurals/src/rules/lexer.rs
  components/plurals/src/rules/parser.rs
  components/uniset/src/lib.rs
  experimental/provider_ppucd/src/error.rs
  provider/cldr/src/download/error.rs
  provider/cldr/src/error.rs
  provider/cldr/src/transform/numbers/decimal_pattern.rs
  provider/core/src/error.rs
  provider/fs/src/deserializer.rs
  provider/fs/src/error.rs
  provider/fs/src/export/serializers/mod.rs
  provider/testdata/src/metadata.rs
  utils/fixed_decimal/src/lib.rs
  utils/pattern/src/interpolator/error.rs
  utils/pattern/src/parser/error.rs
  utils/pattern/src/pattern/error.rs
Owners: @zbraniecki, @sffc, @unicode-org/icu4x-sc, @nciric, @echeran

thiserror::Error -> displaydoc::Display
  components/datetime/src/date.rs
  components/datetime/src/error.rs
  components/datetime/src/fields/length.rs
  components/datetime/src/fields/mod.rs
  components/datetime/src/fields/symbols.rs
  components/datetime/src/pattern/error.rs
  components/datetime/src/skeleton.rs
  components/decimal/src/error.rs
  components/locid/src/parser/errors.rs
  components/plurals/src/error.rs
  components/plurals/src/operands.rs
  components/plurals/src/rules/lexer.rs
  components/plurals/src/rules/parser.rs
  components/uniset/src/lib.rs
  experimental/provider_ppucd/src/error.rs
  provider/cldr/src/download/error.rs
  provider/cldr/src/error.rs
  provider/cldr/src/transform/numbers/decimal_pattern.rs
  provider/core/src/error.rs
  provider/fs/src/deserializer.rs
  provider/fs/src/error.rs
  provider/fs/src/export/serializers/mod.rs
  provider/testdata/src/metadata.rs
  utils/fixed_decimal/src/lib.rs
  utils/pattern/src/interpolator/error.rs
  utils/pattern/src/parser/error.rs
  utils/pattern/src/pattern/error.rs
Owners: @zbraniecki, @sffc, @unicode-org/icu4x-sc, @nciric, @echeran

thiserror -> displaydoc
  Cargo.lock
  components/datetime/Cargo.toml
  components/decimal/Cargo.toml
  components/locid/Cargo.toml
  components/plurals/Cargo.toml
  components/uniset/Cargo.toml
  experimental/provider_ppucd/Cargo.toml
  provider/cldr/Cargo.toml
  provider/core/Cargo.toml
  provider/fs/Cargo.toml
  provider/testdata/Cargo.toml
  utils/fixed_decimal/Cargo.toml
  utils/pattern/Cargo.toml
Owners: @unicode-org/icu4x-sc, @zbraniecki, @sffc, @nciric, @echeran

Replace #[from] with manual impls
  components/datetime/src/date.rs
  components/datetime/src/error.rs
  components/datetime/src/skeleton.rs
  components/decimal/src/error.rs
  components/plurals/src/error.rs
  components/uniset/src/lib.rs
  experimental/provider_ppucd/src/error.rs
  provider/cldr/src/download/error.rs
  provider/core/src/error.rs
  provider/fs/src/deserializer.rs
  provider/fs/src/error.rs
  provider/fs/src/export/serializers/mod.rs
  provider/testdata/src/metadata.rs
Owners: @zbraniecki, @sffc, @unicode-org/icu4x-sc, @echeran

#[displaydoc(transparent) -> #[displaydoc("{0}")]
  components/datetime/src/date.rs
  components/datetime/src/error.rs
  components/datetime/src/skeleton.rs
  components/uniset/src/lib.rs
  experimental/provider_ppucd/src/error.rs
  provider/cldr/src/download/error.rs
  provider/cldr/src/error.rs
  provider/fs/src/deserializer.rs
  provider/fs/src/error.rs
  provider/fs/src/export/serializers/mod.rs
Owners: @zbraniecki, @sffc, @echeran, @unicode-org/icu4x-sc

Remove #[source]
  provider/cldr/src/download/error.rs
  provider/cldr/src/error.rs
  provider/fs/src/error.rs
Owners: @sffc

Rename resource categories in icu_provider crate
  Cargo.lock
  provider/core/Cargo.toml
  provider/core/src/data_provider/test.rs
  provider/core/src/filter/impls.rs
  provider/core/src/hello_world.rs
  provider/core/src/resource.rs
Owners: @unicode-org/icu4x-sc, @sffc

Update resource category names throughout ICU4X code base
  components/datetime/src/provider/mod.rs
  components/decimal/src/provider.rs
  components/locale_canonicalizer/src/provider.rs
  components/plurals/src/provider.rs
  components/uniset/src/provider.rs
  docs/design/data_pipeline.md
  provider/cldr/src/transform/aliases.rs
  provider/cldr/src/transform/dates/patterns.rs
  provider/cldr/src/transform/dates/symbols.rs
  provider/cldr/src/transform/likelysubtags.rs
  provider/cldr/src/transform/time_zones/mod.rs
Owners: @zbraniecki, @sffc, @unicode-org/icu4x-sc, @echeran

Fix generic Error impls
  utils/pattern/src/interpolator/error.rs
  utils/pattern/src/parser/error.rs
  utils/pattern/src/pattern/error.rs
Owners: @unicode-org/icu4x-sc

Add explicit Error impls
  components/datetime/src/date.rs
  components/datetime/src/error.rs
  components/datetime/src/fields/length.rs
  components/datetime/src/fields/mod.rs
  components/datetime/src/fields/symbols.rs
  components/datetime/src/pattern/error.rs
  components/datetime/src/skeleton.rs
  components/decimal/src/error.rs
  components/locid/src/parser/errors.rs
  components/plurals/src/error.rs
  components/plurals/src/operands.rs
  components/plurals/src/rules/lexer.rs
  components/plurals/src/rules/parser.rs
  components/uniset/src/lib.rs
  experimental/provider_ppucd/src/error.rs
  provider/cldr/src/download/error.rs
  provider/cldr/src/error.rs
  provider/cldr/src/transform/numbers/decimal_pattern.rs
  provider/core/src/error.rs
  provider/fs/src/deserializer.rs
  provider/fs/src/error.rs
  provider/fs/src/export/serializers/mod.rs
  provider/testdata/src/metadata.rs
  utils/fixed_decimal/src/lib.rs
  utils/pattern/src/interpolator/error.rs
  utils/pattern/src/parser/error.rs
  utils/pattern/src/pattern/error.rs
Owners: @zbraniecki, @sffc, @unicode-org/icu4x-sc, @nciric, @echeran

Fix conflicting data key name
  components/datetime/src/provider/mod.rs
Owners: @zbraniecki, @sffc

Fix displaydoc panic
  provider/testdata/src/metadata.rs
Owners: @sffc

Renaming remaining JSON files
  provider/testdata/data/json/datetime/gregory_patterns@1/ar-EG.json
  provider/testdata/data/json/datetime/gregory_patterns@1/ar.json
  provider/testdata/data/json/datetime/gregory_patterns@1/bn.json
  provider/testdata/data/json/datetime/gregory_patterns@1/ccp.json
  provider/testdata/data/json/datetime/gregory_patterns@1/en-001.json
  provider/testdata/data/json/datetime/gregory_patterns@1/en-ZA.json
  provider/testdata/data/json/datetime/gregory_patterns@1/en.json
  provider/testdata/data/json/datetime/gregory_patterns@1/es-AR.json
  provider/testdata/data/json/datetime/gregory_patterns@1/es.json
  provider/testdata/data/json/datetime/gregory_patterns@1/fr.json
  provider/testdata/data/json/datetime/gregory_patterns@1/ja.json
  provider/testdata/data/json/datetime/gregory_patterns@1/ru.json
  provider/testdata/data/json/datetime/gregory_patterns@1/sr-Cyrl.json
  provider/testdata/data/json/datetime/gregory_patterns@1/sr-Latn.json
  provider/testdata/data/json/datetime/gregory_patterns@1/sr.json
  provider/testdata/data/json/datetime/gregory_patterns@1/th.json
  provider/testdata/data/json/datetime/gregory_patterns@1/tr.json
  provider/testdata/data/json/datetime/gregory_patterns@1/und.json
  provider/testdata/data/json/datetime/gregory_symbols@1/ar-EG.json
  provider/testdata/data/json/datetime/gregory_symbols@1/ar.json
  provider/testdata/data/json/datetime/gregory_symbols@1/bn.json
  provider/testdata/data/json/datetime/gregory_symbols@1/ccp.json
  provider/testdata/data/json/datetime/gregory_symbols@1/en-001.json
  provider/testdata/data/json/datetime/gregory_symbols@1/en-ZA.json
  provider/testdata/data/json/datetime/gregory_symbols@1/en.json
  provider/testdata/data/json/datetime/gregory_symbols@1/es-AR.json
  provider/testdata/data/json/datetime/gregory_symbols@1/es.json
  provider/testdata/data/json/datetime/gregory_symbols@1/fr.json
  provider/testdata/data/json/datetime/gregory_symbols@1/ja.json
  provider/testdata/data/json/datetime/gregory_symbols@1/ru.json
  provider/testdata/data/json/datetime/gregory_symbols@1/sr-Cyrl.json
  provider/testdata/data/json/datetime/gregory_symbols@1/sr-Latn.json
  provider/testdata/data/json/datetime/gregory_symbols@1/sr.json
  provider/testdata/data/json/datetime/gregory_symbols@1/th.json
  provider/testdata/data/json/datetime/gregory_symbols@1/tr.json
  provider/testdata/data/json/datetime/gregory_symbols@1/und.json
Owners: @sffc

struct not enum
  experimental/provider_ppucd/src/error.rs
  provider/cldr/src/error.rs
Owners: @unicode-org/icu4x-sc, @sffc

Fixup from impl
  components/datetime/src/date.rs
Owners: @zbraniecki, @sffc

Re-generate bincode data file
  provider/testdata/data/testdata.bincode
Owners: @sffc

rustfmt
  components/datetime/src/date.rs
  components/datetime/src/error.rs
  components/datetime/src/fields/length.rs
  components/datetime/src/fields/mod.rs
  components/datetime/src/fields/symbols.rs
  components/datetime/src/pattern/error.rs
  components/datetime/src/skeleton.rs
  components/decimal/src/error.rs
  components/locid/src/parser/errors.rs
  components/plurals/src/error.rs
  components/plurals/src/operands.rs
  components/plurals/src/rules/lexer.rs
  components/plurals/src/rules/parser.rs
  components/uniset/src/lib.rs
  experimental/provider_ppucd/src/error.rs
  provider/cldr/src/download/error.rs
  provider/cldr/src/error.rs
  provider/cldr/src/transform/numbers/decimal_pattern.rs
  provider/core/src/error.rs
  provider/fs/src/deserializer.rs
  provider/fs/src/error.rs
  provider/fs/src/export/serializers/mod.rs
  provider/testdata/src/metadata.rs
  utils/fixed_decimal/src/lib.rs
Owners: @zbraniecki, @sffc, @unicode-org/icu4x-sc, @nciric, @echeran

fix cfg
  provider/fs/src/deserializer.rs
Owners: @sffc

Re-generate test blob file
  provider/blob/tests/data/hello_world.bincode
Owners: @unicode-org/icu4x-sc

fix cfg
  provider/core/src/error.rs
Owners: @sffc

Replace thiserror with displaydoc (#863)
  Cargo.lock
  components/datetime/Cargo.toml
  components/datetime/src/date.rs
  components/datetime/src/error.rs
  components/datetime/src/fields/length.rs
  components/datetime/src/fields/mod.rs
  components/datetime/src/fields/symbols.rs
  components/datetime/src/pattern/error.rs
  components/datetime/src/skeleton.rs
  components/decimal/Cargo.toml
  components/decimal/src/error.rs
  components/locid/Cargo.toml
  components/locid/src/parser/errors.rs
  components/plurals/Cargo.toml
  components/plurals/src/error.rs
  components/plurals/src/operands.rs
  components/plurals/src/rules/lexer.rs
  components/plurals/src/rules/parser.rs
  components/uniset/Cargo.toml
  components/uniset/src/lib.rs
  experimental/provider_ppucd/Cargo.toml
  experimental/provider_ppucd/src/error.rs
  provider/cldr/Cargo.toml
  provider/cldr/src/download/error.rs
  provider/cldr/src/error.rs
  provider/cldr/src/transform/numbers/decimal_pattern.rs
  provider/core/Cargo.toml
  provider/core/src/error.rs
  provider/fs/Cargo.toml
  provider/fs/src/deserializer.rs
  provider/fs/src/error.rs
  provider/fs/src/export/serializers/mod.rs
  provider/testdata/Cargo.toml
  provider/testdata/src/metadata.rs
  utils/fixed_decimal/Cargo.toml
  utils/fixed_decimal/src/lib.rs
  utils/pattern/Cargo.toml
  utils/pattern/src/interpolator/error.rs
  utils/pattern/src/parser/error.rs
  utils/pattern/src/pattern/error.rs
Owners: @unicode-org/icu4x-sc, @zbraniecki, @sffc, @nciric, @echeran

Fix stable_deref_trait dep
  utils/yoke/Cargo.toml
Owners: @unicode-org/icu4x-sc

Fix writeable
  utils/writeable/src/lib.rs
  utils/writeable/src/ops.rs
Owners: @unicode-org/icu4x-sc

hardcode thumb
  .cargo/config.toml
Owners: @unicode-org/icu4x-sc

CODEOWNERS:

# See https://github.blog/2017-07-06-introducing-code-owners/ for details
# Format of the file follows: https://git-scm.com/docs/gitattributes

# Fallback to core group for crates or folders without specific owners, like docs/.

* @unicode-org/icu4x-sc

# List of components with at least two owners as specified in docs/crate-ownership.

components/datetime/            @zbraniecki @sffc
components/locid/               @zbraniecki @nciric
components/plurals/             @zbraniecki @sffc
components/uniset/              @echeran
ffi/ecma402/             @filmil
provider/cldr/       @sffc
provider/core/            @sffc
provider/fs/         @sffc
provider/testdata/             @sffc
utils/fixed_decimal/            @sffc
