Repository unicode-org/icu4x, changes with the owners that CODEOWNERS names for each.
All owners: @unicode-org/icu4x-owners, @Manishearth, @sffc, @hsivonen, @echeran, @zbraniecki, @gregtatum, @nordzilla, @robertbastian, @nciric, @dminor, @eggrobin, @snktd, @pdogr, @aethanyc, @makotokato, @filmil, @gnrunge

CODEOWNERS:

# See https://github.blog/2017-07-06-introducing-code-owners/ for details
# Format of the file follows: https://git-scm.com/docs/gitattributes

# Fallback to core group for crates or folders without specific owners, like docs/.

* @unicode-org/icu4x-owners

# List of components with at least two owners as specified in docs/crate-ownership.

components/calendar/              @Manishearth @sffc
components/collator/              @hsivonen @echeran
components/collections/           @echeran
components/datetime/              @zbraniecki @gregtatum @nordzilla
components/decimal/               @sffc
components/list/                  @robertbastian
components/locid/                 @zbraniecki @nciric
components/locid_transform/       @dminor @zbraniecki
components/normalizer/            @hsivonen @echeran
components/plurals/               @zbraniecki @sffc
components/timezone/              @nordzilla
experimental/bies/                @sffc
experimental/compactdecimal/      @eggrobin
experimental/displaynames/        @sffc @snktd
experimental/relativetime/        @pdogr
experimental/segmenter/           @aethanyc @makotokato @sffc
ffi/capi/                         @Manishearth
ffi/ecma402/                      @filmil
ffi/gn/                           @sffc
provider/blob/                    @sffc @Manishearth
provider/core/                    @sffc @Manishearth
provider/datagen/                 @sffc @robertbastian @Manishearth
provider/fs/                      @sffc
provider/macros/                  @Manishearth @sffc
tools/benchmark/binsize/          @gnrunge
tools/benchmark/macros/           @gregtatum
tools/benchmark/memory/           @gregtatum
tools/depcheck/                   @Manishearth
tools/depcheck/src/allowlist.rs   @unicode-org/icu4x-owners
tools/make/                       @Manishearth @sffc
utils/databake                    @robertbastian @Manishearth
utils/deduplicating_array         @robertbastian
utils/fixed_decimal/              @sffc
utils/litemap/                    @Manishearth @sffc
utils/pattern/                    @zbraniecki
utils/tinystr                     @zbraniecki @sffc
utils/writeable/                  @sffc @robertbastian
utils/yoke/                       @Manishearth @sffc
utils/zerofrom                    @Manishearth @sffc
utils/zerovec/                    @Manishearth @sffc

features test
  components/collections/codepointtrie_builder/Cargo.toml
  components/collections/codepointtrie_builder/src/lib.rs
Owners: @echeran

gating
  .github/workflows/artifacts-build.yml
Owners: @unicode-org/icu4x-owners

Fixing binsize benchmark (#3145)
  .github/workflows/artifacts-build.yml
Owners: @unicode-org/icu4x-owners

address
  components/collections/codepointtrie_builder/Cargo.toml
  components/collections/codepointtrie_builder/build.rs
  components/collections/codepointtrie_builder/src/lib.rs
  components/collections/codepointtrie_builder/src/native.rs
Owners: @echeran

tidy
  components/collections/codepointtrie_builder/README.md
  components/collections/codepointtrie_builder/src/native.rs
Owners: @echeran

+custom renaming
  components/collections/codepointtrie_builder/README.md
  components/collections/codepointtrie_builder/build.rs
  components/collections/codepointtrie_builder/src/lib.rs
  components/collections/codepointtrie_builder/src/native.rs
Owners: @echeran

fix
  components/collections/codepointtrie_builder/build.rs
  components/collections/codepointtrie_builder/src/native.rs
Owners: @echeran

Update components/collections/codepointtrie_builder/src/lib.rs
  components/collections/codepointtrie_builder/src/lib.rs
Owners: @echeran

Update components/collections/codepointtrie_builder/Cargo.toml
  components/collections/codepointtrie_builder/Cargo.toml
Owners: @echeran

Update components/collections/codepointtrie_builder/src/lib.rs
  components/collections/codepointtrie_builder/src/lib.rs
Owners: @echeran

gen
  components/collections/codepointtrie_builder/README.md
Owners: @echeran

gen
  components/collections/codepointtrie_builder/README.md
Owners: @echeran

Add native option to icu_codepointtrie_builder (#3146)
  Cargo.lock
  components/collections/codepointtrie_builder/Cargo.toml
  components/collections/codepointtrie_builder/README.md
  components/collections/codepointtrie_builder/build.rs
  components/collections/codepointtrie_builder/src/lib.rs
  components/collections/codepointtrie_builder/src/native.rs
Owners: @unicode-org/icu4x-owners, @echeran

Split LocaleExpander key in two
  components/locid_transform/Cargo.toml
  components/locid_transform/src/canonicalizer.rs
  components/locid_transform/src/expander.rs
  components/locid_transform/src/provider.rs
  provider/datagen/src/registry.rs
  provider/datagen/src/transform/cldr/locale_canonicalizer/likely_subtags.rs
  provider/repodata/data/json/fingerprints.csv
  provider/repodata/data/json/locid_transform/likelysubtags_l@1/und.json
  provider/repodata/data/json/locid_transform/likelysubtags_sr@1/und.json
  provider/testdata/data/baked/locid_transform/likelysubtags_l_v1/mod.rs
  provider/testdata/data/baked/locid_transform/likelysubtags_l_v1/und.rs.data
  provider/testdata/data/baked/locid_transform/likelysubtags_sr_v1/mod.rs
  provider/testdata/data/baked/locid_transform/likelysubtags_sr_v1/und.rs.data
  provider/testdata/data/baked/locid_transform/mod.rs
  provider/testdata/data/baked/mod.rs
  provider/testdata/data/postcard/fingerprints.csv
Owners: @dminor, @zbraniecki, @sffc, @robertbastian, @Manishearth, @unicode-org/icu4x-owners

Add Cargo update lock
  Cargo.lock
Owners: @unicode-org/icu4x-owners

Add Cargo update lock
  Cargo.lock
Owners: @unicode-org/icu4x-owners
