Repository unicode-org/icu4x, changes with the owners that CODEOWNERS names for each.
All owners: @unicode-org/icu4x-owners, @zbraniecki, @gregtatum, @nordzilla, @sffc, @dminor, @nciric, @echeran, @iainireland, @Manishearth, @hsivonen, @aethanyc, @makotokato, @filmil, @robertbastian, @gnrunge

CODEOWNERS:

# See https://github.blog/2017-07-06-introducing-code-owners/ for details
# Format of the file follows: https://git-scm.com/docs/gitattributes

# Fallback to core group for crates or folders without specific owners, like docs/.

* @unicode-org/icu4x-owners

# List of components with at least two owners as specified in docs/crate-ownership.

components/datetime/              @zbraniecki @gregtatum @nordzilla
components/decimal/               @sffc
components/icu/                   @unicode-org/icu4x-owners
components/icu4x/                 @unicode-org/icu4x-owners
components/locale_canonicalizer/  @dminor @zbraniecki
components/locid/                 @zbraniecki @nciric
components/plurals/               @zbraniecki @sffc
components/uniset/                @echeran @iainireland
experimental/bies/                @sffc
experimental/calendar/            @Manishearth @sffc
experimental/codepointtrie/       @echeran
experimental/collator/            @hsivonen @echeran
experimental/normalizer/          @hsivonen @echeran
experimental/provider_ppucd/      @echeran
experimental/segmenter/           @aethanyc @makotokato @sffc
ffi/capi/                         @Manishearth
ffi/cpp/                          @Manishearth
ffi/ecma402/                      @filmil
ffi/wasm/                         @Manishearth
provider/blob/                    @sffc @Manishearth
provider/core/                    @sffc @Manishearth
provider/datagen/                 @sffc @robertbastian @Manishearth
provider/fs/                      @sffc
provider/macros/                  @Manishearth @sffc
provider/testdata/                @unicode-org/icu4x-owners
tools/benchmark/binsize/          @gnrunge
tools/benchmark/macros/           @gregtatum
tools/benchmark/memory/           @gregtatum
tools/scripts/                    @Manishearth @sffc
utils/fixed_decimal/              @sffc
utils/litemap/                    @Manishearth @sffc
utils/pattern/                    @zbraniecki
utils/writeable/                  @sffc
utils/yoke/                       @Manishearth @sffc
utils/zerovec/                    @Manishearth @sffc

Use locale! macro instead
  experimental/segmenter/src/line.rs
  provider/datagen/src/transform/segmenter/mod.rs
Owners: @aethanyc, @makotokato, @sffc, @robertbastian, @Manishearth

Add license header and comnet to toml files
  provider/datagen/data/dictionary_km.toml
  provider/datagen/data/dictionary_lo.toml
  provider/datagen/data/dictionary_my.toml
  provider/datagen/data/dictionary_th.toml
Owners: @sffc, @robertbastian, @Manishearth

Use locale macro more.
  experimental/segmenter/src/complex.rs
  experimental/segmenter/src/dictionary.rs
  experimental/segmenter/src/word.rs
Owners: @aethanyc, @makotokato, @sffc

Add segmenter dictionary data to testdata.
  Cargo.lock
  experimental/segmenter/Cargo.toml
  experimental/segmenter/src/complex.rs
  experimental/segmenter/src/dictionary.rs
  experimental/segmenter/src/lib.rs
  experimental/segmenter/src/line.rs
  experimental/segmenter/src/provider.rs
  experimental/segmenter/src/word.rs
  experimental/segmenter/tests/testdata/cjdic.dict
  experimental/segmenter/tests/testdata/thai.dict
  provider/datagen/data/dictionary_km.toml
  provider/datagen/data/dictionary_lo.toml
  provider/datagen/data/dictionary_my.toml
  provider/datagen/data/dictionary_th.toml
  provider/datagen/src/registry.rs
  provider/datagen/src/transform/segmenter/mod.rs
  provider/testdata/data/baked/any.rs
  provider/testdata/data/baked/mod.rs
  provider/testdata/data/baked/segmenter/mod.rs
  provider/testdata/data/json/fingerprints.txt
  provider/testdata/data/json/segmenter/dictionary@1/th.json
  provider/testdata/data/postcard/fingerprints.txt
Owners: @unicode-org/icu4x-owners, @aethanyc, @makotokato, @sffc, @robertbastian, @Manishearth

Use expect instead of unwrap in test.
  experimental/segmenter/src/complex.rs
Owners: @aethanyc, @makotokato, @sffc

Use DataErrorKind::MissingResourceOptions
  provider/datagen/src/transform/segmenter/mod.rs
Owners: @sffc, @robertbastian, @Manishearth

Remove unnecessary condition in datagen.
  provider/datagen/src/transform/segmenter/mod.rs
Owners: @sffc, @robertbastian, @Manishearth

Fix clippy
  experimental/segmenter/src/complex.rs
Owners: @aethanyc, @makotokato, @sffc

Enable license header check for C & C++ files (#2131)
  tools/scripts/tidy.toml
Owners: @Manishearth, @sffc

add Benchmark (ndjson) benchmark result for 88d887e23ce4322a1ec9c53325bf848e381222db
  benchmarks/datasize/data.js
Owners: @unicode-org/icu4x-owners

add Benchmark (ndjson) benchmark result for 88d887e23ce4322a1ec9c53325bf848e381222db
  benchmarks/binsize/wasm/data.js
Owners: @unicode-org/icu4x-owners

add Benchmark (ndjson) benchmark result for 88d887e23ce4322a1ec9c53325bf848e381222db
  benchmarks/binsize/gz/data.js
Owners: @unicode-org/icu4x-owners

add Rust Benchmark (cargo) benchmark result for 88d887e23ce4322a1ec9c53325bf848e381222db
  benchmarks/perf/utils/uniset/data.js
Owners: @unicode-org/icu4x-owners

add Rust Benchmark (cargo) benchmark result for 88d887e23ce4322a1ec9c53325bf848e381222db
  benchmarks/perf/components/datetime/data.js
Owners: @unicode-org/icu4x-owners

add Rust Benchmark (cargo) benchmark result for 88d887e23ce4322a1ec9c53325bf848e381222db
  benchmarks/perf/utils/fixed_decimal/data.js
Owners: @unicode-org/icu4x-owners

add Rust Benchmark (cargo) benchmark result for 88d887e23ce4322a1ec9c53325bf848e381222db
  benchmarks/perf/components/plurals/data.js
Owners: @unicode-org/icu4x-owners

add Rust Benchmark (cargo) benchmark result for 88d887e23ce4322a1ec9c53325bf848e381222db
  benchmarks/perf/components/locid/data.js
Owners: @unicode-org/icu4x-owners

fixes
  utils/databake/derive/src/lib.rs
  utils/databake/src/lib.rs
Owners: @unicode-org/icu4x-owners

Turn related_iso into an Option
  components/calendar/src/buddhist.rs
  components/calendar/src/ethiopic.rs
  components/calendar/src/gregorian.rs
  components/calendar/src/indian.rs
  components/calendar/src/iso.rs
  components/calendar/src/japanese.rs
  components/calendar/src/types.rs
Owners: @unicode-org/icu4x-owners

Year -> FormattableYear
  components/calendar/src/any_calendar.rs
  components/calendar/src/buddhist.rs
  components/calendar/src/calendar.rs
  components/calendar/src/coptic.rs
  components/calendar/src/date.rs
  components/calendar/src/ethiopic.rs
  components/calendar/src/gregorian.rs
  components/calendar/src/indian.rs
  components/calendar/src/iso.rs
  components/calendar/src/japanese.rs
  components/calendar/src/julian.rs
  components/calendar/src/types.rs
  components/datetime/src/date.rs
  components/datetime/src/mock/zoned_datetime.rs
Owners: @unicode-org/icu4x-owners, @zbraniecki, @gregtatum, @nordzilla

Rename Month to FormattableMonth
  components/calendar/src/any_calendar.rs
  components/calendar/src/buddhist.rs
  components/calendar/src/calendar.rs
  components/calendar/src/calendar_arithmetic.rs
  components/calendar/src/coptic.rs
  components/calendar/src/date.rs
  components/calendar/src/ethiopic.rs
  components/calendar/src/gregorian.rs
  components/calendar/src/indian.rs
  components/calendar/src/iso.rs
  components/calendar/src/japanese.rs
  components/calendar/src/julian.rs
  components/calendar/src/types.rs
  components/datetime/src/date.rs
  components/datetime/src/mock/zoned_datetime.rs
Owners: @unicode-org/icu4x-owners, @zbraniecki, @gregtatum, @nordzilla

mention cyclic/extended
  components/calendar/src/types.rs
Owners: @unicode-org/icu4x-owners

Add segmenter dictionary data to datagen (#2135)
  Cargo.lock
  experimental/segmenter/Cargo.toml
  experimental/segmenter/src/complex.rs
  experimental/segmenter/src/dictionary.rs
  experimental/segmenter/src/lib.rs
  experimental/segmenter/src/line.rs
  experimental/segmenter/src/provider.rs
  experimental/segmenter/src/word.rs
  experimental/segmenter/tests/testdata/cjdic.dict
  experimental/segmenter/tests/testdata/thai.dict
  provider/datagen/data/dictionary_km.toml
  provider/datagen/data/dictionary_lo.toml
  provider/datagen/data/dictionary_my.toml
  provider/datagen/data/dictionary_th.toml
  provider/datagen/src/registry.rs
  provider/datagen/src/transform/segmenter/mod.rs
  provider/testdata/data/baked/any.rs
  provider/testdata/data/baked/mod.rs
  provider/testdata/data/baked/segmenter/mod.rs
  provider/testdata/data/json/fingerprints.txt
  provider/testdata/data/json/segmenter/dictionary@1/th.json
  provider/testdata/data/postcard/fingerprints.txt
Owners: @unicode-org/icu4x-owners, @aethanyc, @makotokato, @sffc, @robertbastian, @Manishearth

add Benchmark (ndjson) benchmark result for 2ac1003bd83501ab70b3136cad7ee0fc7db8ea52
  benchmarks/datasize/data.js
Owners: @unicode-org/icu4x-owners

add Benchmark (ndjson) benchmark result for 2ac1003bd83501ab70b3136cad7ee0fc7db8ea52
  benchmarks/binsize/gz/data.js
Owners: @unicode-org/icu4x-owners

add Benchmark (ndjson) benchmark result for 2ac1003bd83501ab70b3136cad7ee0fc7db8ea52
  benchmarks/binsize/wasm/data.js
Owners: @unicode-org/icu4x-owners

add Rust Benchmark (cargo) benchmark result for 2ac1003bd83501ab70b3136cad7ee0fc7db8ea52
  benchmarks/perf/utils/uniset/data.js
Owners: @unicode-org/icu4x-owners

add Rust Benchmark (cargo) benchmark result for 2ac1003bd83501ab70b3136cad7ee0fc7db8ea52
  benchmarks/perf/utils/fixed_decimal/data.js
Owners: @unicode-org/icu4x-owners

add Rust Benchmark (cargo) benchmark result for 2ac1003bd83501ab70b3136cad7ee0fc7db8ea52
  benchmarks/perf/components/datetime/data.js
Owners: @unicode-org/icu4x-owners

add Rust Benchmark (cargo) benchmark result for 2ac1003bd83501ab70b3136cad7ee0fc7db8ea52
  benchmarks/perf/components/locid/data.js
Owners: @unicode-org/icu4x-owners

add Rust Benchmark (cargo) benchmark result for 2ac1003bd83501ab70b3136cad7ee0fc7db8ea52
  benchmarks/perf/components/plurals/data.js
Owners: @unicode-org/icu4x-owners

Activating list memory benchmark (#2148)
  .github/workflows/build-test.yml
  components/list/Cargo.toml
Owners: @unicode-org/icu4x-owners

Fixing silent datagen error (#2149)
  provider/datagen/src/databake.rs
  provider/datagen/src/source.rs
Owners: @sffc, @robertbastian, @Manishearth

add Benchmark (ndjson) benchmark result for fdab0f12a1343db92581233429bac297ba0ae1c6
  benchmarks/datasize/data.js
Owners: @unicode-org/icu4x-owners

add Benchmark (ndjson) benchmark result for 1ee9587a1ae39715677a53dcaf912460d2b33df1
  benchmarks/datasize/data.js
Owners: @unicode-org/icu4x-owners

Databake implementation tests (#2147)
  components/list/src/provider.rs
  components/list/src/string_matcher.rs
  components/locid/src/databake.rs
  provider/core/src/datagen/payload.rs
  provider/testdata/data/baked/datetime/timesymbols_v1.rs
  provider/testdata/data/baked/decimal/symbols_v1.rs
  provider/testdata/data/baked/time_zone/formats_v1.rs
  utils/codepointtrie/src/codepointtrie.rs
  utils/databake/README.md
  utils/databake/derive/src/lib.rs
  utils/databake/derive/tests/derive.rs
  utils/databake/src/alloc.rs
  utils/databake/src/lib.rs
  utils/databake/src/primitives.rs
  utils/tinystr/src/databake.rs
  utils/uniset/src/uniset.rs
  utils/zerovec/src/flexzerovec/databake.rs
  utils/zerovec/src/map/borrowed.rs
  utils/zerovec/src/map/databake.rs
  utils/zerovec/src/map2d/borrowed.rs
  utils/zerovec/src/map2d/databake.rs
  utils/zerovec/src/varzerovec/databake.rs
  utils/zerovec/src/yoke_impls.rs
  utils/zerovec/src/zerovec/databake.rs
  utils/zerovec/src/zerovec/slice.rs
Owners: @unicode-org/icu4x-owners, @zbraniecki, @nciric, @sffc, @Manishearth

add Benchmark (ndjson) benchmark result for 882e23403327620e4aafde28a9a407bcc6245a54
  benchmarks/datasize/data.js
Owners: @unicode-org/icu4x-owners

add Benchmark (ndjson) benchmark result for fdab0f12a1343db92581233429bac297ba0ae1c6
  benchmarks/binsize/gz/data.js
Owners: @unicode-org/icu4x-owners

add Benchmark (ndjson) benchmark result for 1ee9587a1ae39715677a53dcaf912460d2b33df1
  benchmarks/binsize/wasm/data.js
Owners: @unicode-org/icu4x-owners

add Benchmark (ndjson) benchmark result for fdab0f12a1343db92581233429bac297ba0ae1c6
  benchmarks/binsize/wasm/data.js
Owners: @unicode-org/icu4x-owners
