Repository unicode-org/icu4x, changes with the owners that CODEOWNERS names for each.
All owners: @unicode-org/icu4x-sc, @zbraniecki, @sffc, @nciric, @echeran, @filmil

CODEOWNERS:

# See https://github.blog/2017-07-06-introducing-code-owners/ for details
# Format of the file follows: https://git-scm.com/docs/gitattributes

# Fallback to core group for crates or folders without specific owners, like docs/.

* @unicode-org/icu4x-sc

# List of components with at least two owners as specified in docs/crate-ownership.

components/datetime/            @zbraniecki @sffc
components/locid/               @zbraniecki @nciric
components/plurals/             @zbraniecki @sffc
components/uniset/              @echeran
ffi/ecma402/             @filmil
provider/cldr/       @sffc
provider/core/            @sffc
provider/fs/         @sffc
provider/testdata/             @sffc
utils/fixed_decimal/            @sffc

add Rust Benchmark (cargo) benchmark result for 7ed372f52c29b3740a885f48fdfc00a795f13112
  benchmarks/perf/components/plurals/data.js
Owners: @unicode-org/icu4x-sc

add Heap – ubuntu-latest (ndjson) benchmark result for 7ed372f52c29b3740a885f48fdfc00a795f13112
  benchmarks/memory/ubuntu-latest/data.js
Owners: @unicode-org/icu4x-sc

add Heap – macos-latest (ndjson) benchmark result for 7ed372f52c29b3740a885f48fdfc00a795f13112
  benchmarks/memory/macos-latest/data.js
Owners: @unicode-org/icu4x-sc

add Heap – windows-latest (ndjson) benchmark result for 7ed372f52c29b3740a885f48fdfc00a795f13112
  benchmarks/memory/windows-latest/data.js
Owners: @unicode-org/icu4x-sc

Add zv_serde example, plus improvements to Makefile.toml
  Cargo.lock
  tools/scripts/valgrind.toml
  tools/scripts/wasm.toml
  utils/zerovec/Cargo.toml
  utils/zerovec/examples/zv_serde.rs
Owners: @unicode-org/icu4x-sc

Change FsDataProvider to 'static
  provider/fs/src/fs_data_provider.rs
Owners: @sffc

Change FsDataProvider to 'static (#902)
  provider/fs/src/fs_data_provider.rs
Owners: @sffc

add Rust Benchmark (cargo) benchmark result for 4b48cf79996c997658606e30503ad46f4c586003
  benchmarks/perf/utils/fixed_decimal/data.js
Owners: @unicode-org/icu4x-sc

add Rust Benchmark (cargo) benchmark result for 4b48cf79996c997658606e30503ad46f4c586003
  benchmarks/perf/components/uniset/data.js
Owners: @unicode-org/icu4x-sc

add Rust Benchmark (cargo) benchmark result for 4b48cf79996c997658606e30503ad46f4c586003
  benchmarks/perf/components/datetime/data.js
Owners: @unicode-org/icu4x-sc

add Rust Benchmark (cargo) benchmark result for 4b48cf79996c997658606e30503ad46f4c586003
  benchmarks/perf/components/plurals/data.js
Owners: @unicode-org/icu4x-sc

add Rust Benchmark (cargo) benchmark result for 4b48cf79996c997658606e30503ad46f4c586003
  benchmarks/perf/components/locid/data.js
Owners: @unicode-org/icu4x-sc

add Heap – ubuntu-latest (ndjson) benchmark result for 4b48cf79996c997658606e30503ad46f4c586003
  benchmarks/memory/ubuntu-latest/data.js
Owners: @unicode-org/icu4x-sc

add Heap – windows-latest (ndjson) benchmark result for 4b48cf79996c997658606e30503ad46f4c586003
  benchmarks/memory/windows-latest/data.js
Owners: @unicode-org/icu4x-sc

add Heap – macos-latest (ndjson) benchmark result for 4b48cf79996c997658606e30503ad46f4c586003
  benchmarks/memory/macos-latest/data.js
Owners: @unicode-org/icu4x-sc

Migrate icu_provider_blob
  provider/blob/src/blob_schema.rs
  provider/blob/src/export/blob_exporter.rs
  provider/blob/src/static_data_provider.rs
Owners: @unicode-org/icu4x-sc

Initial change from `'d, 's` to `'data`
  provider/core/README.md
  provider/core/src/data_provider.rs
  provider/core/src/data_provider/test.rs
  provider/core/src/dynutil.rs
  provider/core/src/erased.rs
  provider/core/src/export.rs
  provider/core/src/filter/mod.rs
  provider/core/src/hello_world.rs
  provider/core/src/inv.rs
  provider/core/src/iter.rs
  provider/core/src/lib.rs
  provider/core/src/marker/impls.rs
  provider/core/src/marker/mod.rs
  provider/core/src/serde.rs
  provider/core/src/struct_provider.rs
Owners: @sffc

Fix build of ffi project
  ffi/capi/src/decimal.rs
  ffi/capi/src/locale_canonicalizer.rs
Owners: @unicode-org/icu4x-sc

Fix tests build
  components/datetime/src/skeleton.rs
Owners: @zbraniecki, @sffc

cargo fmt
  components/datetime/src/date.rs
  components/datetime/src/datetime.rs
  components/datetime/src/provider/time_zones.rs
  components/datetime/src/zoned_datetime.rs
  provider/cldr/src/transform/mod.rs
  provider/cldr/src/transform/time_zones/mod.rs
  provider/core/src/erased.rs
  provider/core/src/serde.rs
  provider/fs/src/fs_data_provider.rs
Owners: @zbraniecki, @sffc

Fix clippy lint
  provider/core/src/data_provider/test.rs
Owners: @sffc

Apply review feedback
  experimental/codepointtrie/src/codepointtrie.rs
  experimental/codepointtrie/src/lib.rs
  experimental/codepointtrie/src/planes.rs
  experimental/codepointtrie/src/provider.rs
  experimental/codepointtrie/tests/planes_test.rs
  experimental/codepointtrie/tests/test_util.rs
Owners: @unicode-org/icu4x-sc

Add WriteableTrait to C++ bindings
  ffi/cpp/examples/fixeddecimal/test.cpp
  ffi/cpp/include/decimal.hpp
  ffi/cpp/include/locale.hpp
  ffi/cpp/include/writeable_utils.hpp
Owners: @unicode-org/icu4x-sc

Add more documentation for struct fields
  experimental/codepointtrie/src/codepointtrie.rs
Owners: @unicode-org/icu4x-sc

add Rust Benchmark (cargo) benchmark result for e97c8c3b3d9c129bbf63ffc8162080dd01931ee1
  benchmarks/perf/utils/fixed_decimal/data.js
Owners: @unicode-org/icu4x-sc

add Rust Benchmark (cargo) benchmark result for e97c8c3b3d9c129bbf63ffc8162080dd01931ee1
  benchmarks/perf/components/uniset/data.js
Owners: @unicode-org/icu4x-sc

add Rust Benchmark (cargo) benchmark result for e97c8c3b3d9c129bbf63ffc8162080dd01931ee1
  benchmarks/perf/components/datetime/data.js
Owners: @unicode-org/icu4x-sc

add Rust Benchmark (cargo) benchmark result for e97c8c3b3d9c129bbf63ffc8162080dd01931ee1
  benchmarks/perf/components/locid/data.js
Owners: @unicode-org/icu4x-sc

add Rust Benchmark (cargo) benchmark result for e97c8c3b3d9c129bbf63ffc8162080dd01931ee1
  benchmarks/perf/components/plurals/data.js
Owners: @unicode-org/icu4x-sc

add Heap – ubuntu-latest (ndjson) benchmark result for e97c8c3b3d9c129bbf63ffc8162080dd01931ee1
  benchmarks/memory/ubuntu-latest/data.js
Owners: @unicode-org/icu4x-sc

add Heap – macos-latest (ndjson) benchmark result for e97c8c3b3d9c129bbf63ffc8162080dd01931ee1
  benchmarks/memory/macos-latest/data.js
Owners: @unicode-org/icu4x-sc

add Heap – windows-latest (ndjson) benchmark result for e97c8c3b3d9c129bbf63ffc8162080dd01931ee1
  benchmarks/memory/windows-latest/data.js
Owners: @unicode-org/icu4x-sc

Experiment with static lifetimes on DataProvider
  ffi/capi/src/decimal.rs
  ffi/capi/src/locale_canonicalizer.rs
  provider/blob/src/static_data_provider.rs
  provider/core/README.md
  provider/core/src/data_provider.rs
  provider/core/src/lib.rs
  provider/core/src/serde.rs
Owners: @unicode-org/icu4x-sc, @sffc

Move uniset to no_std
  components/uniset/Cargo.toml
  components/uniset/src/lib.rs
Owners: @echeran

Autoreplace
  components/uniset/src/builder.rs
  components/uniset/src/conversions.rs
  components/uniset/src/lib.rs
  components/uniset/src/props.rs
  components/uniset/src/provider.rs
  components/uniset/src/uniset.rs
  components/uniset/src/utils.rs
Owners: @echeran

Migrate datetime to no_std
  components/datetime/Cargo.toml
  components/datetime/src/lib.rs
Owners: @zbraniecki, @sffc

Autoreplace
  components/datetime/src/date.rs
  components/datetime/src/datetime.rs
  components/datetime/src/error.rs
  components/datetime/src/fields/length.rs
  components/datetime/src/fields/mod.rs
  components/datetime/src/fields/symbols.rs
  components/datetime/src/format/datetime.rs
  components/datetime/src/format/time_zone.rs
  components/datetime/src/format/zoned_datetime.rs
  components/datetime/src/mock/datetime.rs
  components/datetime/src/mock/time_zone.rs
  components/datetime/src/mock/zoned_datetime.rs
  components/datetime/src/options/components.rs
  components/datetime/src/pattern/error.rs
  components/datetime/src/pattern/mod.rs
  components/datetime/src/pattern/parser.rs
  components/datetime/src/provider/gregory.rs
  components/datetime/src/provider/helpers.rs
  components/datetime/src/provider/time_zones.rs
  components/datetime/src/skeleton.rs
  components/datetime/src/time_zone.rs
  components/datetime/src/zoned_datetime.rs
Owners: @zbraniecki, @sffc

fix errors
  components/datetime/src/date.rs
  components/datetime/src/error.rs
  components/datetime/src/fields/length.rs
  components/datetime/src/fields/mod.rs
  components/datetime/src/fields/symbols.rs
  components/datetime/src/pattern/error.rs
  components/datetime/src/skeleton.rs
Owners: @zbraniecki, @sffc

fix lifetime
  ffi/capi/src/provider.rs
Owners: @unicode-org/icu4x-sc

fix import
  components/datetime/src/time_zone.rs
Owners: @zbraniecki, @sffc
