Repository unicode-org/icu4x, changes with the owners that CODEOWNERS names for each.
All owners: @unicode-org/icu4x-owners, @zbraniecki, @gregtatum, @nordzilla, @sffc, @dminor, @nciric, @echeran, @iainireland, @Manishearth, @hsivonen, @aethanyc, @makotokato, @filmil, @robertbastian, @gnrunge

CODEOWNERS:

# See https://github.blog/2017-07-06-introducing-code-owners/ for details
# Format of the file follows: https://git-scm.com/docs/gitattributes

# Fallback to core group for crates or folders without specific owners, like docs/.

* @unicode-org/icu4x-owners

# List of components with at least two owners as specified in docs/crate-ownership.

components/datetime/              @zbraniecki @gregtatum @nordzilla
components/decimal/               @sffc
components/icu/                   @unicode-org/icu4x-owners
components/icu4x/                 @unicode-org/icu4x-owners
components/locale_canonicalizer/  @dminor @zbraniecki
components/locid/                 @zbraniecki @nciric
components/plurals/               @zbraniecki @sffc
components/uniset/                @echeran @iainireland
experimental/bies/                @sffc
experimental/calendar/            @Manishearth @sffc
experimental/codepointtrie/       @echeran
experimental/collator/            @hsivonen @echeran
experimental/normalizer/          @hsivonen @echeran
experimental/provider_ppucd/      @echeran
experimental/segmenter/           @aethanyc @makotokato @sffc
ffi/capi/                         @Manishearth
ffi/cpp/                          @Manishearth
ffi/ecma402/                      @filmil
ffi/wasm/                         @Manishearth
provider/blob/                    @sffc @Manishearth
provider/core/                    @sffc @Manishearth
provider/datagen/                 @sffc @robertbastian @Manishearth
provider/fs/                      @sffc
provider/macros/                  @Manishearth @sffc
provider/testdata/                @unicode-org/icu4x-owners
tools/benchmark/binsize/          @gnrunge
tools/benchmark/macros/           @gregtatum
tools/benchmark/memory/           @gregtatum
tools/scripts/                    @Manishearth @sffc
utils/fixed_decimal/              @sffc
utils/litemap/                    @Manishearth @sffc
utils/pattern/                    @zbraniecki
utils/writeable/                  @sffc
utils/yoke/                       @Manishearth @sffc
utils/zerovec/                    @Manishearth @sffc

fmt
  provider/blob/src/static_data_provider.rs
Owners: @sffc, @Manishearth

more types
  components/list/src/string_matcher.rs
  provider/testdata/data/baked/datetime/timesymbols_v1.rs
  provider/testdata/data/baked/decimal/symbols_v1.rs
  provider/testdata/data/baked/time_zone/formats_v1.rs
  utils/databake/src/alloc.rs
  utils/databake/src/lib.rs
  utils/databake/src/primitives.rs
  utils/zerovec/src/flexzerovec/databake.rs
Owners: @unicode-org/icu4x-owners, @Manishearth, @sffc

readme
  utils/databake/README.md
Owners: @unicode-org/icu4x-owners

no panic
  provider/datagen/src/databake.rs
Owners: @sffc, @robertbastian, @Manishearth

clippy
  provider/datagen/src/databake.rs
Owners: @sffc, @robertbastian, @Manishearth

fix
  utils/databake/derive/tests/derive.rs
Owners: @unicode-org/icu4x-owners

helloworld
  Cargo.lock
  provider/adapters/src/filter/impls.rs
  provider/adapters/src/filter/mod.rs
  provider/adapters/src/fork/by_key.rs
  provider/core/Cargo.toml
  provider/core/src/buf.rs
  provider/core/src/hello_world.rs
  provider/datagen/src/registry.rs
  provider/fs/Cargo.toml
  provider/fs/tests/test_file_io.rs
Owners: @unicode-org/icu4x-owners, @sffc, @Manishearth, @robertbastian

Class Hierarchy for DateTimeFormat (#2133)
  components/datetime/src/datetime.rs
  components/datetime/src/lib.rs
  components/datetime/src/provider/calendar/mod.rs
  components/datetime/src/provider/date_time.rs
  components/datetime/src/raw/datetime.rs
  components/datetime/src/raw/mod.rs
  components/datetime/tests/datetime.rs
Owners: @zbraniecki, @gregtatum, @nordzilla

add Benchmark (ndjson) benchmark result for ba52ba20451ae48ac756bddc6c00f2f2f9c41724
  benchmarks/datasize/data.js
Owners: @unicode-org/icu4x-owners

add Benchmark (ndjson) benchmark result for ba52ba20451ae48ac756bddc6c00f2f2f9c41724
  benchmarks/binsize/wasm/data.js
Owners: @unicode-org/icu4x-owners

add Benchmark (ndjson) benchmark result for ba52ba20451ae48ac756bddc6c00f2f2f9c41724
  benchmarks/binsize/gz/data.js
Owners: @unicode-org/icu4x-owners

add Rust Benchmark (cargo) benchmark result for ba52ba20451ae48ac756bddc6c00f2f2f9c41724
  benchmarks/perf/utils/uniset/data.js
Owners: @unicode-org/icu4x-owners

add Rust Benchmark (cargo) benchmark result for ba52ba20451ae48ac756bddc6c00f2f2f9c41724
  benchmarks/perf/utils/fixed_decimal/data.js
Owners: @unicode-org/icu4x-owners

add Rust Benchmark (cargo) benchmark result for ba52ba20451ae48ac756bddc6c00f2f2f9c41724
  benchmarks/perf/components/datetime/data.js
Owners: @unicode-org/icu4x-owners

add Rust Benchmark (cargo) benchmark result for ba52ba20451ae48ac756bddc6c00f2f2f9c41724
  benchmarks/perf/components/locid/data.js
Owners: @unicode-org/icu4x-owners

add Rust Benchmark (cargo) benchmark result for ba52ba20451ae48ac756bddc6c00f2f2f9c41724
  benchmarks/perf/components/plurals/data.js
Owners: @unicode-org/icu4x-owners

mention const
  utils/databake/derive/src/lib.rs
  utils/databake/src/lib.rs
Owners: @unicode-org/icu4x-owners

datagen
  Cargo.lock
  components/datetime/src/provider/time_zones.rs
  provider/blob/Cargo.toml
  provider/core/src/resource.rs
  provider/datagen/Cargo.toml
  provider/datagen/src/databake.rs
  provider/datagen/src/transform/cldr/cldr_serde/aliases.rs
  provider/datagen/src/transform/cldr/cldr_serde/ca.rs
  provider/datagen/src/transform/cldr/cldr_serde/japanese.rs
  provider/datagen/src/transform/cldr/cldr_serde/likely_subtags.rs
  provider/datagen/src/transform/cldr/cldr_serde/list_patterns.rs
  provider/datagen/src/transform/cldr/cldr_serde/numbering_systems.rs
  provider/datagen/src/transform/cldr/cldr_serde/numbers.rs
  provider/datagen/src/transform/cldr/cldr_serde/parent_locales.rs
  provider/datagen/src/transform/cldr/cldr_serde/plurals.rs
  provider/datagen/src/transform/cldr/cldr_serde/time_zones/bcp47_tzid.rs
  provider/datagen/src/transform/cldr/cldr_serde/time_zones/meta_zones.rs
  provider/datagen/src/transform/cldr/cldr_serde/time_zones/mod.rs
  provider/datagen/src/transform/cldr/cldr_serde/time_zones/time_zone_names.rs
  provider/datagen/src/transform/cldr/datetime/mod.rs
  provider/datagen/src/transform/cldr/datetime/skeletons.rs
  provider/datagen/src/transform/cldr/plurals/mod.rs
  provider/datagen/src/transform/cldr/time_zones/convert.rs
  provider/datagen/src/transform/cldr/time_zones/mod.rs
  provider/datagen/tests/verify-zero-copy.rs
  provider/testdata/data/baked/datetime/datelengths_v1.rs
  provider/testdata/data/baked/datetime/skeletons_v1.rs
  provider/testdata/data/baked/datetime/timelengths_v1.rs
  provider/testdata/data/baked/datetime/timesymbols_v1.rs
Owners: @unicode-org/icu4x-owners, @zbraniecki, @gregtatum, @nordzilla, @sffc, @Manishearth, @robertbastian

no perf bench
  .github/workflows/build-test.yml
Owners: @unicode-org/icu4x-owners

CollationHanDatabase
  provider/datagen/src/bin/datagen.rs
  provider/datagen/src/lib.rs
  provider/datagen/src/source.rs
  provider/datagen/src/transform/icuexport/collator/mod.rs
Owners: @sffc, @robertbastian, @Manishearth

doc fix
  provider/core/src/datagen/payload.rs
Owners: @sffc, @Manishearth

fmt
  provider/datagen/src/databake.rs
  provider/testdata/data/baked/any.rs
Owners: @sffc, @robertbastian, @Manishearth, @unicode-org/icu4x-owners

convert metazone period from string to i32 (#2085)
  components/calendar/src/error.rs
  components/calendar/src/iso.rs
  components/datetime/src/provider/time_zones.rs
  provider/datagen/src/transform/cldr/time_zones/convert.rs
  provider/datagen/src/transform/cldr/time_zones/mod.rs
  provider/testdata/data/baked/time_zone/metazone_period_v1.rs
  provider/testdata/data/json/fingerprints.txt
  provider/testdata/data/json/time_zone/metazone_period@1/ar-EG.json
  provider/testdata/data/json/time_zone/metazone_period@1/ar.json
  provider/testdata/data/json/time_zone/metazone_period@1/bn.json
  provider/testdata/data/json/time_zone/metazone_period@1/ccp.json
  provider/testdata/data/json/time_zone/metazone_period@1/en-001.json
  provider/testdata/data/json/time_zone/metazone_period@1/en-ZA.json
  provider/testdata/data/json/time_zone/metazone_period@1/en.json
  provider/testdata/data/json/time_zone/metazone_period@1/es-AR.json
  provider/testdata/data/json/time_zone/metazone_period@1/es.json
  provider/testdata/data/json/time_zone/metazone_period@1/fil.json
  provider/testdata/data/json/time_zone/metazone_period@1/fr.json
  provider/testdata/data/json/time_zone/metazone_period@1/ja.json
  provider/testdata/data/json/time_zone/metazone_period@1/ru.json
  provider/testdata/data/json/time_zone/metazone_period@1/sr-Cyrl.json
  provider/testdata/data/json/time_zone/metazone_period@1/sr-Latn.json
  provider/testdata/data/json/time_zone/metazone_period@1/sr.json
  provider/testdata/data/json/time_zone/metazone_period@1/th.json
  provider/testdata/data/json/time_zone/metazone_period@1/tr.json
  provider/testdata/data/json/time_zone/metazone_period@1/und.json
  provider/testdata/data/postcard/fingerprints.txt
  provider/testdata/data/testdata.postcard
Owners: @unicode-org/icu4x-owners, @zbraniecki, @gregtatum, @nordzilla, @sffc, @robertbastian, @Manishearth

add Benchmark (ndjson) benchmark result for 3b9553eb44a9f36ac3fb245f15890a7bd2324cd9
  benchmarks/datasize/data.js
Owners: @unicode-org/icu4x-owners

add Benchmark (ndjson) benchmark result for 3b9553eb44a9f36ac3fb245f15890a7bd2324cd9
  benchmarks/binsize/gz/data.js
Owners: @unicode-org/icu4x-owners

add Benchmark (ndjson) benchmark result for 3b9553eb44a9f36ac3fb245f15890a7bd2324cd9
  benchmarks/binsize/wasm/data.js
Owners: @unicode-org/icu4x-owners

add Rust Benchmark (cargo) benchmark result for 3b9553eb44a9f36ac3fb245f15890a7bd2324cd9
  benchmarks/perf/utils/uniset/data.js
Owners: @unicode-org/icu4x-owners

add Rust Benchmark (cargo) benchmark result for 3b9553eb44a9f36ac3fb245f15890a7bd2324cd9
  benchmarks/perf/utils/fixed_decimal/data.js
Owners: @unicode-org/icu4x-owners

add Rust Benchmark (cargo) benchmark result for 3b9553eb44a9f36ac3fb245f15890a7bd2324cd9
  benchmarks/perf/components/datetime/data.js
Owners: @unicode-org/icu4x-owners

add Rust Benchmark (cargo) benchmark result for 3b9553eb44a9f36ac3fb245f15890a7bd2324cd9
  benchmarks/perf/components/locid/data.js
Owners: @unicode-org/icu4x-owners

add Rust Benchmark (cargo) benchmark result for 3b9553eb44a9f36ac3fb245f15890a7bd2324cd9
  benchmarks/perf/components/plurals/data.js
Owners: @unicode-org/icu4x-owners

Formatting databake any.rs correctly (#2154)
  provider/datagen/src/databake.rs
  provider/testdata/data/baked/any.rs
Owners: @sffc, @robertbastian, @Manishearth, @unicode-org/icu4x-owners

add Benchmark (ndjson) benchmark result for 0239dcce3478efdf39cd462528d456adceacf7d2
  benchmarks/datasize/data.js
Owners: @unicode-org/icu4x-owners

add Benchmark (ndjson) benchmark result for 0239dcce3478efdf39cd462528d456adceacf7d2
  benchmarks/binsize/gz/data.js
Owners: @unicode-org/icu4x-owners

add Benchmark (ndjson) benchmark result for 0239dcce3478efdf39cd462528d456adceacf7d2
  benchmarks/binsize/wasm/data.js
Owners: @unicode-org/icu4x-owners

add Rust Benchmark (cargo) benchmark result for 0239dcce3478efdf39cd462528d456adceacf7d2
  benchmarks/perf/utils/uniset/data.js
Owners: @unicode-org/icu4x-owners

add Rust Benchmark (cargo) benchmark result for 0239dcce3478efdf39cd462528d456adceacf7d2
  benchmarks/perf/utils/fixed_decimal/data.js
Owners: @unicode-org/icu4x-owners

add Rust Benchmark (cargo) benchmark result for 0239dcce3478efdf39cd462528d456adceacf7d2
  benchmarks/perf/components/datetime/data.js
Owners: @unicode-org/icu4x-owners

add Rust Benchmark (cargo) benchmark result for 0239dcce3478efdf39cd462528d456adceacf7d2
  benchmarks/perf/components/locid/data.js
Owners: @unicode-org/icu4x-owners

add Rust Benchmark (cargo) benchmark result for 0239dcce3478efdf39cd462528d456adceacf7d2
  benchmarks/perf/components/plurals/data.js
Owners: @unicode-org/icu4x-owners
