Repository unicode-org/icu4x, changes with the owners that CODEOWNERS names for each.
All owners: @unicode-org/icu4x-sc, @zbraniecki, @sffc, @nciric, @echeran, @filmil

add Rust Benchmark (cargo) benchmark result for d3a5153c6da23e434a05ddfae441d2ecc39f1d5c
  benchmarks/perf/components/uniset/data.js
Owners: @unicode-org/icu4x-sc

add Rust Benchmark (cargo) benchmark result for d3a5153c6da23e434a05ddfae441d2ecc39f1d5c
  benchmarks/perf/components/datetime/data.js
Owners: @unicode-org/icu4x-sc

add Rust Benchmark (cargo) benchmark result for d3a5153c6da23e434a05ddfae441d2ecc39f1d5c
  benchmarks/perf/components/locid/data.js
Owners: @unicode-org/icu4x-sc

add Rust Benchmark (cargo) benchmark result for d3a5153c6da23e434a05ddfae441d2ecc39f1d5c
  benchmarks/perf/components/plurals/data.js
Owners: @unicode-org/icu4x-sc

add Heap – ubuntu-latest (ndjson) benchmark result for d3a5153c6da23e434a05ddfae441d2ecc39f1d5c
  benchmarks/memory/ubuntu-latest/data.js
Owners: @unicode-org/icu4x-sc

add Heap – macos-latest (ndjson) benchmark result for d3a5153c6da23e434a05ddfae441d2ecc39f1d5c
  benchmarks/memory/macos-latest/data.js
Owners: @unicode-org/icu4x-sc

add Heap – windows-latest (ndjson) benchmark result for d3a5153c6da23e434a05ddfae441d2ecc39f1d5c
  benchmarks/memory/windows-latest/data.js
Owners: @unicode-org/icu4x-sc

Fix clippy warning in yoke derive
  utils/yoke/derive/src/lib.rs
Owners: @unicode-org/icu4x-sc

Convert iterations on inversion list for ZeroVec
  Cargo.lock
  components/uniset/Cargo.toml
  components/uniset/src/uniset.rs
Owners: @unicode-org/icu4x-sc, @echeran

Update lockfile for latest Diplomat
  Cargo.lock
Owners: @unicode-org/icu4x-sc

Set up CI to run Diplomat
  .github/workflows/build-test.yml
  Cargo.lock
  ffi/capi/Cargo.toml
  tools/scripts/ffi.toml
  tools/scripts/wasm.toml
Owners: @unicode-org/icu4x-sc

Update lifetime parameters for conversions.rs
  components/uniset/src/conversions.rs
  components/uniset/src/uniset.rs
Owners: @echeran

Add some lifetime parameters for provider.rs
  components/uniset/src/provider.rs
Owners: @echeran

Add lifetime parameters in props.rs
  components/uniset/src/builder.rs
  components/uniset/src/props.rs
  components/uniset/src/uniset.rs
Owners: @echeran

Add lifetime parameter signature on impl block declarations
  components/uniset/src/builder.rs
  components/uniset/src/uniset.rs
Owners: @echeran

Add question for review
  components/uniset/src/uniset.rs
Owners: @echeran

Fix clippy warning
  utils/yoke/derive/src/lib.rs
Owners: @unicode-org/icu4x-sc

clippy zerovec
  utils/zerovec/benches/zerovec.rs
  utils/zerovec/benches/zerovec_iai.rs
  utils/zerovec/src/map/kv.rs
  utils/zerovec/src/ule/chars.rs
  utils/zerovec/src/zerovec/mod.rs
Owners: @unicode-org/icu4x-sc

fix clippy
  utils/pattern/benches/parser_iai.rs
  utils/pattern/src/interpolator/mod.rs
  utils/pattern/src/parser/mod.rs
Owners: @unicode-org/icu4x-sc

more fix
  components/datetime/src/fields/symbols.rs
  components/datetime/src/format/datetime.rs
  components/datetime/src/pattern/transform_hour_cycle.rs
  components/datetime/src/skeleton.rs
  components/locale_canonicalizer/src/locale_canonicalizer.rs
  components/plurals/src/rules/parser.rs
  experimental/calendar/src/iso.rs
  provider/cldr/src/transform/dates/patterns.rs
  provider/cldr/src/transform/dates/symbols.rs
  provider/cldr/src/transform/numbers/mod.rs
  provider/cldr/src/transform/plurals.rs
  provider/cldr/src/transform/time_zones/cldr_json/mod.rs
  provider/cldr/src/transform/time_zones/mod.rs
  provider/core/src/hello_world.rs
  tools/datagen/src/bin/datagen.rs
Owners: @zbraniecki, @sffc, @unicode-org/icu4x-sc

fmt
  provider/cldr/src/transform/dates/patterns.rs
Owners: @sffc

fix
  experimental/segmenter/src/lstm.rs
  provider/testdata/src/blob.rs
  utils/zerovec/src/varzerovec/serde.rs
Owners: @unicode-org/icu4x-sc, @sffc

fix test
  components/decimal/src/grouper.rs
  components/locid/examples/filter_langids.rs
  components/locid/examples/syntatically_canonicalize_locales.rs
  components/locid/tests/locale.rs
  components/plurals/benches/parser.rs
  components/uniset/src/builder.rs
  experimental/provider_ppucd/src/parse_ppucd.rs
  experimental/segmenter/src/line_breaker.rs
Owners: @unicode-org/icu4x-sc, @zbraniecki, @nciric, @sffc, @echeran

more fix
  provider/core/tests/data_receiver.rs
  utils/fixed_decimal/benches/fixed_decimal.rs
  utils/zerovec/benches/vzv.rs
  utils/zerovec/benches/zerovec.rs
  utils/zerovec/benches/zerovec_serde.rs
Owners: @sffc, @unicode-org/icu4x-sc

fmt
  utils/zerovec/benches/zerovec_serde.rs
Owners: @unicode-org/icu4x-sc

Add build step that checks if Diplomat bindings are up-to-date
  tools/scripts/ffi.toml
  tools/scripts/wasm.toml
Owners: @unicode-org/icu4x-sc

Fix clippy warnings arising from Rust version upgrade (#923)
  components/datetime/src/fields/symbols.rs
  components/datetime/src/format/datetime.rs
  components/datetime/src/pattern/transform_hour_cycle.rs
  components/datetime/src/skeleton.rs
  components/decimal/src/grouper.rs
  components/locale_canonicalizer/src/locale_canonicalizer.rs
  components/locid/examples/filter_langids.rs
  components/locid/examples/syntatically_canonicalize_locales.rs
  components/locid/tests/locale.rs
  components/plurals/benches/parser.rs
  components/plurals/src/rules/parser.rs
  components/uniset/src/builder.rs
  experimental/calendar/src/iso.rs
  experimental/provider_ppucd/src/parse_ppucd.rs
  experimental/segmenter/src/line_breaker.rs
  experimental/segmenter/src/lstm.rs
  provider/cldr/src/transform/dates/patterns.rs
  provider/cldr/src/transform/dates/symbols.rs
  provider/cldr/src/transform/numbers/mod.rs
  provider/cldr/src/transform/plurals.rs
  provider/cldr/src/transform/time_zones/cldr_json/mod.rs
  provider/cldr/src/transform/time_zones/mod.rs
  provider/core/src/hello_world.rs
  provider/core/tests/data_receiver.rs
  provider/testdata/src/blob.rs
  tools/datagen/src/bin/datagen.rs
  utils/fixed_decimal/benches/fixed_decimal.rs
  utils/pattern/benches/parser_iai.rs
  utils/pattern/src/interpolator/mod.rs
  utils/pattern/src/parser/mod.rs
  utils/yoke/derive/src/lib.rs
  utils/zerovec/benches/vzv.rs
  utils/zerovec/benches/zerovec.rs
  utils/zerovec/benches/zerovec_iai.rs
  utils/zerovec/benches/zerovec_serde.rs
  utils/zerovec/src/map/kv.rs
  utils/zerovec/src/ule/chars.rs
  utils/zerovec/src/varzerovec/serde.rs
  utils/zerovec/src/zerovec/mod.rs
Owners: @zbraniecki, @sffc, @unicode-org/icu4x-sc, @nciric, @echeran

Only diff ffi
  tools/scripts/ffi.toml
Owners: @unicode-org/icu4x-sc

add Rust Benchmark (cargo) benchmark result for d12a5c53366b650f27e1bad8bec9791f432df4ad
  benchmarks/perf/utils/fixed_decimal/data.js
Owners: @unicode-org/icu4x-sc

add Rust Benchmark (cargo) benchmark result for d12a5c53366b650f27e1bad8bec9791f432df4ad
  benchmarks/perf/components/locid/data.js
Owners: @unicode-org/icu4x-sc

add Rust Benchmark (cargo) benchmark result for d12a5c53366b650f27e1bad8bec9791f432df4ad
  benchmarks/perf/components/uniset/data.js
Owners: @unicode-org/icu4x-sc

add Benchmark (ndjson) benchmark result for d12a5c53366b650f27e1bad8bec9791f432df4ad
  benchmarks/binsize/data.js
Owners: @unicode-org/icu4x-sc

add Rust Benchmark (cargo) benchmark result for d12a5c53366b650f27e1bad8bec9791f432df4ad
  benchmarks/perf/components/plurals/data.js
Owners: @unicode-org/icu4x-sc

add Rust Benchmark (cargo) benchmark result for d12a5c53366b650f27e1bad8bec9791f432df4ad
  benchmarks/perf/components/datetime/data.js
Owners: @unicode-org/icu4x-sc

add Heap – ubuntu-latest (ndjson) benchmark result for d12a5c53366b650f27e1bad8bec9791f432df4ad
  benchmarks/memory/ubuntu-latest/data.js
Owners: @unicode-org/icu4x-sc

add Heap – windows-latest (ndjson) benchmark result for d12a5c53366b650f27e1bad8bec9791f432df4ad
  benchmarks/memory/windows-latest/data.js
Owners: @unicode-org/icu4x-sc

add Heap – macos-latest (ndjson) benchmark result for d12a5c53366b650f27e1bad8bec9791f432df4ad
  benchmarks/memory/macos-latest/data.js
Owners: @unicode-org/icu4x-sc

Update Diplomat rev
  .github/workflows/build-test.yml
  Cargo.lock
  ffi/capi/Cargo.toml
Owners: @unicode-org/icu4x-sc

add Rust Benchmark (cargo) benchmark result for c70c9dd5fdb13d45fc16388c78a6bd3e759430c4
  benchmarks/perf/utils/fixed_decimal/data.js
Owners: @unicode-org/icu4x-sc

add Rust Benchmark (cargo) benchmark result for c70c9dd5fdb13d45fc16388c78a6bd3e759430c4
  benchmarks/perf/components/uniset/data.js
Owners: @unicode-org/icu4x-sc

CODEOWNERS:

# See https://github.blog/2017-07-06-introducing-code-owners/ for details
# Format of the file follows: https://git-scm.com/docs/gitattributes

# Fallback to core group for crates or folders without specific owners, like docs/.

* @unicode-org/icu4x-sc

# List of components with at least two owners as specified in docs/crate-ownership.

components/datetime/            @zbraniecki @sffc
components/locid/               @zbraniecki @nciric
components/plurals/             @zbraniecki @sffc
components/uniset/              @echeran
ffi/ecma402/             @filmil
provider/cldr/       @sffc
provider/core/            @sffc
provider/fs/         @sffc
provider/testdata/             @sffc
utils/fixed_decimal/            @sffc
